[2016-09-02 22:42] weshaggard opened #1 "AppDomain APIs"
We need to figure out which set of AppDomain APIs to include as part of the standard. There is a large intersection with technology we don't want in the standard, such as Ref.Emit, CAS, Remoting, ClickOnce, etc.

[2016-09-02 23:08] weshaggard opened #2 "TypeLib APIs"
While factoring out reflection.emit we broke compat with some TypeLib APIs (see https://github.com/dotnet/standard/blob/master/netstandard/src/ApiCompatBaseline.net461.txt#L2) (https://github.com/dotnet/standard/blob/1b362679bcb0f3c673965021e997e8e007fd318f/extensions/reflection.emit/reflection.emit.cs#L29)

Given one is an interface which we cannot keep compatible I'm think we should remove it fr

[2016-09-06 17:54] danmoseley opened #3 "crypto api's"
for the app bringup effort, we trimmed some of the crypto API's that were problematic and had limited or no usage. (spreadsheet on request)

for .net standard 2.0, we're defaulting to included. this principle needs to be reconciled with the crypto API.

@bartonjs fyi.

[2016-09-07 17:42] weshaggard opened #4 "Xamarin compat issues with netstandard"
For reference we have a compat baseline file at https://github.com/dotnet/standard/blob/master/netstandard/src/ApiCompatBaseline.xamarin.ios.txt which represents the current API Compat issues between netstandard and Xamarian.IOS (which is what I'm using as my reference). The current netstandard is still a work in progress and it was seeded with net461 so there is still plenty of filtering we need

[2016-09-07 21:02] weshaggard opened #5 "System.Web.HttpUtility"
HttpUtility is helper type that traditionally lives in System.Web.dll and we have a replacement for some of the functionality in System.Net.WebUtility. We have said we don't want System.Web stuff to be in the standard but this type does have some usage so the question is should we include it in the standard or not?

[2016-09-07 21:03] weshaggard opened #6 "Obsolete APIs"
We have a fair amount of APIs that are marked as Obsolete in both net461 and xamarian should we include them in the standard?

[2016-09-08 01:25] weshaggard opened #7 "MarshalByRefObject"
We are excluding Remoting APIs from the standard and as part of that we need to decide what to do with MarshalByRefObject. There are a few options:

1. Remove MarshalByRefObject as well
2. Remove just CreateObjRef method from MarshalByRefObject to break the remoting API dependency.
3. Pull in the closer of ObjRef into netstandard so we can have a complete closer of MarshalByRefObject in the standa

[2016-09-08 01:29] weshaggard opened #8 "BinaryFormatter remoting dependencies"
We want to remove Remoting APIs from the standard but we want to keep BinaryFormatter but it has a dependency on a few Remoting APIs.

[code]

As part of removing the remoting APIs I'm planning to remove the APIs on BinaryFormatter that depend on them. Currently they don't have any notable usage and we can get the majority of the value of BinaryFormatter without them so I'm leaning towards removin

[2016-09-08 18:55] weshaggard opened #10 "SecurityException members removed because of CAS"
SecurityException is used for more then just CAS stuff but it contains a lot of CAS related members so with the removal of CAS we removed a number of members.

[code]

Given those members don't really show any usage in our data I think we should just exclude them from the standard.

[2016-09-08 19:07] weshaggard opened #11 "IsolatedStorage members removed because of CAS"
While removing CAS APIs I needed to remove the following members from IsolatedStorage:

[code]

The abstract member removal from IsolatedStorage is the one that causes the most issues as we cannot have a compatible surface area. For example someone compiling against netstandard and deriving from IsolatedStorage will not see or know they need to implement that abstract member and thus when they run

[2016-09-08 19:30] weshaggard opened #12 "SecurityPermissionAttribute removal as part of CAS"
While removing CAS SecurityPermissionAttribute was also removed however there is decent amount of usage (https://apisof.net/catalog/System.Security.Permissions.SecurityPermissionAttribute) because a lot of existing binaries just have it applied even if it does nothing. It does pull in a decent amount of other APIs in its closure.

Given it is just a marker attribute similar to SecurityCriticalAttr

[2016-09-09 18:28] #8 closed, assigned to weshaggard

[2016-09-12 15:53] weshaggard opened #15 "Investigate ACL APIs"
The AccessControl APIs are windows specific but cross-cutting across various other APIs in the standard. We need to take a closer look at what APIs get broken if we remove them from the standard.

[2016-09-12 16:45] #10 closed, assigned to weshaggard

[2016-09-13 05:15] weshaggard opened #17 "IDataContractSurrogate"
While factoring out CodeDom (https://github.com/dotnet/standard/commit/3238783c26a942930733f04600c6fdc9e9b77765)  I had to remove IDataContractSurrogate as well because it depends on System.CodeDom.CodeTypeDeclaration which has a fairly large closure from CodeDom. This causes a number of serialization APIs to be removed which we may need to figure out a solution for.

Xamarin removes the member fr

[2016-09-13 22:04] weshaggard opened #18 "Marshal type"
The Marshal type currently has lot members which are related to COM and other things which are missing in Xamarin:

[code]

We need to decide whether or not we add these to the netstandard or if we make people that want to use them cross-compile to .NET Framework?

cc @yizhang82 @tijoytom

[2016-09-13 23:57] #12 closed, assigned to weshaggard

[2016-09-14 05:29] weshaggard opened #20 "Remove ArgIterator/TypedReference"
Remove ArgIterator and TypedReference along with any __arglist overloads as they aren't easily supported on some platforms and there mostly only for managed c++ support which isn't really supported by our newer platforms.

[2016-09-14 19:51] #11 closed, assigned to weshaggard

[2016-09-14 19:56] #2 closed, assigned to weshaggard

[2016-09-15 00:04] #3 closed, assigned to weshaggard

[2016-09-16 22:30] jcouv opened #22 "Add reference to ValueTuple package to NetStandard2.0 meta-package"
Although the ValueTuple and related types won't be part of the 2.0 standard, the meta-package which supports the experience in VisualStudio will reference some additional types for convenience.

@weshaggard @ericstj @tarekgh @terrajobst  for information and triage.

[2016-09-17 04:59] #17 closed, assigned to nobody

[2016-09-17 05:00] #1 closed, assigned to weshaggard

[2016-09-20 20:51] #15 closed, assigned to weshaggard

[2016-09-20 20:52] #18 closed, assigned to weshaggard

[2016-09-20 21:45] #5 closed, assigned to weshaggard

[2016-09-21 00:30] #6 closed, assigned to weshaggard

[2016-09-23 20:02] weshaggard opened #24 "Compare netstandard with older PCL profiles"
We need to compare netstandard.dll with the older PCL profiles. This includes the older v1 PCL profiles as well as the contract based PCL profiles. netstandard needs to contain all the APIs in those profiles.

[2016-09-23 20:13] stephentoub opened #25 "Remove SmtpClient.ServicePoint"
- It has zero usage in any of our usage catalogues.
- It's stubbed out to throw a NotImplementedException on Mono.
- ServicePoint in Core will live in System.Net.Requests.dll, and we don't want System.Net.Mail.dll to need a dependency on the former, simply to maintain the API shape (it likely wouldn't use it for implementation).

[2016-09-25 15:43] akoeplinger opened #26 "Make casing of csproj and assemblies consistent"
Right now the casing of the csproj's is inconsistent, leading to output assemblies with names like this e.g. for net461:

![image](https://cloud.githubusercontent.com/assets/1376924/18816316/667fb96c-8347-11e6-90e4-d4e4ac525ff3.png)

We should either make everything lowercase, or use the casing the assemblies have used in the past everywhere.

[2016-09-26 16:27] #25 closed, assigned to weshaggard

[2016-09-26 20:54] Tornhoof opened #28 "Inconsistent Library listings"
https://github.com/dotnet/standard/blob/master/docs/netstandard-20/netstandard-20-apis.md
excludes Microsoft.Csharp
but
https://github.com/dotnet/standard/blob/master/docs/netstandard-20/README.md
includes it.
Please have consistent information.

[2016-09-26 21:25] FransBouma opened #29 "Excel File with apis isn't found"
This document: https://github.com/dotnet/standard/blob/master/docs/netstandard-20/netstandard-20-apis.md

specifies:
[code]
But that file isn't found. Where is it located?

[2016-09-26 21:27] FransBouma opened #30 "Why is there no System.Data in netstandard20?"
The absence of a data story for netstandard20 is a bad sign. If System.Data was part of netstandard, it would be controlled by a committee, things would be designed in the open. Now it's a black box, designed by the SQL Server team who is almost non-existent across the .NET repositories here on github, and communicating with them is in one word: terrible.

For data-oriented libraries and applicati

[2016-09-27 00:04] #4 closed

[2016-09-27 03:03] terrajobst commented on #28
The blog post is current. I'll update the contents in this repo shortly.

[2016-09-27 03:06] terrajobst commented on #29
It's on an internal share but it's outdated at this point. The source of truth is our reference assembly:

https://github.com/dotnet/standard/tree/master/netstandard/ref

We currently don't have build drops. My plan is to make the contents browsable via https://apisof.net.

[2016-09-27 06:18] weshaggard commented on #24
I need to setup some APICompat verifications on these profiles but from a quick diff with NS1.6 work I see the following types missing:
[code]

[2016-09-27 20:13] johnbraden opened #32 "netstandard20 portability on .NET Core"
We've developed a library for the .NET Core framework with the build target netstandard1.6. It can be executed in Windows, Linux and Mac OS. If we update to netstandard20, will it work on all platforms?

Project: https://github.com/blackcity/backload
Website: https://www.backload.org

[2016-09-27 20:25] benaadams commented on #32
I assume not currently as only .NET 4.6.1+ will currently support netstandard20 - though it will eventually. More details here https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

[2016-09-28 06:24] ngbrown commented on #30
I don't see `System.Data` making a comeback.  Much of it was excluded in .NET Core, and according to the [documentation for netstandard](https://github.com/dotnet/standard/tree/master/docs/netstandard-20#composition), it was [entirely excluded](https://github.com/dotnet/standard/blob/master/docs/netstandard-20/netstandard-20-apis.md#steps-used-to-produce-the-list-of-apis) this go around.  This is

[2016-09-28 07:29] FransBouma commented on #30
I know it was excluded but that's not telling me why. There's not a platform out there which doesn't have a data story, every app needs data, even if it reads from sqlite. If Xamarin.* are the deciding factors, IMHO it's still a lowest common demeanor system and that doesn't bode well.

Immo told me there will be a System.Data built on top of netstandard but the versioning of that is unclear: if i

[2016-09-28 07:30] FransBouma commented on #29
Ok :)

[2016-09-28 07:30] #29 closed

[2016-09-28 07:42] johnbraden commented on #32
Thanks.
But what does this mean for platform portability? Currently our library supports Linux and Mac OS with netstandard1.6 target on .NET Core (resp. ASP.NET Core). When .NET Core moves to .NET Standard 2 can it be executed on these platforms?  Or do you give up platform portability for .NET Core in order to become .NET Standard 2 compatibile faster? I have some doubts that .NET Standard 2 will

[2016-09-28 12:40] benaadams commented on #32
Do you need .NET Standard 2.0? For example if you target .NET Standard 1.3 that will give you wider cross platform compatibility now (including Mono, UWP, iOS, Android and Core) whereas 2.0 will be in the future and .NET Standard 1.3 is automatically compatible with 2.0.

[2016-09-28 16:51] SamuelEnglard opened #34 "Why are we including `System.Threading.Thread` in .NET Standard?"
There are very few times developers should be using raw .NET threads anymore so why include them?

[2016-09-28 17:40] terrajobst opened #35 "RCF: Creating an FAQ"
After publishing the [blog post on .NET Standard](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/), many people have pinged me with additional questions. I'd like to collect them all so we can answer them.

Please comment below, I'll keep a running tally in here.

[2016-09-28 17:41] mellinoe commented on #34
There is some relevant discussion [here](https://github.com/dotnet/corefx/issues/2576).

Aside from that, it's the same reason we are bringing anything back into the standard: compatibility. Even if there were NO reason to ever use threads anymore, we would still add them back. Lots of things are going to be in the standard that you should realistically never use when writing new code. And anyways

[2016-09-28 17:56] herecydev commented on #35
Will there be sufficient tooling to highlight APIs that are not part of the .NET standard? Historically tooling has always been slow, but it would be ideal to highlight areas that are not compatible and hand hold developers into making in .NET standard worthy.

[2016-09-28 17:58] davidfowl commented on #34
Threads are fine. Most standard libraries on out there on other platforms let you make threads (yes real threads not just green threads).

[2016-09-28 17:59] paavohuhtala commented on #34
While most .NET applications don't necessarily use raw threads in their own code, all of the built-in concurrency abstractions (including Tasks) depend on the low level threading primitives, and they're very useful for library authors, for libraries such as [Akka.NET](https://github.com/akkadotnet/akka.net) and [Hopac](https://github.com/Hopac/Hopac). Raw threads, semaphores and mutexes will never

[2016-09-28 18:00] benaadams commented on #35
As a library author which version of .NET Standard should I target?

[2016-09-28 18:03] davidfowl commented on #32
.NET Standard 2.0 does not take away .NET Core's ability to run on multiple OSes. The blog post didn't call it out explicitly but nothing is going away.

[2016-09-28 18:07] SamuelEnglard commented on #34
Just because threads are there for lower level concepts doesn't mean it should be exposed to the user, or guaranteed to be there.

I'm not arguing they should be removed from .NET Core or the framework, just that that having them in .NET Standard makes no sense since .NET Threads (not threads but `System.Threading.Thread`) are very windows specific in some ways and don't make sense in modern progr

[2016-09-28 18:08] mathewkj commented on #35
What are the plans and timelines for supporting creation of .NET Standard libraries and ASP.NET core applications using VB.NET.

[2016-09-28 18:31] StephenCleary commented on #35
Will the tooling have warnings regarding netstandard1.5/1.6?

Perhaps just completely removing them as options from all UI tooling. Also, a warning would be nice when uploading to NuGet. Oh, and it's good that you're reaching out to the half-dozen users *today*, but a permanent warning system / (web)hook for future libraries targeting these would be nice, too.

(It's my impression that those are p

[2016-09-28 18:34] StephenCleary commented on #35
@benaadams The lowest you can.

Which brings up another good point: a *lot* of netstandard usage appears to be "just target the highest - it's the latest version so it's the best", instead of the proper mentality of "target the lowest, since it has the widest platform reach".

It would be great if there was some proactive tooling - perhaps an info- or warning-level message when building a netstand

[2016-09-28 18:35] rmschroeder commented on #35
I have concerns about diamond dependencies, strong naming, versioning and multiple versions in same process. Is there going to be some guidance on this that is easy to follow?
My specific scenario involves dynamically loading different ISV assemblies that will often have dependencies on different versions of the same library (say JSON.net, or other popular libraries) in the same process. Thanks.

[2016-09-28 19:14] mellinoe commented on #34
This is true for a lot of the things in the BCL, especially system- and OS-level types like this. It's a natural consequence of the whole thing being designed for Windows originally.

[2016-09-28 19:22] johnbraden commented on #32
@benaadams  @davidfowl  Thanks both of you for this clear statement.

[2016-09-28 20:27] benaadams commented on #35
.NET Standard 1.5/1.6/1.7+ are not compatible with 2.0; however I assume will be compatible with a 2.x version - how will that be handled and communicated?

e.g.
could be numerically 1.5 =>2.5, 1.6 =>2.6, 1.7 => 2.7
could be tooling
could be docs etc

[2016-09-28 20:44] alexperovich opened #36 "Remove ResourceSet.Table, and ResourceManager.ResourceSets."
The protected properties `System.Resources.ResourceSet.Table` and `System.Resources.ResourceManager.ResourceSets` are both of type `Hashtable`.
These types cannot be outside the core assembly so this `Hashtable` dependency would require moving all of NonGeneric collections into the core assembly as well.

[2016-09-28 20:44] alexperovich commented on #36
@weshaggard

[2016-09-28 20:47] bchavez commented on #35
Your new table is obviously a lot better than the previous one. Could you please add a **legend** to these tables? Specifically, a table legend should describe the meaning of the "→" and " * " symbols. I know what they are now, but take a look here: https://docs.microsoft.com/en-us/dotnet/articles/standard/library#net-platforms-support

When I first started out with .NET Core, the missing table le

[2016-09-28 21:29] rahku opened #37 "AppDomain apis not applicable for single domain"
Following apis are not applicable for single appdomain. They require creation of another domain and presence of AppDomainSetup. AppDomainSetup got cut and so following could be removed as well.

        public bool ShadowCopyFiles => false;
        public void AppendPrivatePath(string path) { throw new PlatformNotSupportedException(); }
        public void ClearPrivatePath() { throw new PlatformNo

[2016-09-28 21:58] weshaggard commented on #32
Correct on both fronts. There isn't any thing inherit in .NET Standard 2.0 that makes it not implementable in x-plat. There will always be some rough edges of APIs that won't work well x-plat and might even throw PlatformNotSupportedException those should be the exceptional case.

As for corefx/.NET Core support .NET Standard 2.0 see https://github.com/dotnet/corefx/issues?q=is%3Aissue+is%3Aopen+l

[2016-09-28 21:58] #32 closed

[2016-09-28 22:11] weshaggard commented on #37
@jkotas Does that API set look correct?

[2016-09-28 23:15] jcansdale commented on #35
Will MarshalByRefObject be part of standard?

[2016-09-28 23:19] mairaw commented on #35
@bchavez I gave this feedback to @terrajobst when writing the blog post because I saw the comments on our article. I can update the table in the docs.

[2016-09-28 23:21] jkotas commented on #37
The list looks fine to me. Does any of these APIs show any non-zero use?

[2016-09-28 23:40] rahku commented on #37
Only DynamicDirectory has 1% usage in unity top 100 apps.

[2016-09-28 23:44] jkotas commented on #37
I would keep that one then. I would just drop the stuff that is not used anywhere.

[2016-09-29 06:07] SomeAnon42 commented on #35
How do you reference a NETStandard-based library from a desktop application and not break anything? (like `System.Net.Http ` and ` System.IO.Compression`)

[2016-09-29 13:59] jkotas opened #38 "Remove System.Diagnostics.StackTrace(Thread targetThread, bool needFileInfo)"
The constructor is marked obsolete, it won't work on .NET Core, and it forms bad dependency on `System.Thread`.

[2016-09-29 13:59] jkotas commented on #38
@kouvel FYI

[2016-09-29 16:51] xplicit commented on #35
Is netstandard1.0-1.6 API fixed? If new features be implemented in net core, will they be able to go to lower netstandard versions or they will be only in 2.0+? For example, BinaryFormatter, is there a chance that it will be available on Netstandard 1.3 too, not only Netstandard 2.0.

[2016-09-30 19:59] Thraka commented on #17
Just wanted to comment on this. I use `IDataContractSurrogate` because my library can use different graphical rendering libraries (OpenGL based or DirectX or something else) and while they have the same concepts (A Color type is 4 bytes) they may change the order of these things. If someone serializes a type from my library which references one of these types (like Color) someone who loads that fi

[2016-09-30 20:28] Ackara opened #40 "Will the Data contract and xml element attributes be added?"
I recently switched one of my PCL project over to the standard, and found that the DataContractAttribute Class and XmlElementAttribute Class were not supported.

Will they be added in the future? They are in the other platforms, surprised to see them missing.

[2016-09-30 21:34] zhenlan commented on #40
Both `DataContractAttribute` and `XmlElementAttribute` are part of net standard. Check out
https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Runtime.Serialization.cs
https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

[2016-10-01 00:31] shmao opened #41 "Remove System.Runtime.Serialization.NetDataContractSerializer"
As we don't have plan to port NetDataContractSerializer to CoreCLR for now, we should remove it from NetStandard2.0.

/cc: @weshaggard @zhenlan @danmosemsft

[2016-10-04 00:22] terrajobst commented on #37
Hmm, I'm not sure removing them is a good idea as we also have `CreateDomain`. It seems sensible to me that if I'm on a platform where I can call `CreateDomain` that I can also call the APIs listed above.

No?

[2016-10-04 00:23] terrajobst commented on #38
LGTM

[2016-10-04 00:24] terrajobst commented on #41
Considering usage is super low I don't see a major problem with that.

[2016-10-04 00:27] terrajobst commented on #40
@Ackara

As @zhenlan said, the APIs *will* be part of .NET Standard 2.0, but they are *not* part of .NET Standard 1.x. So you can't use them *yet*.

[2016-10-04 00:27] #40 closed

[2016-10-04 00:32] terrajobst commented on #34
As others said, it's not an either-or. We can have `Task` and *also* have `Thread`. Yes, for the most part, developers should manage their own threads but rely on `Task` or thread pooling but that doesn't mean we should literally not expose the type. First of all, compat isn't a nice to have. For a platform that's 15 years old it's super important. Secondly, we've tried that experiment of not expo

[2016-10-04 00:32] #34 closed

[2016-10-04 00:50] terrajobst commented on #30
@FransBouma, thanks for filing this!

To be very clear: .NET Core already does and will continue to support `System.Data`. We currently have a dev prototyping adding virtually all of the generic ADO.NET namespaces `System.Data` and `System.Data.Common`, including `DataSet` and `DataTable`. We currently don't have plans to include the precursor of EF, Linq-to-SQL, spatial support, OleDb, ODBC, or O

[2016-10-04 01:29] jkotas commented on #37
Make sense. Let's keep them with dummy or throwing impl as appropriate.

[2016-10-04 01:48] terrajobst commented on #37
Sounds good. @weshaggard?

[2016-10-04 02:39] terrajobst commented on #26
👍

[2016-10-04 05:54] weshaggard commented on #24
See https://github.com/dotnet/standard/tree/master/compatshims/baselines for the list of current compat issues with the older netstandard versions and PCL profiles. There are a number of issues which I will fix but there are still going to be some gaps that we will need to take a closer look at.

[2016-10-04 05:56] #38 closed

[2016-10-04 06:32] weshaggard commented on #26
https://github.com/dotnet/standard/commit/1325532b612db31bf1dbec6ef8466717396b3d88 should hopefully fix this. @akoeplinger let me know if you see some I missed.

[2016-10-04 06:32] #26 closed

[2016-10-04 06:32] weshaggard commented on #36
Fixed with https://github.com/dotnet/standard/commit/6b4f9b5e55e902e2866e86c2f456b432acd4904a.

[2016-10-04 06:32] #36 closed

[2016-10-04 06:33] weshaggard commented on #37
Sounds reasonable to me. @rahku please consider these part of the standard.

[2016-10-04 06:33] #37 closed

[2016-10-04 12:06] akoeplinger commented on #26
I found a few more: #42

[2016-10-04 15:59] FransBouma commented on #30
That would be enough I think: the interfaces + System.Data.Common so generic ADO.NET code (like most ORMs/microORMs) can be ported easily by simply targeting .NETStandard20

No there's another difference: they don't version with netstandard20. This is actually a problem because you can't simply 'target' netstandard20, you have to target netstandard20 + whatever version the system.data assemblies h

[2016-10-04 17:25] terrajobst commented on #30
I'm not sure I follow. The way this would is the same it will work for other components, such as `System.Collections.Immutable` (SCI). Let's say I create a NuGet package that uses immutable collections. These are the assets and how they relate:

![picture1](https://cloud.githubusercontent.com/assets/5169960/19084740/90b14e40-8a1c-11e6-97e1-7497638b5c1b.png)

* My package (`Immos.Cool.Thingie`) dep

[2016-10-05 01:15] steveharter opened #43 "Recommend no System.Security.Cryptography.CryptoAPITransform and RijndaelManagedTransform"
In netfx, these are returned from 4 classes that expose CreateEncryptor()\CreateDecryptor() members. The signature for these members return ICryptoTransform so there was never a guarantee that these members would return CryptoAPITransform\RijndaelManagedTransform types. Newer classes that expose CreateEncryptor()\CreateDecryptor() do not return CryptoAPITransform\RijndaelManagedTransform types.

T

[2016-10-05 01:47] #41 closed

[2016-10-05 15:52] FransBouma commented on #30
Ok, makes sense, but I'm a bit confused I think about 'what does targeting netstandard20' really mean. If I write lib L, which targets netstandard20 and uses system.data, what happens if I call a method which isn't in netstandard20? Will I get an error?

The point I struggle with is: if the method isn't in netstandard20 but in a class that is in a library which supports netstandard, what happens i

[2016-10-05 16:21] weshaggard commented on #24
I've cleaned up a bunch of these compat issues. You can see the history by looking at https://github.com/dotnet/standard/commits/master/compatshims/baselines

There are still a few more things I want to clean-up and better understand before I complete this work-item.

[2016-10-05 16:23] weshaggard commented on #43
@steveharter while I can understand that we might not want these concrete types is there actually any bad things that come from keeping them? I don't think just the fact that someone might case to them is a good enough reason to exclude them.

[2016-10-05 17:48] steveharter commented on #43
The types will not be usable (PNSE on every member) and not created by corefx nor by anyone else since the ctor is internal. The class should not have been public to begin with. So if we keep them it would be "just for contract reasons" meaning compile works but nothing at run-time. Isn't it better to change any consuming code at compile-time vs later at run-time when the usage is destined to fail

[2016-10-05 19:26] KevinRansom commented on #43
@weshaggard I'm not sure that shipping useless types is an easily defensible position.  That the types can only be successfully used on Windows may be an argument to include them ... but it is not a strong one.  Although perhaps including them and marking them deprecated them might be an interesting choice.

[2016-10-05 19:58] weshaggard commented on #43
The principals for .NET Standard is to include everything in the interesction unless we have a reason not to (see https://github.com/dotnet/standard/tree/master/docs/netstandard-20). There are lots of things in netstandard that might be considered useless but it really depends on your prospective.

For these particular types given they are leaf node types which don't have any real usage in our dat

[2016-10-05 21:28] danmosemsft opened #45 "need ApplicationIdentity?"
We removed from AppDomain as part of remoting

`//REMOTING        public System.ApplicationIdentity ApplicationIdentity { get { throw null; } }`

Does this mean it's not meaningful in standard? If so we should remove the type and the 2 uses of it in the IsolatedStorage namespace. @JeremyKuhne

If you do this please close https://github.com/dotnet/corefx/issues/10196

[2016-10-05 21:35] JeremyKuhne commented on #45
Identity in the IsolatedStorage namespace is a different, but related concept. It's the identity of the store for the Application (or Assembly) scope.

[2016-10-05 21:55] danmosemsft opened #46 "remove UriLdnScope"
This is an enum that's only used by System.Configuration.IdnElement. It shouldn't be in the System namespace and can be removed as part of S.Configuraiton.

[2016-10-05 22:00] terrajobst commented on #45
So should we leave it in then?

[2016-10-05 22:01] terrajobst commented on #43
Both types have extremely low usage. I'd be fine with removing them.

[2016-10-05 22:04] terrajobst commented on #24
Generally true, except for the exceptions we discussed today, such as:

* `Microsoft.CSharp`
* `Microsoft.VisualBasic`
* `System.ComponentModel.Composition`
* `Windows.winmd`

[2016-10-05 22:16] JeremyKuhne commented on #45
I'm saying IsolatedStorage has something named the same, but it isn't this. It is a object that might be a StrongName, Url, etc. So it can go afaik.

[2016-10-05 22:44] terrajobst commented on #45
I think @danmosemsft was talking about the `IsolatedStorage.ApplicationIdentity` property. It's typed as object, but I assumed the implementation depends on `System.ApplicationIdentity`.

If no, then which usages are you referring to @danmosemsft?

[2016-10-05 22:49] danmosemsft commented on #45
That was it -- I can't tell from the code whether it's the same thing, it just has the same name. It sounds like it's not in fact the same thing. @weshaggard  you may still choose to remove the ApplicationIdentity type if it's not meaningful (you removed the last usage) -- I am not famliiar with the type.

[2016-10-05 22:58] weshaggard commented on #45
I considered removing ApplicationIdentity but I did find some small usage for just the type and it is a pretty trivial type so I decided to keep it. Let me know if there is some reason you disagree.

[2016-10-05 22:58] #45 closed

[2016-10-05 23:19] weshaggard commented on #46
Agreed this is part of Configuration so I will remove it.

[2016-10-05 23:22] #46 closed

[2016-10-05 23:26] #43 closed

[2016-10-05 23:28] terrajobst commented on #30
Targeting .NET Standard is very similar to targeting a concrete platform, say, .NET Framework. The only difference between targeting .NET Standard and .NET Framework is that the you reference the .NET platform itself through NuGet as well. In case of .NET Framework, the platform is located by pure build magic which resolves it against `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framewor

[2016-10-05 23:40] terrajobst commented on #45
We should only remove if we have good reasons. When in doubt, keeping it is the way to go.

[2016-10-05 23:43] terrajobst commented on #17
That's fair. Our challenge is that we can only expose APIs that already exist in the .NET platforms, otherwise, the standard wouldn't be useful :-) Unfortuantely, the existing APIs don't work because there are incompatible API shapes. I think that feature will have to wait until we can rev the standard again.

[2016-10-06 13:55] FransBouma commented on #30
That still doesn't answer my question I think, namely if I call a method that's not in the standard, will I get an error or does it compile correctly? If as you say it's equal to targeting a given platform, code that calls a method that's not available on that platform (e.g. a given overload) will cause a compile error.

What I'm after is whether I can look forward to having a single code base whi

[2016-10-06 17:09] weshaggard opened #47 "Consider adding the these to Xamarin"
https://github.com/dotnet/standard/commit/aebf70faba8dd4202c96f48ca76854765c594a92

If we can add those to Xamarin then they can be included in netstandard and remove some more API differences.

[2016-10-06 17:23] davidfowl commented on #30
What exactly do you mean by "call a method that's not in netstandard? Say you reference the netstandard platform and System.Data wasn't available in intellisense, you would add the System.Data package and then things will work. That System.Data package can target netstandard as @terrajobst said and things will just work.

Yes you can have a single code base as the APIs will be the same by you have

[2016-10-06 18:28] FransBouma commented on #30
ah I now realize what my critical thinking error is. Bear with me, I hope to explain it so others who read this and make the same mistake aren't as confused as I was:

I was thinking that I would reference .NET full as that implements netstandard20, and that would work if I then target netstandard20. (like targeting .net 4.0 or .net 4.5 means you reference the same mscorlib.dll) But that's of cour

[2016-10-06 18:28] #30 closed

[2016-10-06 18:36] dasMulli commented on #35
I use APIs removed from netstandard2.0 that are present in 1.6, when can i expect a netstandard2.1 that bring them back? - Will they ship at the same time, just like netstandard1.0-1.5 did?

[2016-10-06 19:32] svick opened #48 "apisof.net does not work"
The site https://apisof.net/ does not currently work, it says that "The catalog contains 0 APIs." and browsing or searching does not return anything.

I couldn't find a good place to report this and the site does not have any contact information (only "© 2016 - Microsoft"), so I thought the repo that manages a lot of the APIs that were previously shown on the site would be the least bad place.

[2016-10-06 19:53] RickStrahl commented on #30
This sounds good. Do wonder though if there will be support for ODBC at least to get access to generic providers. ODBC is cross plat so this would actually be a good fit for generic data access. If not natively in the standard then hopefully as a separate library?

[2016-10-06 20:49] cartermp commented on #48
/cc @terrajobst

[2016-10-06 21:22] terrajobst commented on #30
We currently don't have plans to port the OleDb and Odbc providers to other .NET platforms, such as .NET Core. Also, they don't exist in Xamarin; Mono has both of them but I'm not sure what their status is. I'll take a look.

[2016-10-06 21:33] weshaggard commented on #48
We have been hitting some OOM issues with the site recently @terrajobst is looking into it.

[2016-10-06 21:37] terrajobst commented on #48
I'm running in a 32 bit environment and I'm running out of RAM. I'll see whether I can get a 64 bit version or whether I can optimize the data structurs.

[2016-10-06 21:37] weshaggard commented on #47
Add these to the list:

[code]
These were lumped in with https://github.com/dotnet/standard/commit/44bf979a5ed6d503d307b8edc0a0a7786132205a. We should try to eliminate any member slicing as much as we can.

[2016-10-07 02:10] deepumi commented on #48
It would be great if you could add some warning message says that site is down or under maintenance.. I tried from phone and pc,

[2016-10-07 11:59] WillisTowersWatson commented on #35
We have a .Net Framework system compiled against .Net Framework 4.6.2, using internally-built .Net Framework 4.6.1 DLLs that are incorporated as true library components. If the library builders switch to targeting .Net Standard in their next version, what standard should they support (so that when we take them for our host system everything is hunk-dory)?

[2016-10-07 12:00] Mattacks commented on #35
We have a .Net Framework system compiled against .Net Framework 4.6.2, using internally-built .Net Framework 4.6.1 DLLs that are incorporated as true library components. If the library builders switch to targeting .Net Standard in their next version, what standard should they support (so that when we take them for our host system everything is hunk-dory)?

[2016-10-07 12:16] aL3891 opened #49 "Abstraction for json serialization"
I figured I'd lift a little conversation with @terrajobst from the comments of the netstandard blogpost to here for better visibility :)

Me:

@terrajobst:

Me:

What do you think? I understand it's pretty late in the game for NetStandard 2.0 but I think it would be very useful. Maybe it doesn't even have to be specific to json but like a general way to abstract naming members for serialization an

[2016-10-07 23:04] terrajobst commented on #49
Brand new APIs are out-of-scope for .NET Standard. We only standardize APIs that already exist. Requests for new APIs should go against https://github.com/dotnet/corefx.

[2016-10-07 23:04] #49 closed

[2016-10-07 23:27] terrajobst commented on #48
I've filed a tracking bug here: https://github.com/terrajobst/apisof.net/issues/1

[2016-10-07 23:27] #48 closed

[2016-10-08 09:03] luisbelloch commented on #35
It's not fully clear to me what's in an out, would you publish a summary page of the APIs included?

Also, where does WCF fits here? Would you adopt other RPC-style frameworks such as gRPC or NATS?

Thanks!

[2016-10-08 11:43] FransBouma opened #50 "LambdaExpression.Compile is essential"
I see:
[code]
won't make it to netstandard20. But these are essential for ORMs: they are used to create projection code from user supplied lambda expressions in linq queries, so they can be run at full speed on each row. Additionally, running user supplied code which has to run in-memory in a linq query projection is easy with these, but very hard/impossible without them

Not porting these will be

[2016-10-08 12:28] svick commented on #50
I think the issue here is that `netstandard20` targets .Net 4.6.1, which does not support the `bool` overloads.

[2016-10-08 13:07] FransBouma commented on #50
Ah! I was premature in my remark I see, the regular method doesn't accept a boolean indeed, I overlooked the fact that only the boolean overload was listed.

I.o.w.: if the other, regular, overloads, are part of netstandard20, it's indeed ok (and it seems that way).

[2016-10-08 13:07] #50 closed

[2016-10-08 15:27] praeclarum commented on #35
Will tools continue to download most of .NET standard when they reference libraries, or will runtimes ship with those libraries pre-downloaded?

[2016-10-08 15:28] praeclarum commented on #35
When will .NET Core support the creation of .NET Standard nugets? If it already does, where are the docs?

[2016-10-08 15:28] praeclarum commented on #35
When will Xamarin support creating .NET Standard libraries?

[2016-10-08 17:07] tthiery commented on #35
I would love to see a diagram following the type forwarders path from a usage over the netstandard down to the actual clr implementation ... For each platform and especially .NET Core.

[2016-10-08 17:12] tthiery commented on #35
I would love seeing the standalone publishing result of a netstandard assembly based app on .NET Core. Wondering in regards of the unused types.

[2016-10-08 17:15] tthiery commented on #35
Also more details about the build of an App which uses typeforwarding assemblies like netstandard.dll. Additionally I wonder how the platforms are built. You are not doing black magic here (massive typeforwarding and automatic facade generation), however many steps are far beyond a normal dev usage.

[2016-10-08 17:17] tthiery commented on #35
Also see my related question https://github.com/dotnet/corefx/issues/11155

[2016-10-08 18:16] PinpointTownes commented on #35
@terrajobst assuming I have a library that targets both .NET Standard 1.4 and .NET Standard 1.6, will a .NET Standard 2.0 library be able to reference it and use the `netstandard1.4` implementation?

FWIW, here's a concrete case where I needed to target `netstandard1.6`: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/325.

[2016-10-08 21:47] benaadams commented on #35
New apis that are added to corefx that don't have a run-time dependency shouldn't rev the version they are compatible on?

i.e. not sure why System.Collections [is now netstandard1.7](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/project.json#L3) shouldn't it also be netstandard1.3?

So if I wanted to use the new `Queue.TryDequeue` as its only an il change and could happi

[2016-10-08 21:56] davidfowl commented on #35
You nailed it.

[2016-10-08 22:43] ZeroInfinite commented on #35
How does .NET standard compare with .NET framework and .NET core? Do they sit side-by-side? Are they a superset? Or are they a subset? I only develop software for the Windows 10 store, will .NET framework still be supported or are you looking at replacing it?

[2016-10-09 00:00] davidfowl commented on #35
@ZeroInfinite see if this helps https://gist.github.com/davidfowl/8939f305567e1755412d6dc0b8baf1b7

[2016-10-10 12:33] Mattacks commented on #35
@davidfowl That's very nice.

BTW on a stack overflow article you replied to someone saying AppDomains were dead in .Net Core, and referred the reader to a replacement system, pointing to an example on GitHub. Hut:
- the link is dead
- AppDomain is in .Net Standard 2.0

I have a very simple question that I am finding impossible to get the answer to. In our app we use AppDomain.CreateDomain and App

[2016-10-10 13:15] benaadams commented on #35
System.Runtime.Loader.AssemblyLoadContext.Default?

[2016-10-10 13:27] akoeplinger commented on #35
@Mattacks I'd suggest you watch the recent On.NET show with Immo where AppDomains are  discussed (around 43:30): https://channel9.msdn.com/Shows/On-NET/Immo-Landwerth-Net-Standard

To summarize: even though AppDomain.CreateDomain() is in the standard, it'll just throw a not supported exception on .NET Core.

[2016-10-10 13:45] akoeplinger commented on #47
Done with https://github.com/dotnet/standard/pull/51

[2016-10-10 20:50] ramarag opened #52 "FileStream dependencies"
Remove ctor(System.IO.FileStream) from "System.Reflection.StrongNameKeyPair
see https://github.com/dotnet/coreclr/pull/7530#issuecomment-252404800

[2016-10-10 22:39] weshaggard opened #53 "Include System.Drawing primitives in netstandard"

[2016-10-10 23:33] Petermarcu opened #54 "Add Mono to the platforms list for .NET Standard"
https://github.com/dotnet/standard/tree/master/docs/netstandard-20

[2016-10-11 15:17] JoelLeach opened #55 "Clarify direction of COM Interop"
What is the current thinking on including full support for COM Interop in .NET Standard and .NET Core? It sounds like you would rather not have Windows-specific things like this in Standard. If I'm reading this correctly, apisof.net (currently down) indicates System.Type.GetTypeFromProgID() will be included in the next release: https://webcache.googleusercontent.com/search?q=cache:tYoULw9HjAcJ:htt

[2016-10-11 16:11] danmosemsft commented on #55
.NET Standard is a cross platform standard so we've tried to avoid types that are fundamentally platform specific like COM. COM interop and native interop have been segregated into a possible future extension: https://github.com/dotnet/standard/blob/master/extensions/interop/interop.cs.

@weshaggard there are cases where we've removed something because it's interop even though we could leave it (a

[2016-10-11 16:25] JoelLeach commented on #55
Thanks for the clarification.

[2016-10-11 16:35] weshaggard commented on #55
cc @yizhang82 @jkotas

[2016-10-11 16:51] jkotas commented on #55
There is often incorrect assumption made that "included in .NET Standard" == "works in .NET Core". There are going to be some APIs that will throw PlaformNotSupportedException on .NET Core, also this set be different between Windows and Unix.

Immo goes into details in
https://blogs.msdn.microsoft.com/dotnet/2016/10/11/the-week-in-net-on-net-on-net-standard-2-0-nancy-satellite-reign/

The parts of

[2016-10-11 17:05] weshaggard commented on #7
While doing this work for .NET Core there were a number of questions about this so I'm reopening to reconsider options.

After chatting with @jkotas he feels we should go with option (2).

[2016-10-11 17:07] #47 closed

[2016-10-11 17:47] weshaggard commented on #52
@jakotas what about the other FileStream dependencies from Reflection? Like https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.cs#L7581 Assembly.GetFiles?

[2016-10-11 17:49] danmosemsft commented on #52
You mean @jkotas

[2016-10-11 18:16] jkotas commented on #52
I forgot about those. Well, we can either move FileStream to System.Runtime/System.Private.CoreLib; or drop these from netstandard20. Either one is fine with me.

Pretty much any core runtime implementation I can think of needs to access files. I do not think we are getting a lot of positive value by keeping it up stack (except for the WinRT cruft - but that can be dealt with in isolation) - if th

[2016-10-11 18:19] jkotas commented on #52
Related issues:

FileStream refactoring https://github.com/dotnet/corefx/issues/11707
Assembly.GetFile/Assembly.GetFiles https://github.com/dotnet/corefx/issues/11655
Dependencies on FileStream: https://github.com/dotnet/corefx/issues/11151

[2016-10-11 20:59] weshaggard commented on #52
I do think we should consider moving FileStream into System.Runtime/S.P.CoreLib. However I worry a little about the closure both API and Implementation.

I'd like to get some other opinions on this before deciding to do it. @ericstj @stephentoub @JeremyKuhne @ianhays any thoughts on potential issues before we attempt to do this?

[2016-10-11 21:32] JoelLeach commented on #55
That's going to take some getting used to. The availability of APIs on unsupported platforms may lead a developer to believe an API is fully functional when it is not. Immo did mention future tooling that would notify the developer up front if an API is not supported on a given platform/runtime. That should solve the issue.

[2016-10-11 21:59] stephentoub commented on #52
There are a bunch of places we've had to workaround the lack of FileStream low enough in the stack, e.g. using reflection from StreamWriter.ctor(string), having to P/Invoke directly to libc from System.Console to read terminfo files, etc.  There are lots of good reasons to move it lower in the stack.

[2016-10-12 05:54] weshaggard commented on #7
Decided to go with option (2) https://github.com/dotnet/standard/commit/80799d92215df2fa0751c4a632def7379b0c5b3d.

[2016-10-12 05:54] #7 closed

[2016-10-12 06:39] #53 closed

[2016-10-12 06:41] weshaggard commented on #53
@akoeplinger @marek-safar Please have a look at https://github.com/dotnet/standard/commit/e2425ce8a92d614ec50dd36da82c7fa2840b456f where I needed to add Xamarin.iOS.dll and OpenTK-1.0.dll to the reference set to correctly generate the facade for the drawing primitives. You guys may want to consider adding a System.Drawing.dll, even if it is only a facade so that you can share the same System.Drawi

[2016-10-12 09:00] marek-safar commented on #53
The change looks ok but the newly added assemblies have wrong version number and public key. We don't version them. They both have 0.0.0.0 version and custom public key. @akoeplinger  could you PR a fix for that?

About adding System.Drawing facade. I think we tried that some time ago but it was a breaking change but would have to dig out for exact details but I think it was due to user's provided

[2016-10-12 16:20] weshaggard commented on #53
Thanks for the information. This does mean we are going to need a unique netstandard facade for you guys as the one we are building for net461 will not just work for you, but that shouldn't be a big deal either way.

[2016-10-12 16:41] marek-safar commented on #53
Yes, this will get more complicated. The netstandard.dll needs to be different for every target platform (android, ios, ios-watch, ios-tv, mac, etc) because we have different set of assemblies there. Something like

ios - has OpenTK + Xamarin.iOS
android - has System.Drawing
ios-watch - has none of that
mac - has OpenTK + Xamarin.Mac

[2016-10-12 17:48] weshaggard commented on #53
OK we will need to figure out how we want to set that up for you to be able to sub-module dotnet/standard and build unique facades for each of those targets. However it shouldn't be too terrible.

[2016-10-13 00:27] alexperovich opened #56 "Consider Removing S.R.InteropServices.ObjectCreationDelegate"
This type is only used by ExtensibleClassFactory which has been removed.

[2016-10-13 00:28] alexperovich commented on #56
/cc: @weshaggard @yizhang82

[2016-10-13 18:32] yizhang82 commented on #56
@alexperovich agreed

[2016-10-13 18:44] weshaggard commented on #56
I will exclude it.

[2016-10-13 21:14] terrajobst opened #59 "System.Data: we should review differences with .NET Framework"
Right now, we've haven't included `DbProviderFactories` for examples, which I think we should.

[2016-10-13 21:34] weshaggard commented on #59
Also there are some things we added to core like DbColumn which are excluded because the don't exist in netfx461. This is a special case of it was supported on top of a older netstandard version but wasn't part of netstandard itself, we may need to take a closer look at such APIs all up for things we are folding into netstandard.

[2016-10-13 21:40] stephentoub commented on #59
What would it do in .NET Core?

[2016-10-13 21:43] #56 closed

[2016-10-13 22:01] weshaggard commented on #52
I had a closer look at the API surface and from an API point of view moving down FileStream into System.Runtime isn't bad(see https://github.com/weshaggard/corefx/commit/e77e2b39371e5e3f202e4f8222bf3f73c9a70455) the only questions I have is about the implementation dependencies and how much trouble they will give in corelib, especially WinRT stuff.

[2016-10-13 22:05] weshaggard commented on #52
With that I've opened https://github.com/dotnet/corefx/issues/12633 to do that instead of removing these for netstandard.

@ramarag that means we will need to still expose these FileStream dependent APIs once FileStream is moved down.

[2016-10-13 22:05] #52 closed

[2016-10-13 23:07] rahku opened #60 "System.Reflection.Assembly.UnsafeLoadFrom should be removed from NS 2.0 as it is related to CAS"
https://msdn.microsoft.com/en-us/library/system.reflection.assembly.unsafeloadfrom(v=vs.110).aspx
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Reflection/Assembly.cs#L217

[2016-10-13 23:40] rahku commented on #60
Assembly.SecurityRuleSet is also related to CAS and should be removed

[2016-10-13 23:52] jkotas commented on #60
It is somewhat related to CAS, but it is harmless - it does not pull in any bad dependencies. There is no good reason to remove it.

There are many similar methods in different corners of the system - if we start removing them, we would get into the death by thousands paper-cuts problem: UnsafeOnCompleted, UnsafeDeserialize, UnsafeDeserializeMethodResponse, UnsafeQueueNativeOverlapped, UnsafeQueue

[2016-10-14 16:27] #28 closed

[2016-10-14 17:12] terrajobst opened #63 "Update developer analogy for .NET Standard 2.0"
From faq.md:

We should incorporate the Gist here and update it to .NET Standard 2.0.

[2016-10-14 17:18] #35 closed

[2016-10-14 18:12] weshaggard commented on #60
Thanks @jkotas with that I"m going to close this request.

[2016-10-14 18:12] #60 closed

[2016-10-14 18:15] terrajobst commented on #54
Fixed.

[2016-10-14 18:15] #54 closed

[2016-10-14 18:46] ygoe opened #64 ".NET Standard 2.0 vs. .NET Framework 4.6.1"
I've read the updated details about not introducing breaking changes to .NET Standard 2.0 which I generally like, even though I don't know what APIs would be affected.

But if this can now work without these weird changes, why was it a problem in the first place? What will happen when a .NET Standard 2.0-targeted program runs on .NET Framework 4.6.1 which doesn't have all the capabilities? Will it

[2016-10-14 22:02] terrajobst commented on #64
This section should answer the first part of your question:

https://github.com/dotnet/standard/blob/master/docs/netstandard-20/README.md#net-framework-461-supporting-net-standard-20

.NET Framework is a machine wide installation. When you don't own the machine, you cannot necessarily  and install a new version of the .NET Framework. Consider IT departments in larger companies, or hosted scenarios

[2016-10-14 22:10] #64 closed

[2016-10-14 22:19] mellinoe commented on #64
Yes, the program will throw a `MissingMemberException`, if you call one of the ~40 members that aren't available there. If that's unhandled, the program will crash.

[2016-10-14 22:23] Petermarcu commented on #64
Note that we don't expect those members to be heavily used or impactful compared to the thousands that are there. We're looking to find a good solution to ensure people don't hit those problems.

[2016-10-15 00:46] benaadams opened #66 "Not sure the ubiquity of (c)il comes across fully"
It is touched upon with the JSON.NET, but add a generic version also? Something like:

Why is XXX not part of .NET Standard?
---
If a library is written in pure il (e.g. C#, VB.NET, F# etc) then in can run across all platforms which support the .NET Standard platform or above that it targets, with no code changes; this includes and future platforms. Any additional apis it adds also automatically w

[2016-10-15 02:09] terrajobst commented on #66
That's a great suggestion! I'll update the docs to reflect this shortly. A few comments on what you said:

That is true, but only for libraries that target .NET Standard. However, each .NET platform can rev at its own cadence and extend the API surface of types that are part of .NET Standard -- they don't have to wait for a new version of the standard.

So this isn't completely true:

For example,

[2016-10-15 02:26] benaadams commented on #66
I could imagine lots of people wanting extra things to be part of the standard library.

So what I'm trying to convey is unless its a change to a type already in the standard; if its a purely managed type then its better being outside of the standard (as a package) as then you have immediate broad support on all current and future platforms.

Which even includes new `System.*` types; they are bett

[2016-10-15 02:51] terrajobst commented on #66
Agreed; I just tried to communicate the fine line of what we can and cannot do. I've seen some concerns from folks that .NET Standard makes it harder for us to innovate on types that are part of .NET Standard.

That's actually not true:

* Each platform can innovate independently. For BCL & runtime features, we're likely doing all experimentation and innovation on .NET Core first.
* Once happy, we

[2016-10-15 08:58] ygoe commented on #64
Ah, so it's basically ".NET Framework 4.6.1 supports .NET Standard 2.0 but (intentionally/knowingly) violates this promise in these few members", could I say that? Not that I had any problem with that, I just like to know.

[2016-10-15 10:16] StefH opened #68 "Change link in the faq.md about the "developer analogy" from David Fowler"
Refer to this page: https://github.com/davidfowl/NetStandard, instead of that gist ?

[2016-10-15 14:56] Petermarcu commented on #64
Yes, that's right. Wish we had a time machine but you could say that 4.6.1 has an extremely small setown of known issues.

[2016-10-15 16:40] gulbanana commented on #64
@ygoe it's common for many enterprises to update .net very slowly, sometimes due to incompatibilities with other software (example: if you have Exchange installed, you cannot install .NET 4.6.2). until very recently even 4.6 did not have a lot of traction across some industries.

having net461 support netstandard2.0 therefore gets netstandard2.0 to wide availability years earlier. i think it would

[2016-10-15 16:51] gulbanana commented on #55
it would be great if there was a way to mark netstandard projects as "expected to be used by tfms". so if you e.g. indicated that something would be used by netcoreapp1.1, the IDE could provide notifications when you used APIs unsupported by that platform - perhaps similar to how multi-TFM intellisense works?

[2016-10-15 19:18] terrajobst commented on #68
The content in that repo is largely outdated.

@davidfowl, do you wan to submit a PR for the pieces that are still useful?

[2016-10-15 19:19] #66 closed

[2016-10-15 21:59] davidfowl commented on #68
I'll delete that repository and move the analogy here.

[2016-10-16 03:22] jkotas opened #69 "Remove System.ApplicationIdentity"
System.ApplicationIdentity is part of the click-once appmodel. Examples of other click-once appmodel specific types are ActivationContext or ApplicationTrustCollection. ApplicationIdentity  implements parsing of click-once specific application identity strings.

None of the other types for click-once appmodel are netstandard. ApplicationIdentity should be removed as well.

[2016-10-16 10:37] GerjanOnline opened #70 "FAQ: Show code examples"
This is a suggestion for the FAQ:
There is a lot of text about net standard but as a developer I am missing some basic examples (for reference etc, show me the code....). Also I think it is easier to "connect the dots" this way.

For me personally it is not always directly clear how I can "target" net standard in code so I need to look those up, maybe an idea to put this in the FAQ? Questions like

[2016-10-16 10:52] GerjanOnline opened #71 "FAQ: Advice for using NETStandard.Library package vs single packages"
As far as I understand NETStandard.Library is just a meta package that is used for the compiler / api surface.

https://www.nuget.org/packages/NETStandard.Library

Here it is also visible which packages comes with what version.
But now my question is, and maybe that is one for the FAQ:

What if I only need, say, 3-5 packages, should I still reference the whole NETStandard.Library? Or can/should I

[2016-10-17 16:26] weshaggard commented on #69
See https://github.com/dotnet/standard/issues/45. I don't feel super strong about it but I also don't feel it hurts much to keep.

[2016-10-17 16:38] jkotas commented on #69
This type implements parsing of click-once manifests id. I do not think it makes any sense to have it in netstandard.

[2016-10-17 16:46] weshaggard commented on #69
From a quick look at the implementation https://referencesource.microsoft.com/#mscorlib/system/activationcontext.cs,497, I do see we are parsing application identity when I looked at just the APIs I thought it was an assembly identity. With that I agree we should exclude it like the other ClickOnce stuff.

[2016-10-17 17:24] stephentoub opened #72 "Fix ServicePointManager dependencies"
Remove:
https://github.com/dotnet/standard/blob/master/netstandard/ref/System.cs#L5541-L5542
[code]

And revert https://github.com/dotnet/standard/commit/e7f77dc6f750c1349ce371f8834103c9a219cee3 to add back the following to SmtpClient:
[code]

ServicePoint had been removed in order to prevent needing a dependency from Mail to Requests, but a better fix is to break the circular dependency between t

[2016-10-17 18:12] terrajobst commented on #72
Looks fine to me.

[2016-10-19 00:12] CIPop commented on #72
Please also remove `System.Net.ICertificatePolicy` which is referenced only by the above property.

[2016-10-19 16:15] geoffkizer opened #74 "remove System.Net.NetworkAccess and System.Net.EndpointPermission from netstandard 2.0"
These types are used for CAS.

[2016-10-19 16:47] #69 closed

[2016-10-19 16:54] #72 closed

[2016-10-19 17:30] danmosemsft opened #75 "M:System.Net.HttpWebRequest.#ctor(System.Uri) missing"
I happened to notice that this is in Xamarin's System.dll but not in Standard.

[2016-10-19 18:58] danmosemsft commented on #75
The parameterless ctor ought to go in also

[2016-10-19 19:51] weshaggard commented on #75
This doesn't exist anywhere but Xamarin and the default ctor doesn't exist anywhere but for SL compat, so neither of these should be included in netstandard.

People use WebRequest.Create methods to create new instances of HttpWebRequest.

[2016-10-19 19:51] #75 closed

[2016-10-19 19:56] #74 closed

[2016-10-19 19:57] danmosemsft commented on #75
You're right.

[2016-10-20 16:32] weshaggard commented on #71
@GerjanOnline this is an excellent question, one which we are shifting our recommendation on. In the past we were recommending for library packages people reference the smaller granular packages in order to help maximize current and future portability. However we have learned that all the granular packages have causes a number of issues such as package graph explosion and many complexities in unde

[2016-10-20 17:51] mellinoe commented on #71
What is our plan for dealing with dependency bloat in standalone applications? "One big package" is good from a referencing standpoint, but not from a modularity standpoint. It'll be much harder to ship a slim set of dependencies when I just have one big reference. I'm sort of skeptical of any "post-build dependency trimming" like we've talked about in the past, just because it's never materialize

[2016-10-20 17:53] weshaggard commented on #71
There isn't any concrete plans/designs yet but it will likely be "post-publish dependency trimming" for standalone applications, for shared applications it isn't needed.

[2016-10-20 21:35] terrajobst commented on #71
The thinking is basically that these are separate concerns. Having more packages doesn't really help our bloat of standalone apps; the idea was that we'll smartly copy only those assemblies that are needed. But for a really optimized footprint we'd need something like .NET Native's linker + tree shaker. And once look at optimizing at that level, packages boundaries are irrelevant.

[2016-10-20 21:36] terrajobst commented on #71
@GerjanOnline

I'll upload a draft of our packaging doc very soon. That will include layout and reference graphs.

[2016-10-20 23:24] jkotas commented on #71
@erozenfeld @russellhadley are looking into materializing it this time. They should share the plan soon.

[2016-10-21 16:00] russellhadley commented on #71
@mellinoe - Yes we're looking at a post-build assembly level "link" tool.  We're still writing up our plan but we expect to share it next week with the community.  Stay tuned.  :)

[2016-10-22 04:01] shmao opened #78 "Consider to Remove Mtom Reader/Writer APIs from NetStandard2.0"
Per the discussion in https://github.com/dotnet/corefx/issues/12638, we should consider to remove Mtom Reader/Writer related APIs from NetStandard2.0. The related APIs include

IXmlMtomReaderInitializer
IXmlMtomWriterInitializer
XmlDictionaryReader.CreateMtomReader
XmlDictionaryWriter.CreateMtomWriter

Quoting @mconnew 's comments here,

[2016-10-22 17:29] stephentoub opened #79 "Move NetworkInformationAccess to CAS extensions"
It's currently defined in System, but it's really part of the NetworkInformationPermissionAttribute.

[2016-10-23 12:00] stephentoub opened #80 "Is NetworkChange supposed to be marked as a static class?"
It is in standard, but it doesn't appear to be in desktop (even though it could be).

[2016-10-24 17:01] danmosemsft opened #81 "Add 4.6.2 and 4.6.3 API"
Since we've decided to be a superset of 1.6

[2016-10-24 18:07] weshaggard commented on #80
Yes. We intentionally marked a number of types as static (see https://github.com/dotnet/standard/commit/d5fbcbeeeb7f15102fdac111bc8d7d5d72c32036) in netstandard to be able to clean-up the compilation. It is OK if they aren't static in all the implementations as long as they are compatible.

[2016-10-24 18:07] #80 closed

[2016-10-24 18:14] weshaggard commented on #81
As we chatted this in isn't interesting for netstandard2.0 the interesting piece is making netstandard2.0 100% compatible with netstandard1.x. Which I've done with https://github.com/dotnet/standard/pull/76.

[2016-10-24 18:14] #81 closed

[2016-10-24 18:19] #79 closed

[2016-10-25 16:40] weshaggard commented on #78
One of our big goals is to avoid removing members on types that are part of the netstandard as that causes friction and blocks people that might use these APIs from building on top of netstandard. Is there any particular reason that the XmlDictionaryReader/Writer methods cannot throw PlatformNotSupportedException until we support them?

cc @terrajobst @zhenlan

[2016-10-25 17:01] geoffkizer opened #82 "remove SocketFlags.MaxIOVectorLength from netstandard"
See discussion here: https://github.com/dotnet/corefx/pull/12813

[2016-10-25 17:08] shmao commented on #78
The reason is that we don't have plan to ever support them as WCF who's the only consumer of the APIs doesn't need them. But I am fine with letting XmlDictionaryReader/Writer methods throw PNSE.

/cc: @Zhenlan, @mconnew

[2016-10-25 20:40] alexperovich opened #84 "Remove S.Diagnostics.Debug.Listeners property to remove dependency on Tracing infrastructure"

[2016-10-25 20:40] alexperovich commented on #84
/cc: @weshaggard

[2016-10-26 01:37] terrajobst opened #85 "[Packaging] Specify placeholders for lib folders"
From [the packaging spec](https://github.com/dotnet/standard/blob/fb1ae5d9c522ac63fbea9e8a788babeafcba9882/docs/netstandard-20/packaging.md#layout-of-net-standard-netstandardlibrary):

@weshaggard said:

@ericstj, can you help with that?

[2016-10-26 01:42] terrajobst opened #86 "[Packaging] Create list of contracts that need to be pulled into .NET Standard"
From [the packaging spec](https://github.com/dotnet/standard/blob/fb1ae5d9c522ac63fbea9e8a788babeafcba9882/docs/netstandard-20/packaging.md#which-assemblies-and-packages-does-net-standard-20-need-to-be-compatible-with):

@weshaggard said:

@weshaggard / @ericstj: what's the best way to product that? I tried doing it by hand but that seems error prone...

[2016-10-26 01:46] terrajobst opened #87 "[Packaging] Clarify how RID-specific packages for Microsoft.NetCore.App are expressed"
From [the packaging spec](https://github.com/dotnet/standard/blob/fb1ae5d9c522ac63fbea9e8a788babeafcba9882/docs/netstandard-20/packaging.md#layout-of-microsoftnetcoreapp):

@weshaggard asked:

@ericstj, could you make a proposal?

[2016-10-26 07:18] zhenlan commented on #78
So sounds like we have no problem removing `IXmlMtomReaderInitializer` and `IXmlMtomWriterInitializer`?

I am fine keeping XmlDictionaryReader/Writer and throwing PNSE.

[2016-10-26 11:00] jkotas opened #88 "Remove IRemotingFormatter from netstandard 2.0"
Revert https://github.com/dotnet/standard/pull/14 - see discussion in https://github.com/dotnet/corefx/issues/11809

[2016-10-26 15:48] ericstj commented on #87
Here's what I'm thinking for all types of split packages.

For packages that are framework split only:
1. Identity package contains no files other than text license/etc in the root.
2. Identity package contains single package references for each specific framework, these packages follow the naming scheme `framework.<tfm>.<packageId>` where `<tfm>` is the specific framework that is split out and `<

[2016-10-26 16:30] weshaggard commented on #84
@terrajobst @stephentoub any opinions on this? I would like to remove the dependency on the TraceListeners but I'm open to other opinions.

[2016-10-26 16:33] weshaggard commented on #86
I will take a stab at producing that list.

[2016-10-26 16:36] weshaggard commented on #78
I don't have issues with removing entire types as they can always be implemented on top of netstandard, as long as they don't cause members on other types to be removed. In this case those interfaces don't show up in any API signatures so it is OK to exclude them.

[2016-10-26 16:46] ericstj commented on #85
Sure, do you have the notes from our meetings?  IIRC the rules we had for the NETStandard.Library package were as follows:
- `lib\netstandardX` - reference assembly for netstandard.dll, facades for mscorlib++ & system.runtime++ on top of netstandard.dll
- `lib\<tfm>\_._` - for every `<tfm>` that supports `netstandardX` to ensure NETStandard.Library never provides any assets for frameworks supporti

[2016-10-26 17:56] jkotas commented on #84
This will make the dependency disappear from the surface, but the implementation dependency is still going to be there: AutoFlush, IndentLevel, IndentSize, Flush, Close, ... all these depends on tracing infrastructure. How are you going to deal with the implementation dependency?

[2016-10-26 18:03] terrajobst commented on #84
I see two options:

1. **Use a private copy**. We could use a private copy to enable debugging our own stuff.
2. **Absorb the change**, i.e. deal with the fact that we have an API and implementation dependency on tracing.

(1) isn't necessarily terrible in our infrastructure as we could share sourced in the implementation. The biggest down of (1) would be that our output doesn't compose with debug

[2016-10-26 19:06] weshaggard commented on #84
For these the don't really require much in the way of infrastructure. Most of them could be ignored (ie Flush) and the or trivially implemented (Indention). The thing that we loose is people will not get any debug events, including ours, into their listeners which I think might be acceptable.

[2016-10-26 22:22] geoffkizer opened #89 "remove System.Net.TransportContext.GetTlsTokenBindings method and related types from netstandard 2.0"
Discussion here: https://github.com/dotnet/corefx/issues/12136

Related types are:
System.Security.Authentication.ExtendedProtection.TokenBinding
System.Security.Authentication.ExtendedProtection.TokenBindingType

[2016-10-29 18:52] justinvp opened #91 "Make System.Net.HttpVersion a static class?"
`HttpVersion` is implemented in the [.NET Framework reference source](https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/HttpVersion.cs) as:

[code]

Unfortunately (in this case), the C# compiler automatically adds a default public constructor, which is how it shows up in [.NET Standard](https://github.com/dotnet/standard/blob/4f2b0f018eb22a28fb2ebbccdcaa4f8efbc45183/ne

[2016-10-30 18:45] saibimajdi opened #92 "dotnet has stopped working"
After installing dotnet in my Windows PC, when I trying to create first project using `dotnet new` I got an exception, but later I noticed that I don't have enough space on my disk.

So I think that this exception does not handled!

[2016-10-31 08:44] henkmollema commented on #92
This issue belongs in the CLI repository: https://github.com/dotnet/cli. This repository is for managing the .NET Standard.

[2016-10-31 14:49] saibimajdi commented on #92
@henkmollema  Thanks

[2016-10-31 17:19] weshaggard commented on #92
Yes please file this at https://github.com/dotnet/cli.

[2016-10-31 17:19] #92 closed

[2016-10-31 17:21] weshaggard commented on #91
We have taken the library to make some types static in .NET Standard and I think it make since for this one as well so I will do that.

FYI @terrajobst @davidsh @CIPop

[2016-10-31 17:58] AlexGhiondea opened #93 "Remove the ContractHelper type from the System.Diagnostics.Contracts.Internal namespace"
I believe we can remove these members:
[code]

Those are already exposed via System.Runtime.CompilerServices: https://github.com/dotnet/corefx/blob/a92474e2f5282fc2ac81c4f6d703b6d2f5248bac/src/System.Diagnostics.Contracts/ref/System.Diagnostics.Contracts.cs#L153

And here is the reason why we still have them here:
// Note: In .NET FX 4.5, we duplicated the ContractHelper class in the System.Runtim

[2016-11-01 22:23] #78 closed

[2016-11-01 22:28] #82 closed

[2016-11-01 22:32] weshaggard commented on #84
After some further conversations we didn't feel there was a big enough value add to keep Debug.Listeners in comparison to the closure needed to provide it at the lowest level of our libraries so they could use Debug.

[2016-11-01 22:32] #84 closed

[2016-11-01 22:40] #88 closed

[2016-11-01 22:42] weshaggard commented on #88
FYI @stephentoub

@ramarag can you also please remove these from System.Runtime.Serialization.Formatters? https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/ref/System.Runtime.Serialization.Formatters.cs#L202

[2016-11-01 22:47] #89 closed

[2016-11-01 22:49] #93 closed

[2016-11-01 22:53] #91 closed

[2016-11-01 23:35] weshaggard commented on #86
Currently the netstandard facade that we build for netcoreapp in the wesh/netcoreapp_compat branch has the below 93 assembly references so those are all the potential candidates. I will filter that list further by what has already shipped stable in .NET Core 1.0 and that will be the list.

[code]

[2016-11-02 17:41] weshaggard commented on #86
Some of the shims that look suspect are things like System.Data.SqlClient which is for things like System.Data.SqlDbType which we moved down into System.Data.Common in the current version. We should discuss how we want to draw the line on what should be included or not.

[2016-11-03 17:26] weshaggard commented on #86
See https://github.com/dotnet/standard/blob/wesh/netcoreapp_compat/compatshims/baselines/ApiCompatBaseline.netstandard1.6_supported.txt for the list of compat issues that we have if we start to look at all the contracts that were supported on netstandard1.6 but not part of the NETStandard.Library 1.6 meta-package but we are now including in 2.0. We will have to do one of the following to support t

[2016-11-04 21:50] kouvel opened #94 "Add Marshal.CleanupUnusedObjectsInCurrentContext to netstandard 2.0"
Thread.DisableComObjectEagerCleanup is already in netstandard2.0, and these could be useful for some performance-sensitive scenarios in Windows. Marshal.CleanupUnusedObjectsInCurrentContext is the counterpart that allows manual cleanup of runtime callable wrappers.

[2016-11-07 17:39] weshaggard commented on #94
@akoeplinger @marek-safar could we get these added to xamarin so they can be included in netstandard 2.0?

cc @yizhang82

[2016-11-07 17:49] akoeplinger commented on #94
Sure. https://github.com/dotnet/coreclr/pull/8004#discussion_r86716598 raises a good question about the implementation though.

We do throw PNSE for `Thread.DisableComObjectEagerCleanup` currently thoughl, but I agree that a no-op might make more sense here.

[2016-11-07 22:46] yizhang82 commented on #94
In non-Windows, it's fine to be a no-op. But in Windows, if they are not implemented in Mono, they should throw PNSE since they do have special semantics.

[2016-11-09 23:35] akoeplinger commented on #53
I added the other platforms in #96 with correct version numbers + keys.

[2016-11-09 23:56] weshaggard opened #97 "Fix name of NETStandard.Library package"
We need to revert https://github.com/dotnet/standard/commit/66a8705bc65216d0112dfb6bb432f7cddc7056f9 before we ship. Only renamed it to NETStandard.Library2 until we have back compat with 1.6* version of this package.

[2016-11-10 00:10] #94 closed

[2016-11-13 17:47] AlexRadch opened #98 "Fast append or insert StringBuilder into other StringBuilder"
Hello,
I think for fast strings processing, StringBuilder should have fast methods to append and insert other StringBuilder.

Now when I gather string from many parts, I gather each part into separated StrindBuilder (for example in different threads for speed) and then when I gather all parts to one StringBuilder, the standard library made many copy operations to convert each StringBuilder to stri

[2016-11-13 17:54] svick commented on #98
This has been discussed in https://github.com/dotnet/corefx/issues/4928.

[2016-11-14 18:41] weshaggard commented on #98
Yes lets keep that conversation over in corefx instead of in the standard repo.

[2016-11-14 18:41] #98 closed

[2016-11-15 21:30] rahku opened #99 "Module.GetSignerCertificate depends on X509Certificate"
Following api returns  System.Security.Cryptography.X509Certificates.X509Certificate. I believe all of Cryptography types are in corefx and so this api requires the dependency to ported to corelib.
    public abstract class Module : ICustomAttributeProvider, ISerializable {
        public virtual System.Security.Cryptography.X509Certificates.X509Certificate GetSignerCertificate();
    }

[2016-11-15 21:35] weshaggard commented on #99
Yes lets remove this from standard to break this dependency. @terrajobst @bartonjs @jkotas any concerns or thoughts about this one?

[2016-11-15 21:58] terrajobst commented on #99
No concerns, usage seems to be close to zero as well.

[2016-11-15 22:19] bartonjs commented on #99
Yeah, I thought we already made the conscious choice to drop this method due to layering.

[2016-11-17 19:02] joperezr opened #101 "Missing ObsoleteAttribute for some members/types"
Some types/members have Obsolete attributes in corefx but they don't have them in standard, so they should be added. Here is a list of the ones I found:
[code]

cc: @weshaggard @danmosemsft

[2016-11-17 19:08] danmosemsft commented on #101
public enum SslProtocols.All I just added.

[2016-11-17 19:38] weshaggard commented on #101
@joperezr Can you please double check the namespace on those? I know a lot of those are duplicated in the System.Runtime.InteropServices and System.Runtime.InteropServices.ComTypes namespace and we removed the obsolete ones from System.Runtime.InteropServices namespace from netstandard.

[2016-11-17 19:39] weshaggard commented on #101
@yizhang82 for those interop APIs are they correctly marked obsolete in corefx and if so should we do the same in netstandard.

[2016-11-17 20:36] shwetaskatdare opened #102 ""Copy local to output" Not available in dotnet standard ?"
I am working on a class library (dotnet standard library) project to be used in .net461. When a nuget package of the class library is added to .net461, all the dependencies get added to the target project which causes issues with existing dlls. How do I package my class library so all the dependencies are abstracted ? I don't see a "Copy Local to output" in the reference library properties.

[2016-11-17 20:45] mellinoe commented on #101
Speaking of `Marshal`, we un-obsoleted this one on purpose: https://github.com/dotnet/corefx/issues/8043

[2016-11-18 00:32] CIPop opened #103 "Some of the files are missing the copyright"
For example https://github.com/dotnet/standard/blob/master/netstandard/ref/System.cs.
I can change these but I'm not sure if we want to yet to avoid any tools breaking.

@terrajobst @weshaggard @danmosemsft PTAL

[2016-11-18 01:16] weshaggard commented on #103
These are generated files which I'm not sure we care about having the headers on but I will defer to @terrajobst for that type of stuff.

[2016-11-18 01:18] weshaggard commented on #102
This is a tooling question @Pilchie @srivatsn is there a better place to file this question/issue?

[2016-11-18 17:07] ianhays opened #104 "Remove SafeAccessTokenHandle from standard"
Discussion forked from https://github.com/dotnet/coreclr/pull/8145

SafeAccessTokenHandle is only exposed in System.Security.Principal.Windows. It is internally in System.Net.Security but not exposed.

[2016-11-18 18:07] srivatsn commented on #102
Please file this in https://github.com/dotnet/sdk

[2016-11-18 18:37] CIPop commented on #103
That's what I thought and why I didn't want to touch them.
I'm diffing between these and the corefx/.../ref files and noticed that those have the copyright message.

[2016-11-18 18:55] danmosemsft opened #105 "Remove 2 AppDomain methods from diff"
Remove these two from diffs as they won't do anything anyway.

public new Type GetType();
public override object InitializeLifetimeService();

@rahku :
For desktop we provide an overload of GetType in AppDomain to return the base type as the actual type. I don’t think we need this in .net core.
For InitializeLifetimeService  are we supposed to override the methods of MarshalByRefObject.

[2016-11-19 03:16] terrajobst commented on #103
My suggestion is to run the [code formatter](https://github.com/dotnet/codeformatter), which will put the following standard copyright header on all the files:

[code]

[2016-11-20 20:16] nathanielcook opened #107 "Conceptual Question - Is there such thing as a .NET Core non-netstandard library?"
Not sure which would be the best repo to post this conceptual question. I noticed that `dotnet new --type lib` in the CLI creates a .NET Standard 1.6 Library. I'm mainly asking out of curiosity, but is there a way (using tooling, or by hand) to create a library that targets .NET Core directly instead of .NET Standard? We obviously have libraries that can target the full .NET Framework directly, so

[2016-11-21 17:20] weshaggard commented on #103
cc @akoeplinger

We could do that but we generate these files via genapi often and this will just be fighting with that.

[2016-11-21 17:20] #102 closed

[2016-11-21 17:22] #105 closed

[2016-11-21 17:23] akoeplinger commented on #103
@weshaggard genapi.exe has a `-headerFile` option that we could use for prepending the license info.

[2016-11-21 17:32] #99 closed

[2016-11-21 17:34] weshaggard commented on #104
Since we removed WindowsIdentity and it is the primary user of this safe handle we can remove it from the standard.

[2016-11-21 17:38] weshaggard commented on #107
I don't think there is a template for it in the dotnet cli but there will be one in VS once we get the tooling work done. To create a .NET Core specific class library you should just reference "Microsoft.NETCore.App" and use the netcoreap1.0 as your target framework. That will get you want you looking for.

For .NET Core 1.0, no but for .NET Core 1.1 and moving forward yes there are .NET Core spec

[2016-11-21 17:39] #104 closed

[2016-11-21 17:49] weshaggard commented on #103
@akoeplinger very true ... I probably added that feature for another reason but I think it would work here as well. Would you mind picking up this issue?

[2016-11-21 18:57] danmosemsft opened #108 "Mark Activator and Debugger as sealed"
In the full framework `Activator` and `Debugger` are `sealed` but in Standard they are not.

Probably Standard should match the more limiting surface area of full framework so the compiler will prevent anyone deriving from these.

[2016-11-21 19:41] terrajobst commented on #107
We generally want to promote using .NET Standard-based libraries because these libraries can be used from any application type.

However, we'll continue to have .NET platform-specific class libraries as well, i.e. you'll be able to target .NET Framework, .NET Core, Xamarin iOS, and Xamarin Android (etc) directly. This ensures that can you always reuse your code no matter the environment.

We shoul

[2016-11-21 19:47] nathanielcook commented on #107
Thanks for the replies; makes sense. Feel free to keep open or close this issue as you see fit.

[2016-11-21 19:48] #107 closed

[2016-11-21 19:48] terrajobst commented on #107
Seems we answered it :-)

[2016-11-22 22:03] scout208 commented on #34
So just to be clear this means that we are _not_ including it right? Which means that there is no access to System.Threading.Thread from a UWP app?

[2016-11-22 22:19] danmosemsft commented on #34
`Thread` is indeed in Net Standard 2.0 as you see in this repo. The next full release of .NET Core will support Net Standard 2.0 and thus `Thread`. UWP does not yet support it but [some work has begun](https://github.com/dotnet/corefx/pull/13569)

[2016-11-22 22:24] scout208 commented on #34
Ok, thank you. That is great news to me. I couldn't find any info anywhere else on whether it was being supported or not. Can we expect the next release of .NET Core to be Q1 2017?

[2016-11-22 22:58] danmosemsft commented on #34
`Thread` does not appear in UWP simply by having it in .NET Core -- after all we already shipped it in .NET Core. We have to update the framework available to UWP. Unfortunately I do not think we shared a release date for that. @terrajobst what is there to say there?

[2016-11-23 19:26] weshaggard opened #110 "Version and public key for netstandard.dll"
Currently netstandard is version 2.0.0.0 for the 2.0 release and it has the default MSFT public key. I think the version number make sense and it should be updated with the standard but I think we should change key to our OpenKey so that anyone can fully sign it.

Thoughts @terrajobst @ericstj @marek-safar @akoeplinger?

[2016-11-23 20:06] CIPop opened #111 "Remove Obsolete WebSockets APIs"
@terrajobst @weshaggard @stephentoub @davidsh
/cc @karelz

I noticed that some of the types have their obsoleted APIs removed. Is there any reason to keep the following from WebSocket:

* Obsoleted, not browsable
[code]

* Not browsable:

[code]

[2016-11-24 08:23] marek-safar commented on #110
We'd prefer openkey and don't think the version matters, runtimes should be able to auto-upgrade any version number

[2016-11-24 20:44] akoeplinger commented on #103
PR in #109

[2016-11-28 16:35] weshaggard commented on #111
@CIPop see the discussion at https://github.com/dotnet/standard/issues/6. While it isn't great we have been trying to eliminate as much friction as possible so we are only removing obsolete APIs on a case-by-case basis. I've not looked into these particular ones but please have a look at usage data before we consider excluding them.

[2016-11-28 16:36] #103 closed

[2016-11-28 16:39] weshaggard commented on #108
@danmosemsft I intentionally changed those to static in netstandard because that is what they should have always been and so I took the opportunity to correctly make them static in the standard. The API's should be compatible but let me know if you see some issue around them.

[2016-11-28 16:39] #108 closed

[2016-11-28 17:06] danmosemsft commented on #108
The potential issue is as I described, if I derive then compilation against netstandard.dll would succeed but the code would fail at runtime on the full framework. If that's OK then we can leave as is.

[2016-11-28 17:28] bartonjs commented on #108
@danmosemsft The `static` keyword on a class marks it with both `abstract` and `sealed` in IL.  So `static` is `sealed`++.

[2016-11-28 18:23] terrajobst commented on #111
I can't speak for the other APIs but `IsApplicationTargeting45` can probably be safely removed. It has zero usage and it's clearly not useful.

[2016-11-28 22:56] CIPop commented on #111
/cc @karelz

Thanks @weshaggard @terrajobst !

I've looked at our usage data. Here's the result:

* IsApplicationTargeting45 - 0%
* CreateClientWebSocket - 0%
* RegisterPrefixes - 0.0064%

Not so sure about the last two but I really want to remove `IsApplicationTargeting45`. Any objections?

[2016-11-28 22:59] weshaggard commented on #111
No objection on IsApplicationTargeting45, I will remove it, but we should probably keep the other two.

[2016-11-29 02:54] #110 closed

[2016-11-29 02:57] weshaggard opened #113 "Update compat shims to point to some extensions"
For things like mscorlib compat shim we should have it type-forward things like registry and reflection.emit even if they aren't present all the time. This allows for folks to use a preexisting library that references those in a netstandard library.

[2016-11-29 08:53] tabakerov opened #114 "[FAQ] Is process of API deprecation defined?"
I look at Java and they have some troubles not having deprecation policy from the beginning. For about 18 years they has Thread.stop() and other methods marked as deprecated but still available for use. New deprecation policy, AFAIK, will come only [with next Java version](http://openjdk.java.net/jeps/277).
So the question - does .NET Standard define some deprecation policy?

[2016-11-29 21:21] danmosemsft commented on #101
@yizhang82 for question above...

[2016-11-29 23:07] danmosemsft opened #115 "Missing bits of WebClient etc"
The following are missing from Standard but do seem to be present on Core, Desktop, Xamarin etc in the assemblies we based standard on. What am I missing?

[code]

[2016-11-30 01:07] danmosemsft opened #116 "Remove TransportType as it's only used by CAS"
[code]

[2016-11-30 02:21] terrajobst commented on #110
Open is the right right thing. Thanks!

[2016-12-01 23:53] weshaggard commented on #115
These were part of the clean of obsolete error=true APIs I cleaned up with https://github.com/dotnet/standard/commit/d5fbcbeeeb7f15102fdac111bc8d7d5d72c32036. These APIs cannot ever be called and almost all of them were added purely for designer support so they didn't make sense to be in the standard.

[2016-12-01 23:53] #115 closed

[2016-12-01 23:58] #116 closed

[2016-12-02 00:00] #111 closed

[2016-12-02 00:02] weshaggard commented on #101
Unless we get confirmation that these should be obsoleted in standard by @yizhang82 I'm not planning to add these attributes.

[2016-12-02 00:03] stephentoub commented on #115
Should they be removed from core then? I'm not understanding why/when we decide not to add something back to standard but then leave it being added back to core. Have we done a full pass to rationalize all such APIs?

[2016-12-02 00:10] weshaggard commented on #114
.NET does have a API deprecation process see https://msdn.microsoft.com/en-us/library/system.obsoleteattribute(v=vs.110).aspx, https://msdn.microsoft.com/en-us/library/22kk2b44(v=vs.90).aspx and https://msdn.microsoft.com/en-us/library/ee461502(v=vs.110).aspx.

While we have the obsolete attribute with an option for IsError=true we rarely use it. For better or worse our compat goals almost always

[2016-12-02 00:12] weshaggard commented on #55
@gulbanana that is something we are thinking about and would like to try to do as well but it isn't going to be in our up coming releases.

[2016-12-02 00:17] weshaggard commented on #101
I'm closing this issue @yizhang82 please feel free to re-open if you feel we should make these obsolete in netstandard.

[2016-12-02 00:30] weshaggard commented on #115
Yes

No but it is something probably worth looking at. For the most part things getting removed from standard in recent months have been triggered by .NET Core changes so I wouldn't expect those to be an issue but I'm sure there probably are some API's we have removed from standard that were already added to .NET Core and we could consider removing them or not it really depends on whether or not t

[2016-12-02 00:33] stephentoub commented on #115
Do you have the ability to create a diff that shows APIs in core but not in standard?

[2016-12-02 00:36] weshaggard commented on #115
Yes we could use APIReviewer to produce that but it will be noisy as there are a number of APIs in that bucket. @danmosemsft have you looked at that direction?

[2016-12-02 11:38] jnm2 commented on #55
My fear is that without some type of static type safety in the API preventing you from doing nonportable things without knowing it, this could become a minefield. I know you did this to make it easier to port to, but I can't help feeling it's a compromise that trades off all kinds of reliability.

What would such tooling look like?

[2016-12-02 13:03] jnm2 commented on #55
It's possible I've missed the picture, so maybe you can help me understand. What is the .NET Standard, if not a set of APIs to build on which is guaranteed to be implemented in any runtime?

[2016-12-02 18:33] weshaggard commented on #55
@terrajobst do you have a write-up of what our current thoughts are around how to provide some tooling around the APIs not supported on some platforms.

The goal of .NET Standard is to provide a common set of APIs that you can depend on being present on a platform that supports .NET Standard. We strive to have everything in the standard supported everywhere but it just isn't possible for every API

[2016-12-04 04:14] gulbanana commented on #55
I guess the difference between "depend on being present" and "guaranteed to be implemented" is that in the former case your guarantee is that you can compile against this capability and it will be attempted, but not necessarily succeed, at runtime..?

[2016-12-05 04:23] yhvicey opened #117 "Has TOOLRUNTIME_DIR been removed twice?"
In init-tools.cmd, directory %TOOLRUNTIME_DIR% will be removed whether with the switch "force" or not. Is it a bug or a feature?

code:
[code]

[2016-12-05 05:11] yizhang82 commented on #55
@gulbanana Correct. COM interop is actually a good example of this - you'll compile your x-plat app successfully even if you only use COM interop on windows (but the code is there under a if). As long as you correctly detect the current OS and don't use COM interop on non-Windows platform, your app would work in all platforms. If you actually do use it in Linux, for example, your app would blow up

[2016-12-05 06:05] yizhang82 commented on #101
I'll spend some time to review them case-by-case. We did deprecate many of them to indicate they are 'legacy'. I think we should align with desktop and not deprecate just because they are not available in .NET Core.

[2016-12-05 13:22] jnm2 commented on #55
I would be much more comfortable with this if there was a warning for code that accesses such APIs if the control flow does not clearly indicate that you know you're on the correct platform.

If I'm, say, a NuGet library author starting out with a new project on netstandard2.0, I may do all my testing on Windows since that's what I have. I may not realize when I've taken a dependency on a Windows-

[2016-12-05 16:32] JoelLeach commented on #55
@yizhang82 That's a good explanation, and I agree with the overall approach.  "Guaranteed to be implemented" everywhere only leads back to the Portable Class Libraries approach and an ever-shrinking API set as .NET Core shows up in more places. That said, I do think that many developers will expect .NET Core on Windows to be the "reference implementation" of .NET Standard.  It will be confusing to

[2016-12-05 19:13] weshaggard commented on #117
It won't be removed if the semaphore marker file is found, which is the common case. https://github.com/dotnet/standard/blob/master/init-tools.cmd#L26

[2016-12-06 17:13] weshaggard commented on #117
Closing as we pointed out this isn't an issue in the PR.

[2016-12-06 17:13] #117 closed

[2016-12-06 20:46] danmosemsft commented on #115
The number of adds in core over standard are enormous (12,757) although that could be pared down some eg by removing unrelated assemblies if we wanted to go through them for some reason.

If you want to get an idea you can open in apireviewer the file std.vs.core.adds.apix in my folder on the usual scratch server.

For those with Obsolete, true I see only 40:

Some in Microsoft.VisualBasic.Compile

[2016-12-07 09:35] roji commented on #34
This thread left me somewhat confused regarding the availability of Thread in UWP: looking at [System.Threading.Thread](https://www.nuget.org/packages/System.Threading.Thread/), it does seem to support `netstandard13`. If you're saying Thread isn't available in UWP, does that mean UWP doesn't support `netstandard13`, or am I mixing things up?

[2016-12-07 19:40] terrajobst commented on #34
It's simple:

* .NET Standard 2.0 will have `Thread`
* .NET Standard 1.3 [doesn't really support](https://apisof.net/catalog/System.Threading.Thread) `Thread`; the package doesn't provide an implementation for UWP.

*(Our package authoring is complicated. In a nutshell, supporting means a package has to provide a compile time artifact and a deployment artifact. The good old `lib` folder did both,

[2016-12-08 09:42] roji commented on #34
Thanks for the clarification @terrajobst.

It's definitely confusing for System.Threading.Thread to support netstandard13 (in the sense that it's listed in https://www.nuget.org/packages/System.Threading.Thread/), but at the same time for netstandard13 to not really support Thread... I guess this also mean it's possible to successfully build a UWP app with a dependency on Thread, only to have it b

[2016-12-08 19:34] terrajobst commented on #34
I don't think that's true; I believe you get a package restore failure.

[2016-12-08 20:15] roji commented on #34
Apologies, I wrote that based on a user report without actually checking. Thanks for all the answers.

[2016-12-09 03:20] stephentoub opened #122 "Remove finalizers from sealed classes"
Is there any reason we need to keep these in the standard?

~LocalDataStoreSlot() { }
~WeakReference() { } (from ```WeakReference<T>```)
~IsolatedStorageFile() { }
~MemoryFailPoint() { }
~ConditionalWeakTable() { }
~ReaderWriterLock() { }
~Thread() { }
~AnonymousPipeClientStream() { }
~AnonymousPipeServerStream() { }
~NamedPipeClientStream() { }
~NamedPipeServerStream() { }
~AsyncOperation() { }

[2016-12-09 03:25] jkotas commented on #122
WeakReference is not sealed.

[2016-12-09 03:26] stephentoub commented on #122
```WeakReference<T>``` is, which is what I was copying out of.  I've clarified.

[2016-12-11 19:03] 21c-HK opened #123 "Update official yet out-of-date documentation"
Assuming the documentation in this repository is the most up-to-date documentation on the .NET Standard, the following pages currently show out-of-date/contradicting documentation, which make the available documentation inconsistent. The specific out-of-date/contradicting is mentioned in the bullet points below each page. The list of pages is not exhaustive, just those where I noticed inconsistenc

[2016-12-12 15:14] pierslawson commented on #41
@terrajobst whilst usage might be low it certainly isn't zero, what is the suggested replacement?

[2016-12-12 18:57] 21c-HK commented on #123
## [.NET Standard 2](https://github.com/dotnet/standard/blob/master/docs/netstandard-20/README.md) (github.com/dotnet/standard)

- "**.NET Framework 4.6.1 supporting .NET Standard 2.0**" says

This statement aligns with to the old version table, but is missing from the new version table. Is this up-to-date information? If so, the current version table should be updated to reflect that the .NET Fra

[2016-12-13 15:34] tomkuijsten opened #124 "UnauthorizedAccessException type incompatible between netstandard1.4 and netcore50"
I created a **netstandard1.4** project which generates a nuget package. There is a piece of code in this project:

[code]

When I install this package in a UWP (**netcore50**) project and (in my case) debug it on a Raspberry Pi, the catch statement is never called. When I put a `try...catch...` in the UWP project itself, it does catch the error. The only explanation I can think of is that the `Una

[2016-12-13 15:35] tomkuijsten commented on #124
I'm realizing now that this might be the wrong GitHub project, let me know if I should post this elsewhere.

[2016-12-15 20:09] praeclarum opened #127 "Request for a Formal Proposal Process"
I'm very excited for .NET Standard; however, I am concerned that there is no formal process for changing it.

For example, **how does one propose APIs to be added**?

The [FAQ](https://github.com/dotnet/standard/blob/master/docs/faq.md#who-decides-what-is-in-net-standard) says that the board (a closed group of a few runtime vendors) decide.

I do not think that this is sufficient to keep Standard

[2016-12-17 00:06] weshaggard opened #128 "Make NETStandard.Library 2.0 package compatible with 1.6"

[2016-12-17 00:07] weshaggard commented on #124
This should probably go into the http://github.com/dotnet/corefx repo.

[2016-12-17 00:07] #124 closed

[2016-12-17 00:13] weshaggard opened #129 "Enable conflict resolution in NETStandard.Library package"
We need to either build or pull the conflict resolution task (once it exists) and add a targets file to the NETStandard.Library package to enable conflict resolution.

[2016-12-17 00:40] weshaggard opened #130 "Add intellisense files into NETStandard.Library package"
@terrajobst @mairaw any thoughts on how we get the intellisense files for netstandard.dll?

[2016-12-17 00:44] terrajobst commented on #130
That's a good one.

I'd say that depends on how we want to generate the reference documentation in the first place. My naiive view is that we should simply choose a concrete platform (let's say .NET Framework or .NET Core) as the starting point and generate the master file for .NET Standard. From then on, the documentation is provided when we add APIs, using the docs that already exist for the giv

[2016-12-17 02:07] mairaw commented on #130
Can you educate me on how this is going to work? I always thought that the .NET Standard was just a spec but that the real implementation would come from each individual platform. So what implementation will you have on this DLL? Or does it only contain the API signatures?

We could probably add that DLL to our reflection process that would identify the platform as .NET Standard. We're still desig

[2016-12-17 12:13] tomkuijsten commented on #124
Created an issue in corefx repro (https://github.com/dotnet/corefx/issues/14601), thanks for the tip.

[2016-12-17 22:10] genstein opened #131 "What is the definition of supporting a specific .NET Standard version?"
The [introducing .NET Standard](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/) blog entry states:

This implies, but does not state, that the implementation has to fulfill the contract of the original API.

The [Review board documentation](https://github.com/dotnet/standard/blob/master/docs/review-board/README.md) states:

This goal would require that implementations

[2016-12-18 00:54] danmosemsft commented on #131
@terrajobst

[2016-12-18 03:50] Qowy opened #132 "UWP and netstandard1.6"
Hi,
I am not sure if this is the right repo for this so please guide me to the right one of the many dotnet repos if it isn't.

Has UWP (uap10.0) changed from its support for netstandard1.4 to anything higher with Windows 10 14393 and if not what is the roadmap for netstandard2.0 (UWP never seems to be mentioned in the roadmap documentation)

https://github.com/dotnet/standard/blob/master/docs/ver

[2016-12-18 20:00] Qowy commented on #130
@mairaw I would guess he is talking about https://www.nuget.org/packages/NETStandard.Library/ which seems to provide netstandard1.6 for platforms only supporting netstandard1.0-1.3.
This should work since according to documentation the netstandard is also provided by packages and not only by the platform. (https://docs.microsoft.com/en-us/dotnet/articles/core/packages#package-based-frameworks) At

[2016-12-19 12:45] groege commented on #132
AFAIK netstandard1.5 and netstandard1.6 will be scrapped --> so for now use 1.4 until 2.0 is released.

[2016-12-19 12:56] Qowy commented on #132
The point is I want to use aspnet.core packages in a UWP. And aspnet.core requires netstandard1.6

[2016-12-19 17:23] weshaggard commented on #130
.NET Standard is sort of an API spec but it will also be a targeting pack for libraries that want to build only against .NET Standard. So we will have the NETStandard.Library package which will contain a set of reference assemblies for people that want to build libraries against the standard.

[2016-12-19 18:30] terrajobst commented on #130
What wes is talking about here is having an XML file called netstandard.xml that contains the tripple-slash documentation that IntelliSense will show when authoring libraries targeting .NET Standard.

I was suggesting generating this file from the reference documentation we already have for .NET Framework/.NET Core.

[2016-12-19 20:18] weshaggard commented on #132
https://github.com/dotnet/standard/blob/master/docs/versions/netstandard1.6.md that incorrectly lists UWP as a supported platform (cc @terrajobst). I will update that md to remove that.

UWP currently only supports netstandard1.4 and if you do an import netstandard1.6 you will hit issues there are going to be a number of underlying missing APIs.

As for netstandard2.0 support for UWP, while we don

[2016-12-19 20:23] weshaggard commented on #132
I updated the docs to remove UWP 10 from the supported list in netstandard1.5 and netstandard1.6 thanks for calling those to our attention.

[2016-12-19 20:23] #132 closed

[2016-12-19 20:26] weshaggard commented on #127
I agree we should probably get this documented. @terrajobst can you take a stab at it.

[2016-12-19 20:40] weshaggard commented on #131
At the end of the day a given platform can claim what they want and throw for all the APIs however doing so will block them from consuming libraries in the .NET ecosystem targeting the standard. The goal of the standard is to try and agree on a common set of APIs that platforms should provide.

The behavior should be as consistent as possible across the different implementations, we are actually p

[2016-12-19 21:35] 21c-HK commented on #123
## [Packages, Metapackages and Frameworks](https://docs.microsoft.com/en-us/dotnet/articles/core/packages) (docs.microsoft.com/en-us/dotnet/articles/core)

- It seems that that page refers to "Frameworks" in .NET Core, what is now called "Platforms" in .NET Standard.
- "Runtime" is used as a synonym for "Framework"/"Platform" on that page.

I find it really important to make sure to use consistent

[2016-12-19 22:27] 21c-HK commented on #131
This issue is important and there needs to be detailed information what exactly is not supported on each platform targeting a specific .NET Standard version. There is no point in having a "Standard" when (after reading the documentation and avoiding non-universal APIs) you cannot be relatively confident that your application is going to run on a platform without unexpectedly throwing exceptions. I

[2016-12-19 22:33] shanselman commented on #127
@martinwoodward for visibility

[2016-12-19 23:12] 21c-HK commented on #132
Is this up-to-date information? According to the current [FAQ](https://github.com/dotnet/standard/blob/master/docs/faq.md#what-about-the-breaking-change-between-net-standard-1x-and-20) Microsoft decided not to do the breaking change:

[2016-12-19 23:22] weshaggard commented on #132
No that information isn't updated and as you point out we changed our mind on this point based on feedback. .NET Standard 2.0 will have all the APIs that are in .NET Standard 1.5 and 1.6.

[2016-12-19 23:29] terrajobst commented on #131
Hey @genstein, you're raising an important point and I agree that we should precisely document what it would mean for .NET Platform to implement .NET Standard. First of, we need this anyway to drive the implementation across the existing .NET Platforms. Secondly, it might help new platforms when we need to bring them up, and lastly it can help further the understanding in our community on how .NET

[2016-12-19 23:34] weshaggard commented on #131
We do intend to have some tooling that will help guide developers on which APIs might have issues on certain platforms once platforms start implementing the standard. At this point we don't have all the data or the tooling to make that experience better.

If your familiar with the older PCL world we tried exposing only APIs that worked everywhere and the result was a smaller jagged API surface are

[2016-12-19 23:36] terrajobst commented on #132
Thanks for fixing this @weshaggard. No idea, why I listed .NET Standard 1.5. and 1.6. supporting UWP. Must have been copy & paste error....

[2016-12-19 23:40] terrajobst commented on #127
I've had a 1:1 conversation with @praeclarum to understand the scenarios and goals. We need to flesh this out a bit more. I'll bring this up in a meeting with the .NET Foundation TSG to see how we can improve the process.

To be honest, the current process isn't very crisply defined because the upcoming version of .NET Standard is basically simply adding a ton of APIs that all existing platforms a

[2016-12-20 00:03] 21c-HK opened #133 "Alternative proposal for clean support of .NET Framework 4.6.1 with .NET Standard 1.7"
[The spec on .NET Standard 2.0 plans to be able to target .NET Standard 2.0 with .NET Framework 4.6.1 even though 43 APIs of .NET Standard 2.0 will not be supported by .NET Framework 4.6.1](https://github.com/dotnet/standard/blob/master/docs/netstandard-20/README.md#net-framework-461-supporting-net-standard-20).

The motivation for this sloppy solution seems to be that it is assumed that .NET Stan

[2016-12-20 00:22] 21c-HK commented on #127
@terrajobst I disagree. A proper (open) process should be put in place as soon as possible. The lack of proper process is what
1. almost [introduced a (truly unnecessary) breaking change into .NET Standard 2.0](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/)
2. left [out-of-date information all over the place](https://github.com/dotnet/standard/issues/123)
3. created

[2016-12-20 00:30] 21c-HK commented on #123
## [netstandard1.5.md](https://github.com/dotnet/standard/blob/master/docs/versions/netstandard1.5.md) (github.com/dotnet/standard)

- This page lists ".NET Framework 4.6.2" in "**Platform Support**", but the new version table no longer shows that .NET Framework 4.6.2 targets any .NET Standard version.

## [netstandard1.6.md](https://github.com/dotnet/standard/blob/master/docs/versions/netstandard

[2016-12-20 00:47] 21c-HK commented on #131
I agree that this is a sensible strategy, but what is being planned in .NET Standard 2.0 with regards to being targeted by .NET Framework 4.6.1 is not just "rough edges", but just sloppy when there are [potentially better solutions](https://github.com/dotnet/standard/issues/133).

[2016-12-20 01:00] Petermarcu commented on #133
Isn't the problem that .NET Standard 1.6 as it was defined already has the 43 API's in it that are not in .NET 4.6.1? Therefore they would have to be in 1.7 if its a strict superset. The problem is that you can't both add and subtract API's and still version linearly. @terrajobst and @weshaggard can confirm.

[2016-12-20 01:26] 21c-HK commented on #133
@Petermarcu Thank you for your comment. Do you have an official source or can someone else in an official capacity confirm this?

If that is indeed the problem, then I would suggest that .NET Framework 4.6.1 should target a modified  .NET Standard 1.5 where the 43 APIs are excluded since the .NET Standard 1.5 is not directly targeted by any other .NET platform right now. Is this possible or are th

[2016-12-20 01:44] 21c-HK commented on #123
## [netstandard1.4.md](https://github.com/dotnet/standard/blob/master/docs/versions/netstandard1.4.md) (github.com/dotnet/standard)

- This page lists ".NET Framework 4.6.1" in "**Platform Support**", but the new version table shows that .NET Framework 4.6.1 targets .NET Standard 2.0.

[2016-12-20 04:09] Petermarcu commented on #133
Happy to discuss and make sure it all makes sense. I can pull some data from some other sources tomorrow to confirm what I mentioned. I just don't have it in front of me right now.

All the outcomes require some version of the standard dropping some of the API's because they were accidentally added before we had a clear picture of how .NET Standard needed to evolve in the context of .NET Framework

[2016-12-20 11:26] 21c-HK commented on #133
If the 43 APIs that are not supported by .NET Framework 4.6.1 were indeed added in .NET Standard 1.6, then targeting a modified .NET Standard 1.5 that I suggested in my previous comment could be a viable solution. Are there any problems with that?

This is a very pragmatic reason that I understand, but there might be a solution that will not cause problems in the future.

There is a problem with t

[2016-12-20 13:15] JohnGalt1717 opened #134 "Latest VS.net 2017 Standard Libraries as Assembly Dependancies on Web Project fail"
We have several projects which depend on a few core libraries that we keep a in lib folder in each project. We do this so that it's easier for continuous deploy etc.

Both of these libraries are .net standard 1.3 libraries. If we add the project themselves as dependences everything works fine, the app compiles and runs as normal.

If we add a reference and browse to the lib folder and add the dlls

[2016-12-20 17:29] Petermarcu commented on #133
This isn't the plan, it sounds like an explanation of what could have happened if we didn't define .NET Standard 2.0 as something that .NET 4.6.1 supports.

I believe they were added in 1.4, 1.5, and 1.6. A little in each. Again, I'll have to pull up the data. From what I understand, your suggestion is to go back to whatever version we added them in, redefine that version to not have those API's,

[2016-12-20 18:31] terrajobst commented on #133
Here is the problem we were facing:

* .NET Framework 4.6.1 only supports .NET Standard 1.4.
    - .NET Standard 1.5 and .NET Standard 1.6 have APIs that .NET Famework 4.6.1 doesn't have yet.
* That number of APIs is very low (< 100 APIs)
* A 100% of the APIs that we want to add to .NET Standard are already supported by .NET Framework 4.6.1, and that's a very large number (~20,000 APIs)

We've two

[2016-12-20 18:47] terrajobst commented on #123
Our documentation represents the *shipped* state of the .NET standard the corresponding platforms implementing it. The documents you find in this repository accurately capture the state of the *upcoming* version of .NET Standard 2.0. We'll certainly have up-to-date information at the time we release the software.

[2016-12-20 18:58] terrajobst commented on #123
That information is correct, but your the relationship it describes isn't *targeting* but *implementing*. In other words:

* .NET Framework 4.5 implements .NET Standard 1.1
* .NET Framework 4.5.1 implements .NET Standard 1.2
* .NET Framework 4.6 implements .NET Standard 1.3
* .NET Framework 4.6.1 implements .NET Standard 2.0

This means that if you're looking at .NET Standard version, this is the

[2016-12-20 19:05] mairaw commented on #123
For documentation bugs, you can open an issue in our repo as well: https://github.com/dotnet/docs/

I want to work with @terrajobst and the rest of the team to improve the docs you mention above and make sure we're crisp on the terminology used. We already have the following issues in our backlog:
https://github.com/dotnet/docs/issues/1311
https://github.com/dotnet/docs/issues/1093

[2016-12-20 21:19] weshaggard commented on #133
@21c-HK thanks for the great feedback we really appreciate folks trying to grasp all the constraints we are working under here and suggest potential solutions.

I agree with @terrajobst's summary of the problems and the compromises we are making. One additional thing I would call out is if we went with a modified netstandard1.5 approach, beyond the breaking change of removing APIs, we couldn't eas

[2016-12-20 21:33] #123 closed

[2016-12-20 23:28] weshaggard commented on #134
What are the loader failures? I assume they are because of missing dependencies.

[2016-12-21 02:11] terrajobst commented on #133
@21c-HK let us know what you think, but I think we should close this issue as I don't think there is a better way of modelling .NET Standard 2.0 and .NET Framework 4.6.1.

[2016-12-21 02:11] #133 closed

[2016-12-21 09:51] RickStrahl commented on #55
It seems to me COM has no place in .NET Standard since it's platform specific technology. It shouldn't be there!

Support for COM should be a framework library that sits on top of standard and hopefully mimics the same interfaces as System.Runtime.Interop provides today. It would just be an OS specific framework assembly.

 Anything else would be terribly confusing IMHO.

I realize the main reason

[2016-12-21 14:15] JohnGalt1717 commented on #134
File Not Found.

Given that I did a completely clean class library with all defaults from the vs.net 2017 Rc wizard with no dependencies other than .NET Standard 1.6.1 I don't know how it could be dependencies causing the issue.

[2016-12-21 15:33] jnm2 commented on #133
@terrajobst That's the first explanation that convinces me we're on the right path. Thank you!

[2016-12-21 18:28] terrajobst commented on #70
We're still changing the tooling as we speak but here is the general thing:

* `Microsoft.NETCore.App` represents .NET Core, i.e. `netcoreappXx`
* `NETStandard.Library` represents .NET Standard, i.e. `netstandardXx`.

In the `project.json` world you target either platform by referencing their package and using the correct name for the `targetFramework.

Moving forward, the current plan is that you

[2016-12-21 18:28] #70 closed

[2016-12-21 18:36] terrajobst commented on #55
As Jan said above:

Let me provide a bit more context. Not exposing APIs in .NET Standard is easy -- we could always simply subset the types if necessary. However, we think that's problematic. As I explained in my blog post, our goal is to make it possible to target .NET Standard and add dependencies on APIs that don't work everywhere (for example, the registry). This allows being compatible with

[2016-12-21 18:38] terrajobst commented on #55
@JoelLeach, let me know if you want more clarification but I believe this thread provides a complete answer :-)

[2016-12-21 18:38] #55 closed

[2016-12-21 19:43] mairaw commented on #130
That should be possible with the new tooling we're developing. If not, we should add that as a requirement.

/cc @bradygaster @dend

[2016-12-21 22:42] 21c-HK commented on #123
@mairaw Thanks for pointing me to the right repository, so that I can submit more documentation bugs as I encounter them.

[2016-12-21 23:17] 21c-HK commented on #123
@terrajobst

Thank you for the usage examples. I changed my comments above to use the correct terms. It may be necessary to explicitly define what "target", "implement" and "support" means with regards to the .NET Standard. Based on your examples, it seems that a library _targets_ a .NET Standard or .NET platform (i.e. a one-to-one relationship between the consumer of platform APIs and the provide

[2016-12-21 23:27] 21c-HK commented on #133
@Petermarcu

First of all, thank you for being supportive and actually being open to my suggestions.

This is not what I meant. I understand that this is not the plan, but this is still going to happen. Just because .NET Standard 2.0 claims to "support" .NET Framework 4.6.1, does not mean programs using libraries compiled against .NET Standard 2.0 are actually going to _run_ on .NET Framework 4.6.

[2016-12-21 23:55] terrajobst commented on #133
@21c-HK

What data would you like to see beyond what I mentioned above? .NET Standard 1.5 and 1.6 combined add ~100 APIs that .NET Framework 4.6.1 doesn't have. On the other hand, .NET Standard 2.0 adds ~20,000 APIs that .NET Framework 4.6.1 already has.

Nit, but it's the other way around: a .NET platform claims a specific version of .NET Standard. It's like your USB ports. Some ports support USB

[2016-12-21 23:58] 21c-HK commented on #133
@terrajobst

Thank you for re-iterating your motivation and decision tree in detail and commenting on my objection.

I may be misunderstanding this because I am not sure what exactly you are referring to when you use "new" and "existing" APIs. My current interpretation does not help me understand how these two points address my objection. Let me simplify the issue with a concrete example and then

[2016-12-22 00:06] Petermarcu commented on #133
We have discussed hiding them in intellisense. I still think thats a good option we should explore.

[2016-12-22 00:08] jkotas commented on #133
.NET Standard does not save you from testing your application or library on the platforms that you would like to support. There are thousand different ways that one can write .NET Standard compliant code that will only work on subset of platforms or runtimes targeted by the given .NET Standard.

[2016-12-22 00:13] terrajobst commented on #123
Here is my take:

* A library **targets** a specific framework. .NET Standard is a synthetic framework, which represents a standardized set of APIs across all .NET platforms. A library can also target a specific .NET platform, in which case it gets access to platform-specific APIs. For example, when targeting Xamarin.iOS you also get access to iOS APIs.

* A .NET platform **implements** a specific

[2016-12-22 00:15] 21c-HK commented on #133
@terrajobst

You posted your last comment just a few seconds before I posted my last comment, so I would like to address your last comment here:

How many of those were added in .NET Standard 1.5 and .NET Standard 1.6, respectively?

I realize that you have not had the chance to read my last comment yet, but how would tooling prevent the example I mentioned in my last comment. I don't see how it c

[2016-12-22 00:20] 21c-HK commented on #133
@Petermarcu

Intellisense cannot help, because .NET Framework 4.6.1 would not be targeted explicitely as I mentioned in my example:

If I target .NET platform 2.0 as a library author, then I expect Intellisense to show me all the APIs of .NET Standard 2.0 (as long as I don't specifically restrict it to .NET Framework 4.6.1, which I did not in the fictitious example).

[2016-12-22 00:28] Petermarcu commented on #133
If they were hidden from Intellisense then people could compile against them if they went out of their way but they wouldn't call them by accident as easily.

Having a subset edition will mean another "profile mapping" and a fracture in the library ecosystem. Its basically giving up and saying that we made a mistake by adding some API's to .NET Standard too early. We want to go back in time but ca

[2016-12-22 00:36] 21c-HK commented on #123
Thank you! These are very good and clear definitions. I think other people would also benefit from these definitions if they were listed in the FAQ.

That makes a lot of sense if you explain it that way. I still think that it might be helpful to explicitly indicate in the platform support table that there is a (small) technical difference between .NET Framework 4.6.1 supporting .NET Standard 1.4 a

[2016-12-22 00:42] terrajobst commented on #133
I don't know the break down between .NET Standard 1.5 and .NET Standard 1.6. But .NET Standard 1.6 is a superset of .NET Standard 1.5 and .NET Standard 1.6 has ~100 APIs that .NET Framework 4.6.1 doesn't have. I don't know how many of them were already in .NET Standard 1.5, but why would that break down matter? It's no like you can insert a version in between.

Please read my explanation again. I

[2016-12-22 00:53] terrajobst commented on #123
Good call, submitted #136.

We've talked about doing this but the consensus was that it will most likely have the reverse effect. Most developers would never experience a difference because it just works. But by adding an asterisk to the table we force them to gain an understanding and thus cause confusion.

I'd say: let's see what happens when we have actual bits :-)

[2016-12-22 01:03] 21c-HK commented on #133
@Petermarcu

I don't understand what you mean? Could you elaborate by referring to my fictitious example?

Well, that's what actually happened :-).

How about the following when .NET Framework 4.6.1 no longer has the highest adoption:
Change the platform support table back to show .NET Framework implementing .NET Standard 1.4 only, so that library authors in the future are encouraged to target a h

[2016-12-22 01:18] jnm2 commented on #133
They are good arguments that make sense.

[2016-12-22 08:27] Petermarcu commented on #133
This has been a good conversation :)

Change the platform support table back to show .NET Framework implementing .NET Standard 1.4 only...

I think that may be interesting from a documentation perspective but I assume the tools would still let you reference a .NET Standard 2.0 library when targeting .NET 4.5.1 because if we didn't allow that, people that had working solutions would start breaking.

[2016-12-22 08:39] 21c-HK commented on #133
That's true. May be an additional warning in the tooling then is enough to make developers aware of that.

[2016-12-22 19:52] terrajobst commented on #133
Also, there is value in having docs that are "only" 99.99% correct and ignore the 0.01% case, instead of trying to overcompensate :-)

[2016-12-24 07:26] mjsabby opened #137 "Add netstandard as platform assembly for FxCop"
There is a list inside of FxCop somewhere that defines which AssemblyRef looks like a platform assembly. It uses this information to do some validation on the TFM.

I had issue with System.Runtime 4.1.0 which FxCop didn't support (and probably still doesn't). We should update it to support netstandard.

I'm opening this here, even though I think someone on roslyn (maybe @mavasani?) would need to m

[2016-12-26 20:31] matthargett opened #138 "Ensure net standard 2.0 satisfies dependencies of WindowsBase and PresentationCore"
First, let me say that I understand that net standard doesn't include platform-specific UI libraries, and fully support that philosophy.

We are shipping a WPF application (React Native Windows, specifically) on Windows 7 and would like to use .NET Native compilation. The requisite UI libraries are missing, but we can hypothetically work around that by re-targeting and re-authoring those assemblie

[2016-12-26 21:26] Petermarcu commented on #138
I believe the more interesting thing to talk about is whether WindowsBase and PresenatationCore can be implemented on top of .NET Standard. In other words, you could have an implementation of those on top of .NET Standard which would then be able to run anywhere that supports .NET Standard and supports whatever underlying tech is used for the UI stack.

Beyond that, in order to get .NET Native it

[2016-12-27 00:59] matthargett commented on #138
1. Sorry if I wasn't clear, I did mean that netstandard should be complete enough to allow those libraries to be built on top of it. We will do a decompile-retarget-recompile and add a comment to this issue about missing types and/or namespaces. The Xaml namespace/assembly will definitely be among them.

2. .NET Native does work outside UWP. We proved this by invoking ILC.EXE manually on a non-UWP

[2016-12-27 07:05] Petermarcu commented on #138
Great. We're on the same page. I know the xaml types have been discussed. It would be great to see data for what types are in your list. We can decompose them and see which can just be on top vs needing to be in the standard.

Cool on #2, definitely not supported but as you proved, isn't too far off. There are some types that are implemented on .net core that don't exist in the mrt world for .net

[2016-12-28 21:26] 21c-HK commented on #138
What would this look like? Some kind of drawing API that is supported on all platforms? I would love a modern 2D cross-platform hardware-accelerated drawing API in .NET Standard.

[2016-12-28 22:14] danmosemsft opened #140 "Question: Multi-Target for NetStandard 2.0 and .NET 4.5 ?"
@MichaelKetting commented on [Wed Jul 20 2016](https://github.com/dotnet/corefx/issues/10172)

Hello!

A couple of weeks ago, there was an announcement that most of the BCL will get ported to .NET Core, which is plain awesome. E.g. I should then be able to enable most of my extensive framework library (> 100 projects) for .NET Core.

Now, for the question: These features will be delivered when tar

[2016-12-30 00:39] mellinoe commented on #138
@21c-HK Given that there isn't really a "de-facto" 2D drawing library for .NET, I think it would be hard to include anything *in* the .NET Standard right now. Good first steps in that direction would be to get projects like SkiaSharp, etc. running on top of .NET Standard, and seeing how well they work, what sorts of patterns work or don't work, etc. There is nothing blocking projects like SkiaShar

[2016-12-31 12:50] adamhathcock opened #141 "Targeting .NET Core 1.0 and 1.1 (and future) with .NET Standard"
With 1.0 and 1.1 the system libraries got updated (just call them 4.1 and 4.3 generally) and the 4.1 libraries reference 1.0 specific bits while the 4.3 reference 1.1 specific bits.

With other platforms (Xamarin, Full Framework, etc.) this isn't a problem.  However, it looks like .NET Standard has a problem with this: https://www.nuget.org/packages/System.Runtime/

Maybe I'm missing something.

T

[2016-12-31 18:25] Petermarcu commented on #141
Are you trying to create an app that targets `netcoreapp1.0` and say `netstandard1.3`? .NET Core will be moving away from such granular package references as will .NET Standard. This should help resolve many of the complex mismatch challenges in the package graph.

[2016-12-31 18:39] adamhathcock commented on #141
Yeah, that would be the idea as I have an app that requires `netcoreapp1.0` and thought a net standard to share wider.

So I'm understanding correctly then that those System packages are for a specific net Core version?

Is there a spec showing what you describe?  This planned for net standard 2.0 timeframe?

[2017-01-01 01:24] Petermarcu commented on #141
Yes, .NET Standard is just an API set. .NET Core is an implementation of that API set. .NET Core's implementation and .NET Standard were too coupled in the first releases of .NET Core and .NET Standard. In the .NET Core 2.0 timeframe, those two things will be divorced. You can compile a library against the .NET Standard API set you need and then you will be able to load that library on any .NET Pl

[2017-01-01 08:41] adamhathcock commented on #141
I'm not getting an error but I noticed if I wanted to use a new System.Runtime 4.3 for example on `netcoreapp1.0`, the nuget package looks like it depends specifically on `netcoreapp1.1` bits (e.g. Microsoft.NETCore.Platforms 1.1.0)

I was wondering if I was in for random runtime errors if a newer 1.1.0 package like the platforms one is ran on a `netcoreapp1.0` runtime.

[2017-01-01 20:09] Petermarcu commented on #141
NuGet should prevent you from using that package because it doesn't have an asset that works. Many of the packages contain bits that work on netcoreapp1.0 and netcoreapp1.1. Package versions move forward but we don't want people to break when they upgrade the package but are targeting older targets. So we leave the asset in there for the older target but if people target something newer, they'll g

[2017-01-02 11:11] BladeWise opened #142 "CultureInfo.LCID missing"
I noticed that when targeting **NetStandard** (1.6), the
`CulutreInfo.LCID`
property is missing.

Is this intended, if so can you point out some docs regarding this?

[2017-01-02 12:50] akoeplinger commented on #142
It was added back in .NET Standard 2.0: https://github.com/dotnet/standard/blob/c486c85e76ae628a025954bb824f2660e090f2fb/netstandard/ref/mscorlib.cs#L5837

[2017-01-03 23:33] weshaggard commented on #142
Correct it will be included in .NET Standard 2.0.

[2017-01-03 23:33] #142 closed

[2017-01-04 02:51] JohnGalt1717 commented on #134
*bump*

[2017-01-04 09:38] adamhathcock commented on #141
I think I understand everything.  Thanks!

[2017-01-04 17:05] Mattacks opened #143 ".Net Framework 4.6.2 omitted from the table"
https://github.com/dotnet/standard/blob/master/docs/versions.md

For completeness need to say where it fits.
What .Net Standard does it support?
If I am currently using .Net Framework 4.6.2. but want the same codebase to run on Core what Standadr does this imply?

Ignoring this supported product is not acceptable

[2017-01-04 17:14] weshaggard commented on #134
FileNotFound might still be caused by missing dependencies. Can you give a little more information? Can you provide the exact exception message you are getting? Also can you provide what your project file looks like before and after this change so I can better try and understand the context.

[2017-01-04 18:27] Petermarcu commented on #143
.NET Framework 4.6.2 will support .NET Standard 2.0. It is implied that if 4.6.1 supports .NET Standard 2.0, so will .NET 4.6.1.

[2017-01-04 20:42] JohnGalt1717 commented on #134
Create a new .dotnetcore website as a solution I Visual Studio 2017 RC.
Add a second project as a .netstandard library to the solution.
Add a class to it that has a property or something. Doesn't matter as long as it's public.
Build said .net standard library.

Copy the dll for the .net standard library (i.e. everything in the bin/debug folder) into a libs folder at the root of the solution.

In t

[2017-01-04 21:10] Petermarcu commented on #134
Probably an issue with the deps file that is generated. @schellap

[2017-01-05 00:00] tofutim opened #144 "copying nuget content from LibLog"
Hi, I recently ran into an issue where my netstandard11 library did not get some content from a nuget package. The package is LibLog and comes from https://github.com/damianh/LibLog/blob/master/src/LibLog/LibLog.nuspec

The nuspec just has
[code]
which you would think would just work. However, it does not work on a netstandard11 library. I see the content in net45 and in old-style PCL, but in nets

[2017-01-05 00:30] schellap commented on #134
@JohnGalt1717 Would it be possible to send a .zip file of your sample project. I have this [WebApplication1.zip](https://github.com/dotnet/standard/files/686172/WebApplication1.zip) and it worked fine for me. Also, could you please paste the exact error message? It might be better, if we could get a zip of your built project with the build artifacts.

[2017-01-05 00:33] Petermarcu opened #145 "Works on Core: OpenTK?"
Pulled from: https://github.com/dotnet/core/issues/360

Package OpenTK 2.0.0 is not compatible with netstandard1.6 (.NETStandard,Version=v1.6). Package OpenTK 2.0.0 supports: net20 (.NETFramework,Version=v2.0)

[2017-01-05 01:28] jnm2 commented on #143
@Mattacks think of it this way:

|.NET Platform              | 1.0| 1.1| 1.2| 1.3| 1.4| 1.5| 1.6| 2.0|
|:--------------------------|-----:|-----:|-----:|-----:|-----:|-----:|-----:|-----:|
|.NET Core                  |&rarr;|&rarr;|&rarr;|&rarr;|&rarr;|&rarr;|   1.0+| vNext|
|.NET Framework             |&rarr;|  4.5+ | 4.5.1+|   4.6+|&rarr;|&rarr;|&rarr;| 4.6.1+|
|Mono                       |&rarr

[2017-01-05 02:22] mellinoe commented on #145
I've been using a recompiled version of OpenTK (for .NET Standard 1.3) for a long time now, with no issues: https://www.nuget.org/packages/OpenTK.NETCore/. We'd like to support it officially in OpenTK, but I've recommended waiting for the tooling to settle down. https://github.com/opentk/opentk/issues/446 is related. Is there something concrete to track here?

[2017-01-05 08:39] kimbell opened #146 "Confusion around the netstandard.dll"
I’ve been following @terrajobst YouTube videos, and particularly the one on .net standard.

In this video you mention netstandard.dll, and that makes things a bit confusing for me.
Let’s say we are using MemoryStream from a .NET Core app targeting netstandard 2.0, and running on a Windows machine with latest framework installed.

Am I correct in the following:

1.	My custom assembly is linked to n

[2017-01-05 09:04] Mattacks commented on #143
@Petermarcu - this is a standard - stuff needs to be explicit, not implicit
@jnm2 - If you say so. But it is of course different from the original announcement
https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/
which is at the top when I do a WWW search for '.Net Standard'

[2017-01-05 12:54] jnm2 commented on #143
It's so obvious, it would just be confusing to list. If 4.6.1 has enough APIs to support something, it's obvious that a patch update 4.6.2 will not remove those APIs. Removing APIs is the only way 4.6.2 could become incompatible.

I'm pretty sure this is explicitly called out too, that frameworks only make forward progress. If a break occurs, it always occurs on a major version change and is expli

[2017-01-05 13:33] JohnGalt1717 commented on #134
[WebApplication1.zip](https://github.com/dotnet/standard/files/687327/WebApplication1.zip)

Open the SLN, and run the webapplication1. It will crash with a badgateway error. Hit refresh in IE and you'll get the file not found loader error. Both projects have a single dependency: Newtonsoft.Json which has been added to both projects using nuget.

[2017-01-05 13:34] JohnGalt1717 commented on #134
Note that if you remove newtonsoft.json from the classlibrary, rebuild it, and copy the result into the libs folder and then rebuild the webapplication1 and run it, you'll still get the error.

[2017-01-05 15:42] Mattacks commented on #143
@jmn2 While you say "it's obvious that a patch update 4.6.2 will not remove those APIs" - the blog post I referred explicitly states that support for APIs *is* lesser in 4.6.2 than 4.6.1

[2017-01-05 15:48] jnm2 commented on #143
Multiple Microsoft internal resources also told me the same thing. To them, also, it was not 'obvious'.

Whoa, what APIs were dropped in 4.6.2? I can't find it in the blog post you referred to.
APIs were going to be dropped in .NET Standard 2.0 at one time, but that's different than a framework.

[2017-01-05 15:52] jnm2 commented on #143
@Mattacks I thought so. No APIs were dropped between 4.6.1 and 4.6.2: https://github.com/Microsoft/dotnet/blob/master/releases/net462/dotnet462-api-changes.md

[2017-01-05 15:53] jnm2 commented on #143
@Mattacks I thought so. No APIs were dropped between 4.6.1 and 4.6.2: https://github.com/Microsoft/dotnet/blob/master/releases/net462/dotnet462-api-changes.md

If APIs were dropped, it would be grievous abuse of the patch version change.

[2017-01-05 17:51] DarwinJS opened #148 "RFC: DotNet Core Registry API Redirection to Simple File System Structure for non-Windows"
We were discussing how PowerShell Core could get it's policy registry values back on non-Windows. (https://github.com/PowerShell/PowerShell/issues/2950)

I know that the registry API has been deemed "unsupported" beyond windows for .NET Core (https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/) however, the use case I am about to outline brings light to how providing at le

[2017-01-05 17:53] stephentoub commented on #148
FYI, we've talked about doing this, and it's certainly something that could be explored further.  In fact I'd previously submitted a PR to refactor Microsoft.Win32.Registry on a path towards this: https://github.com/dotnet/corefx/pull/9456

[2017-01-05 17:56] DarwinJS commented on #148
@stephentoub - Cool!  Maybe the use case of group policy *registry keys* along with the very current needs in PowerShell core would lend some clout to your PR!

[2017-01-05 18:21] danmosemsft commented on #148
Issue moved to [dotnet/corefx #14900](https://github.com/dotnet/corefx/issues/14900) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-05 18:21] #148 closed

[2017-01-05 18:23] stephentoub commented on #148
I'd already opened https://github.com/dotnet/corefx/issues/14896, so either that or the new issue you created as part of moving it should be closed.

[2017-01-06 23:34] binoypatel opened #152 "Multilanguage with .net standard"
Hi,

I am using MAT (Multilingual Tool kit) with .Net Standard library (1.4) that converts my language resources to supported languages. It perfectly works with Full .net but .Net Core / ASP.Net Core. I have full sample published on github [https://github.com/binoypatel/NetCore.Localization](url) that demonstrates the issue.

Basically in example code I have the followings:
Contoso.Languages: This

[2017-01-07 00:48] karelz commented on #152
I can't access your sample. Do you have a HelloWorld-style example? That is usually best - ideally console .NET Core app.
This issue belongs to https://github.com/dotnet/corefx repo. @krwq @tarekgh will be able to help you there ...

[2017-01-07 00:49] karelz commented on #152
Closing here, please create issue in CoreFX repo with correct repro link.

[2017-01-07 00:49] #152 closed

[2017-01-07 00:53] tarekgh commented on #152
@karelz this looks resources issue so @ramarag could be the one can look at.

[2017-01-07 00:55] tarekgh commented on #152
and the correct link is https://github.com/binoypatel/NetCore.Localization

[2017-01-07 01:02] karelz commented on #152
Ah, sorry - the line between Globalization and Resources is still a bit blur for me :)
I updated the URL link in the original post. @binoypatel please link this issue from the new one in CoreFX. Thanks!

[2017-01-07 01:14] ramarag commented on #152
@binoypatel it would be great if you can confirm if the bug still repros with the latest CLI from https://www.microsoft.com/net/download/core, the latest CLI is based on msbuild and old project.json based CLI is unlikely to be updated or serviced

[2017-01-07 19:45] terrajobst commented on #146
Hey @kimbell,

Here is the [relevant part from the video](https://youtu.be/vg6nR7hS2lI?list=PLRAdsfhKI4OWx321A_pr-7HhRNk7wOLLY&t=178).

Yes, when you compile an assembly against .NET Standard 2.x, your resulting assembly will (mostly) have references to `netstandard.dll`, as opposed to `mscorlib` or `System.Runtime`. So as far as .NET Standard 2.x is concerned, `MemoryStream` lives in `netstandard

[2017-01-07 20:36] kimbell commented on #146
OK, lets assume we remain in the .NET core context. In order to run the application, we need to package up all the assemblies; thinking of xcopy deployment. When you add a reference to .NET Standard 2.x nuget package, I'm assuming you also get reference to the System.IO nuget package and any other relevant packages?

Can we then consider the .NET Standard 2.x package as a 'meta package'? If I unde

[2017-01-08 15:25] boukenka opened #153 "System.IO.Ports missing in .NET Standard 2.0"
Hello,

Is there any plan in a near future to have in .NET Standard 2.x the System.IO.Ports library?
Or never because it is too much specific or not enough used / popular?
Thanks for any answer

PS: Link for this API in .NET API catalog: https://apisof.net/catalog/System.IO.Ports

[2017-01-09 07:01] kulkarnisachin07 opened #154 "Is XML Serialization classes like [XmlAttribute] supported in Dot Net Standard 1.6.1?"

[2017-01-09 14:47] binoypatel commented on #152
@ramarag , I have tested with the followings and still not working:
Microsoft.Net Core 1.1.0 - SDK 1.0.0 Preview 2.1-003177
Microsoft .NET Core 1.0.1 VS 2015 Tooling Preview 2

I have opened a new issue in corefx as karelz suggested: [https://github.com/dotnet/corefx/issues/14998](https://github.com/dotnet/corefx/issues/14998)

Thanks,
Binoy

[2017-01-09 17:11] weshaggard commented on #154
No. See https://apisof.net/catalog/System.Xml.XmlAttribute, XmlAttribute is supported in .NET Standard 2.0

[2017-01-09 17:11] #154 closed

[2017-01-09 17:13] weshaggard commented on #153
There aren't any plans to make System.IO.Ports part of .NET Standard as it is a little too specific and can be implemented as an extension on top of .NET Standard which is what I expect will happen with it. If you are interested in a .NET Core port see https://github.com/dotnet/corefx/issues/984.

[2017-01-09 17:13] #153 closed

[2017-01-09 17:21] weshaggard commented on #144
This sounds more like a tooling question. @Pilchie what would be the most appropriate place to ask this question?

[2017-01-09 17:24] weshaggard commented on #141
Sounds like this question has been answers so closing the issue. Please feel free to reopen if you need further clarification.

[2017-01-09 17:24] #141 closed

[2017-01-09 17:26] Pilchie commented on #144
@srivatsn or @piotrpMSFT?

[2017-01-09 17:30] weshaggard commented on #140
Just to reiterate if you want to target net45 and .NET Standard 2.0 you will need to build multiple libraries as you will not be able have a single binary and target both. .NET 4.6.1 will be the earliest .NET framework version you can target with a .NET Standard 2.0 built binary.

It sounds like there aren't any further open questions with this thread so I'm closing, if there are follow-up questio

[2017-01-09 17:30] #140 closed

[2017-01-09 17:31] weshaggard commented on #138
@matthargett did you have any further follow-up questions for this thread? If not we can close this issue.

[2017-01-09 17:33] weshaggard commented on #145
@Petermarcu @danmosemsft is there actually an action item to track for this? I think https://github.com/opentk/opentk/issues/446 is the right tracking work item.

[2017-01-09 21:29] karelz commented on #152
Thanks @binoypatel!
Apparently even corefx repo is not where the root cause is, so it will be bounced once again - sorry for that! Sadly, that's what happens sometimes with issues - they are bounced around, until they are fully root caused :(

[2017-01-09 21:34] binoypatel commented on #152
I understand :), I tested with VS2017 RC1 as suggested by @onovotny and confirmed working. Now, my question is should I move my production application to VS2017 RC1 because multilanguage is not working with VS2015 or wait for VS2017 to RTM?

Thanks,
Binoy

[2017-01-09 21:39] karelz commented on #152
It would be best to ask CLI folks for guidance (in the https://github.com/dotnet/cli/issues/3396 issue). If it's not getting anywhere, ping me and I'll try to get some help.

[2017-01-09 22:16] jcouv commented on #22
@weshaggard Just a friendly ping on this. I don't remember which release this is supposed to be included in and what deadlines apply.

[2017-01-09 22:55] weshaggard commented on #22
This will be part of .NET Standard 2.0 which will be released with .NET Core 2.0 time frame. It will still get done.

[2017-01-09 22:58] weshaggard commented on #22
Another thing to point out is that we will need to wait to do this until we can update the ValueType package itself to build against netstandard2.0.

cc @ericstj

[2017-01-09 23:24] terrajobst commented on #146
Sort of. With .NET Core 1.x we've learned that a super granular package graph is causing more grief than it is worth. That's why we plan on collapsing the package graph. Basically, the idea is to flatten the meta packages for .NET Core 2.0 and .NET Standard 2.0, meaning you wouldn't need a reference for the `System.IO` package because the `System.IO` binary is provided by the .NET Core meta packag

[2017-01-09 23:45] matthargett commented on #138
An update:
1. PresentationCore and WindowsBase (and few other assemblies) all reference private types of each other via friend assembly linkage, so now I understand why there is no good answer for a straight package of them individually. System.Xaml itself doesn't have this problem, but some of its private types are referenced by the others.

2. I guess what I'd like to know is how to implement a

[2017-01-10 00:39] weshaggard commented on #97
Fixed by https://github.com/dotnet/standard/pull/155

[2017-01-10 00:39] #97 closed

[2017-01-10 02:56] terrajobst commented on #20
@russellhadley @erozenfeld @swaroop-sridhar

[2017-01-10 07:55] kimbell commented on #146
In the current .NET Core project files, we can reference .NETCoreApp 1.x (EXE) or .NETStandard 1.x (DLL).

Since type forwarding is bound to a specific assembly version, selecting .NET Standard 2.x locks me to a specific set of assembly versions. If I want to leverage an API that is not part of the standard, I need to choose something else. For EXE projects, I imagine a .NETCoreApp 2.x will become

[2017-01-10 08:19] mellinoe commented on #146
".NET Core App" (or netcoreapp) is just the NuGet moniker we've given to the platform itself, it doesn't have anything to do with the type of assembly you are building (e.g. whether or not it has an entrypoint), even though it has the word "app" in it. Projects targeting .NET Core will use the netcoreapp moniker regardless.

[2017-01-10 09:56] kimbell commented on #146
That's interesting, but still a bit confusing. Why not just use 'netcore'?

In VS2017 RC, selecting a class library project seems to be locked to .NET Standard, whilst console apps, test projects and web apps are .NET Core. For a class library i created, I cannot select .NETCoreApp 1.x. as the target framework. Is this a change that is coming, but hasn't made it into the published bits yet? This c

[2017-01-10 11:07] akoeplinger commented on #146
No, .NET Core is a separate product in this case and doesn't rely on .NET Framework (that's why it also works on Windows Nano Server which doesn't have .NET Framework) so there's no forwarding from a .NET Core app to .NET Framework libraries.

Correct, if you target `netcoreapp` then you won't get a netstandard.dll reference, instead you get the API surface area of `netcoreapp` and can use APIs th

[2017-01-10 12:02] kimbell commented on #146
Writing software for specific .NET Standard version is one thing; this allows it to work on multiple platforms. How a given platform chooses to implement the standard is a different matter.

If you decompile C:\Users\...\.nuget\packages\System.IO\4.4.0-beta-24903-02\lib\net461\System.IO.dll (which I believe is part of .NET Core), all the types are forwarded to mscorlib.dll.

If you decompile C:\Us

[2017-01-10 13:16] akoeplinger commented on #146
The `lib\net461\System.IO.dll` assembly is specifically for when you reference the System.IO nuget package in an app/library targeting .NET Framework 4.6.1, i.e. the full framework. In that case, yes, the types are forwarded _at runtime_ to mscorlib.dll since you're (supposed to be) running on the .NET Framework.

The System.IO nuget package is not strictly related to .NET Core, it "works" on regu

[2017-01-10 14:10] kimbell commented on #146
Thanks @akoeplinger for the useful information about the ref folder.

On my machine, System.IO only contains a dll under lib\net462. This is the full framework. You mentioned that .NET Core applications should be able to run on Nano server. What dll will then be used? I can't find a target for Nano server. Unix and Mac I get are not present since that is a different world, but Nano is still based

[2017-01-10 18:21] terrajobst commented on #146
@kimbell:

I think I now understand the confusion. Here is how to think about this:

* *.NET Core*. This is a concrete .NET platform and implements .NET Standard. You can use .NET Core to build applications and libraries. .NET Core libraries can access the entirey of the .NET Core API set but will only run on .NET Core.
* **.NET Standard**. A specification of APIs that are implemented by multiple

[2017-01-10 19:15] kimbell commented on #146
Things are starting to get clearer :)

Based on the information provided by @terrajobst

can I assume that you will never release an updated version of System.IO unless it's part of a new netcoreapp2x TFM? i.e. .NET Core will be spread over multiple assemblies, but released as a single package?

[2017-01-11 17:04] weshaggard commented on #20
I assume this related to https://github.com/dotnet/corefx/issues/14088. Is it only TypedReference that is needed?

cc @jkotas

[2017-01-11 18:19] erozenfeld commented on #20
It turns out that the managed linker doesn't have to depend on `TypedReference` so that shouldn't be considered a reason to bring `TypedReference` back. dotnet/corefx#14088 is a different motivation to bring it back.

[2017-01-11 18:37] terrajobst commented on #20
I'd say that given we originally removed it due to dubious we should now bring it back. First, [API Port telemetry](https://apisof.net/catalog/System.TypedReference) shows it's used in 2 percent of our reports, which is quite a bit considering the low-level nature of this type. Also, considering dotnet/corefx#14088 it seems to be general useful.

And on top, .NET Framework and Xamarin/Mono already

[2017-01-11 18:45] terrajobst commented on #146
Pretty much .The current plan is to no longer provide and thus update granular packages like `System.IO`. We will probably still have to ship updated versions of the meta package. And, of course, we'll continue to ship "out-of-band" packages that extend the platform. Thus are more fine grained then the platform, but that's OK.

[2017-01-11 18:49] danmosemsft commented on #20
There is still time to do this for NS2.0 if it's mainly just exposing something. As Immo mentions of course it needs to work on MRT.

[2017-01-11 18:55] JohnGalt1717 commented on #134
Any update with this repro?

[2017-01-11 20:34] jkotas commented on #20
We should fix the linker to not depend on it.

[2017-01-11 20:36] jkotas commented on #20
I missed this part. Yes - if you see this type being used a lot, I agree we should bring it back.

There is nothing fundamental that prevents it work on MRT. It is just some extra work.

[2017-01-11 21:06] danmosemsft commented on #145
It sounds like it is and @mellinoe is on it.

[2017-01-11 21:48] terrajobst commented on #20
Excellent. So it seems we should expose it then.

@weshaggard, press the magic button 😄

[2017-01-12 06:43] kimbell commented on #146
Thank you for an interesting and enlightening discussion.

[2017-01-12 06:43] #146 closed

[2017-01-12 21:04] roterdam opened #156 "Will dlls linked against mscorlib 2.0 work on netstandard and .net core?"
Currently mscorlib 4.0 dlls seem to work, but 2.0 doesn't will this be changed?

[2017-01-12 22:27] #145 closed

[2017-01-12 22:27] weshaggard commented on #134
@schellap are you looking into the latest repro?

[2017-01-12 22:28] weshaggard commented on #20
I will add both TypedReference and ArgIterator back to the standard.

[2017-01-12 23:26] weshaggard commented on #156
@roterdam what are you seeing that are causing the mscorlib 2.0 references to not work? The 2.0 reference should unify to the 4.0 shim we have and thus I would expect them to work.

[2017-01-12 23:56] weshaggard opened #157 "Add System.Transactions to .NET Standard"
See https://github.com/dotnet/corefx/issues/15046.

@terrajobst what are your thoughts about this one.

[2017-01-13 01:49] roterdam commented on #156
I sincerely apologize it was working throwing an exception on my own misunderstanding.

[2017-01-13 01:49] #156 closed

[2017-01-13 08:15] terrajobst commented on #157
The API surface isn't super small, but based on the discussion and the API shape of the provides I don't see how we could support ambient transitions without forcing every provider to provide a .NET Core specific implementation. That seems to defeat the purpose, so I'd be in favor of adding these APIs.

Do we need all of System.Transactions? /cc @divega

[2017-01-13 08:18] terrajobst commented on #143
@Mattacks

You're correct that the blog post did say that, but based on a lot of community feedback we've decided not to pursue this break and instead have a simpler model that follows the developer's expectation/in

[2017-01-13 08:18] #143 closed

[2017-01-13 08:30] terrajobst commented on #138
Correct me if I'm wrong but it seems you're asking whether you can build an application targeting .NET Core/.NET Standard that uses the "ambient" WPF assemblies from the .NET Framework. The answer to that would be no. This would basically result in mixing-and-matching runtimes, not just assemblies.

Also note that when you consume .NET Framework assemblies in the context of .NET Standard/.NET Core

[2017-01-13 08:31] #138 closed

[2017-01-13 18:39] terrajobst commented on #146
Absolutely! Thanks for engaging!

[2017-01-14 01:37] schellap commented on #134
@JohnGalt1717 the issue is `ClassLibrary1.dll` reference is not in the .deps file. Without that, the runtime does not have knowledge that it needs to look for this file and hence it fails.

In this: `\bin\Debug\netcoreapp1.0\WebApplication1.deps.json`, when it works, I have:

[code]

In my project file, where it worked, like you mention in the original post, I have:
[code]

In yours, you have:
[co

[2017-01-14 14:08] JohnGalt1717 commented on #134
The problem is that I didn't author anything. I copied out the dlls and deps files etc. to a directory and then used VS.net's Add Reference and  browsed for the dll like it's designed to work and this is the result. So while guidance on how to manually fix this is great and all, the tooling in VS.net 2017 rc needs to be fixed so that it doesn't create broken code.

[2017-01-16 05:12] jkotas commented on #20
Sounds reasonable to me.

ArgIterator implementation in .NET Core will need codegen and runtime work, on Unix at least. The codegen teams will need to be involved in the implementation. It should throw PNSE until this work gets done.

[2017-01-16 06:09] Thaina commented on #20
I have curios for such times that, how many platform derived from dotnet could use `TypedReference` and `ArgIterator`

Such as xamarin that compile to mobile platform, especially iOS which is prohibited runtime code generation. It can do reflection but can it use `TypedReference`?

There are also webassembly that would parsed from llvm compiled C#. Are there limitation that make it not compatible?

[2017-01-16 15:52] jkotas commented on #20
There is nothing about TypedReference or ArgIterator that requires runtime code generation.

[2017-01-16 17:15] Thaina commented on #20
@jkotas I mean there are many reason each platform cannot implement some feature. `TypedReference` used to be not supported on some platform in the past. I just curious that, even it was brought into standard. Are there platform that would not be able to use this feature in the future

[2017-01-16 19:56] eerhardt commented on #134
The guidance from the .NET Core tooling side is to not use loose binaries.  Instead, if you want to reference pre-built assemblies, package those assemblies into a NuGet package and add a `<PackageReference` to the NuGet package that contains the assemblies you are referencing.  This way the tooling knows how to handle the dependency correctly.

[2017-01-16 20:27] JohnGalt1717 commented on #134
So:

1. VS.net 2017 is broken and lets you do something that doesn't work.
2. Everyone has to setup a nugget server and build nugget packages just to share compiled dlls between solutions?

You need to rethink that policy and make this work properly because that's ridiculous.

[2017-01-16 20:32] eerhardt commented on #134
Regarding #2: you don't need to setup a NuGet server.  NuGet supports reading the packages from a directory on your disk.  See https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file#packagesources which has in its example:

[code]

Using a NuGet.config like that allows you to place NuGet packages in `C:\packages` and they will be restored from there without requiring a NuGet server.

[2017-01-16 20:36] terrajobst commented on #20
Potentially. We're walking a tight rope here. On the one hand side, we don't want to include large amounts of API into the .NET Standard that aren't/cannot be implemented everywhere. However, we also have to consider cases where if the producer of the .NET Standard library doesn't care about all the platforms but wants to share with a specific set of platforms that have this functionality. For log

[2017-01-16 21:32] Petermarcu commented on #134
@kieranmo , @srivatsn, Whats the latest here? Shouldn't people be able to reference a local dll?

[2017-01-16 21:35] Petermarcu commented on #134
Sounds like if the problem is that the entry isn't in the deps file, we should have a conversation on the dotnet/sdk repo to make sure the tasks there are generating a good deps file for the runtime to read.

[2017-01-16 21:37] Petermarcu commented on #134
Looks like there is already an issue tracking making this work. https://github.com/dotnet/sdk/issues/120

[2017-01-16 22:41] terrajobst commented on #63
Duplicate of #68

[2017-01-16 22:41] #63 closed

[2017-01-16 22:48] terrajobst commented on #144
That's due to NuGet new behavior for content files: NuGet/Home/#4166. I'm closing this as this isn't a specific to .NET Standard.

[2017-01-16 22:48] #144 closed

[2017-01-17 12:08] zipswich opened #160 "What is .NETStandard1.7?"
In VS2017, the options for targets are: .NETStandard1.0, 1.1...1.7.  What is  .NETStandard1.7?  I am unable to find it[ in the official document.](https://docs.microsoft.com/en-us/dotnet/articles/standard/library)

[2017-01-17 12:10] davidfowl commented on #160
It's a temporary place holder until netstandard 2.0 is *ready* in the toolchain (specifically nuget)

[2017-01-17 12:53] zipswich commented on #160
Thank you for the prompt explanation.  What is the ramification of this temporary place holder?  In other words, what would be the consequence if I used it?

[2017-01-17 12:55] JohnGalt1717 commented on #134
The local nuget still introduces a dependency on the disk that makes continuous deploy almost impossible because of a fixed relative pathing that won't be available to the visualstudio.com agent. Thus that isn't a viable solution. Only allowing proper referencing to loose Dlls is.

The issue linked while the same but for project.json is DOA and needs to be revived or this ticket does for .csproj a

[2017-01-17 14:52] zipswich opened #161 "Unable to use .NETStandard1.7"
I am created an empty class library targeting .NETStandard1.6, and everything worked fine.
I switched the target to .NETStandard1.7, then building the library generated the following error:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.targets(162,5): error : Your project is not referencing the ".NETPlatform,Version=v5.0" framework. Add

[2017-01-17 16:19] jarenduan commented on #131
Hi everyone. To me it just does not make any sense that a platform claims supporting .net standard on one hand, and throws "not supported" on the other hand.

The required APIs are basically fine, cos' they are expected to behave same on all the supported platforms. I understand the problems mainly focus on optional APIs, such as registry/app domain/emit, and etc., which are OS/runtime specific on

[2017-01-17 18:12] Petermarcu commented on #134
I updated some of the text in the linked issue. That is definitely the place to talk about it where the people that would be able to add support pay attention.

[2017-01-17 18:13] JohnGalt1717 commented on #134
ok, closing this for that one then.

[2017-01-17 18:13] #134 closed

[2017-01-17 18:14] Petermarcu commented on #160
It doesn't really exist yet. It was a preview that didn't ship and is being used temporarily for building things within the dotnet repos. I wouldn't use it as it's likely to never ship and instead roll into .NET Standard 2.0.

Are there certain API's in 1.7 you are looking for? Is that why you are trying to use it?

[2017-01-17 18:55] zipswich commented on #160
Thank you for the clarification.  It may explain [the trouble that I am having with using .NETStandard1.7](https://developercommunity.visualstudio.com/content/problem/11708/error-appx1704-and-error-appx1706.html) .

Here is my situation.  I am migrating apps from WinRT and Universal for W8.1 to UWP or Xamarin.   For example, the Windows version of a Universal project uses three libraries: PCL shar

[2017-01-17 19:30] zipswich commented on #160
I changed the target to .NETStandard1.6, but building the app still result in [the same errors](https://developercommunity.visualstudio.com/content/problem/11708/error-appx1704-and-error-appx1706.html).

[2017-01-17 20:13] Petermarcu commented on #160
@yizhang82 , any ideas on what would cause errors like those?

[2017-01-17 20:40] zipswich commented on #160
I have just noticed that the reference to the portable library had a yellow triangle icon.  I removed it, and tried to add it again, then got the error:
Unable to add a reference to project 'ClassLibraryAllPlatforms'.  The current proejct's target is not one of or compatible with the targets of Portable Library project 'ClassLibraryAllPlatforms'. Does this mean that .NETStandard1.6 does not suppor

[2017-01-17 20:50] Petermarcu commented on #160
UWP is 1.4 so you are right, at least this problem is because UWP doesn't support 1.6.

[2017-01-17 21:12] zipswich commented on #160
I retargeted the library to .NETStandard1.4, and the yellow triangle is gone.  Unfortunately, I am still getting the same errors.  Just in case it is a problem of the app, I created a brand new UWP app without adding a single line of code.  I added a reference to the portable library targeting .NETStandard1.6, the built the app.  Over 10 thousand errors still occurred:

`2>C:\Program Files (x86)\M

[2017-01-17 21:30] weshaggard commented on #161
As was mentioned in https://github.com/dotnet/standard/issues/160 netstandard1.7 isn't a shipping version and shouldn't be used. Once we get a tools update and we ship the next version you will be able to target netstandard2.0 which will be the next version above 1.6.

[2017-01-17 21:30] #161 closed

[2017-01-17 21:32] weshaggard commented on #160
@zipswich do you get those errors when you don't consume the netstandard library? It looks like a potential SDK issue and not related to consuming a standard library. As @Petermarcu pointed out though you will not be able to consume anything higher then a netstandard1.4 library right now in UWP applications.

[2017-01-17 21:42] zipswich commented on #160
No, I do not get any problem without referencing the library. I created the brand new empty UWP app, and built it without any problem, then added the reference, built it again, and got 10K + errors.
I removed the reference, then built the app again, and succeeded without any errors.   The empty app actually runs on a Windows 10 machine without any problem.  The building only generates the followin

[2017-01-17 22:07] weshaggard commented on #160
What type of class library project did you create? I assume you created a Portable class library that you retarget to .NET Standard and selected netstandard1.4, is that correct?

If that is what you did unfortunately the UWP projects don't support libraries that are referencing "NETSTandard.Library" packages which is what that tooling references. We are still doing a lot of tooling changes and whi

[2017-01-17 22:09] zipswich commented on #160
The culprit appears to be Newtonsoft.Json NuGet package.
To test this, I created a brand new portable library targeting .NETStandard1.4, and added its reference to the empty UWP app. Everything was fine. I added NewtonSoft.Json NuGet package through the NuGet manager to the empty portable library, built the empty app, 10K+ error occurred.

It looks like VS 2017 has a problem. It should prevent New

[2017-01-17 22:12] weshaggard commented on #160
@srivatsn this seems like another issue with the older netstandard class library project. What is our play for that project type?

[2017-01-17 22:15] srivatsn commented on #160
@Pilchie and I have talked about removing that project type entirely to not cause confusion. We haven't acted on that yet though

[2017-01-17 22:32] zipswich commented on #160
I have found another culprit - Nito.AsyncEx.Coordination NuGet package.   Stephen said yesterday that NuGet package is for .NETStandard.
Now, I am wondering if I can add any NuGet package besides the ones automatically added by VS.

[2017-01-17 22:35] weshaggard commented on #160
I would try adding those nuget package references directly to the app or a UWP specific class library.

[2017-01-17 22:50] zipswich commented on #160
The migrated app has finally started running after removing the last culprit in the portable library references: Windows.Foundation.UniversalApiContract.   This reference was added by the IntelliSense when I tried to use Windows.UI.Xaml.Data.IValueConverter.
I think the biggest lesson here is that VS 2017 cannot be trusted to filter out any NuGet packages or references for portable libraries that

[2017-01-17 23:11] zipswich commented on #160
@weshaggard I am sorry but I have just realized that I missed your question.  I think that by now that you have already realized that the answer to your question regarding the portable class library type is "Yes".  It is a portable library retargeted to .NETStandard.  I hope the project will survive with the current configuration and benefit from the improvement you folks are doing.

[2017-01-18 00:22] weshaggard commented on #157
Before we can include these in .NET Standard we need a full API set. For reference below is the diff between System.Transactions in .NET Core in comparsion with System.Transactions in .NET.

@stephentoub You ported transactions can you help us understand some of the removals? I understand the CAS and Configuration APIs but I don't know about the others.

# API Difference D:\git\corefx\bin\ref\netc

[2017-01-18 00:29] weshaggard commented on #160
@zipswich it sounds like you have figured out your issue. I'm going to close this now if you have further questions around tooling please file one at https://github.com/dotnet/sdk.

[2017-01-18 00:29] #160 closed

[2017-01-18 00:43] weshaggard commented on #20
reverted with https://github.com/dotnet/standard/pull/162.

[2017-01-18 00:43] #20 closed

[2017-01-18 01:01] terrajobst commented on #157
A couple of things:

* We should align the parameter names with the .NET Framework ones.
* What's the reason to exclude the transactions from being serializable? Was that explicit choice or was that done before we added `BinaryFormatter`? I'm fine with excluding them, but we need to validate that we don't break key scenarios for no specific reason. I guess for .NET Core, where we don't support dis

[2017-01-18 01:27] zipswich commented on #160
Yes, I am all set for now.  Thanks a lot for all the help, @weshaggard
Look forward to new improved releases.

[2017-01-18 02:58] stephentoub commented on #157
As far as I can tell, the src in .NET Core has APIs that match what's in desktop, and any differences are purely in the ref.  Seems like the ref just needs to be regenerated, that somehow differences automatically snuck in there, though I've no idea how.

[2017-01-18 06:07] gulshan opened #165 "Is netstandard independent of CLR?"
Is netstandard independent of CLR? Or, there are some dependencies?

[2017-01-18 16:28] #122 closed

[2017-01-18 17:43] weshaggard commented on #165
Not sure I understand the question. netstandard is a spec with a list of APIs that we produce a reference assembly to represent. It has no implementation where as the CLR or CoreCLR is a virtual machine that runs a concrete implementation of a platform. That platform will support some version of netstandard.

[2017-01-18 18:28] weshaggard commented on #157
@stephentoub is correct. When I diff the netcore implementation I only see the expected missing types and one other change which is the TransactionException not inheriting from SystemException. I will submit a PR to corefx to reconcile these and then add the same surface area to .NET Standard.

[2017-01-18 18:49] weshaggard commented on #157
See PR https://github.com/dotnet/corefx/pull/15283.

[2017-01-18 21:45] #157 closed

[2017-01-19 22:29] ericstj opened #170 "Publish standard repo to https://github.com/dotnet/versions/tree/master/build-info/dotnet"
We need to get the maestro automatic updates of NETStandard.Library produced from this repo and consumed in CoreFx and core-setup.
/cc @dagood

[2017-01-20 17:14] lewislabs opened #171 "What's the change in NetStandard.Library 1.6.1 vs 1.6.0?"
And where can I see that information?

[2017-01-20 17:15] lewislabs opened #172 "What does it mean to target netstandard1.0 but depend on NetStandard.Library 1.6.0?"
https://twitter.com/lewis_labs/status/819638597779394560

[2017-01-20 17:33] NickCraver commented on #171
Note: The release notes for [the `NETStandard.Library` package on NuGet](https://www.nuget.org/packages/NETStandard.Library/) go here: https://go.microsoft.com/fwlink/?LinkID=799421

...and that page doesn't mention the library, or the relation to the library. This is very confusing for the user at best, can we at least add some copy on that page saying how ".NET Core `<version>`" relates to the l

[2017-01-20 20:50] weshaggard opened #173 "Preemptively add type-forwards for things in newer .NET frameworks beyond 4.6.1"
For things missing from desktop 461 include the type-forwards in the shims to allow for future platforms to just work once they add support.

[2017-01-20 20:51] weshaggard commented on #172
NETStandard.Library 1.6.0 is a meta-package that contains support for all netstandard versions up to 1.6. The assets that are selected are based on your target framework so if you are targeting netstandard1.0 only the netstandard1.0 assets will be selected from the package closure.

[2017-01-20 21:09] weshaggard opened #174 "Remove EditorBrowsableState.Never from APIs we added for backcompat with NS1.6"
In the future version of .NET Standard where .NET Framework supports all the backcompat APIs we should undo the EditorBrowsableState.Never attributes from the APIs we added with https://github.com/dotnet/standard/pull/76.

[2017-01-21 01:52] terrajobst commented on #24
I've generated baseline files for all profiles:

https://github.com/terrajobst/standard/tree/pcls/apicompat/pcls

[2017-01-23 05:03] Qowy opened #179 "How to tell which netstandard version supports an API by looking at the source"
Hi,
during some other troubleshooting, I noticed that apparantly System.AppContext is supported in netstandard1.3 but System.AppContext.GetData() is only supported in netstandard1.6.

Since (as far as I know) the documentation is still a work in progress, how would I be able to tell something like this from looking at the source? (for example: https://github.com/dotnet/corefx/tree/release/1.1.0/sr

[2017-01-23 09:53] lewislabs commented on #172
Thanks @weshaggard, that makes sense now.

[2017-01-23 09:53] #172 closed

[2017-01-23 16:34] weshaggard commented on #179
Looking at the raw source code for System.AppContext would be kind of difficult because we don't keep the live builds for all previously shipped versions. You would have to go hunting through the source history to attempt to figure it out and even this it isn't very clear. The best way to figure it out is to use apisof.net, https://apisof.net/catalog/System.AppContext.GetData(String).

[2017-01-23 16:34] #179 closed

[2017-01-23 20:24] Qowy commented on #179
Ah ok thank you. I was under the impression that the netstandard library exposes the different api levels in it's metadata somehow.

[2017-01-25 17:43] michael-hawker opened #180 "Is the Managed Extensibility Framework (MEF) part of the Standard or a Shim?"
I was reading the intro article [here](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/), but I didn't see [MEF](https://msdn.microsoft.com/en-us/library/dd460648(v=vs.110).aspx) or the composition namespace called out in the diagram.  I do see the composition namespace in the repository here but also in some shim lists.

_Is it part of the core standard so that develop

[2017-01-25 17:46] weshaggard commented on #180
MEF isn't part of the standard. We will likely have a version of MEF that is built on top of .NET Standard 2.0 (see https://github.com/dotnet/corefx/tree/master/src/System.Composition) so libraries targeting the standard can use it.

[2017-01-25 17:46] #180 closed

[2017-01-25 22:43] michael-hawker commented on #180
Thanks @weshaggard for the info!  Will those types of compatible libraries be called out here or in MSDN documentation?  Or would it just be having to discover on Nuget?

[2017-01-25 23:53] weshaggard commented on #180
Those would generally be discovered via nuget. @terrajobst we should probably post these somewhere,

[2017-01-26 01:06] weshaggard opened #181 "Signing for netstandard.dll facade is invalid"
netstandard.dll facade (src/netstandard/src/netstandard.cspro) is fully signed with the open key but after the compiler signs it we run genfacades over it and that messes up the strong name signing.

To fix this we need to do one of the following:
1. Resign after genfacades rewrites the binaries. Either by manually doing it ourselves or teaching the signing service about the open key.
2. Finally b

[2017-01-27 21:03] weshaggard commented on #171
From a .NET Standard API prospective nothing changed between NETStandard.Library 1.6.1 and 1.6.0. We only bumped the version of the meta-package so that we could pull in newer versions of the dependent packages which contain implementation fixes but no real new API surface for NS1.6.

[2017-01-27 21:06] weshaggard commented on #24
https://github.com/dotnet/standard/pull/121
https://github.com/dotnet/standard/pull/177

This was handled with those PRs.

[2017-01-27 21:06] #24 closed

[2017-01-27 21:08] weshaggard commented on #86
See https://github.com/dotnet/standard/pull/121 and https://github.com/dotnet/standard/pull/177 where we decided to support shims for all packages (not just the closer of NETSTandard.Library 1.6) which contained a netstandard1.6 asset.

The set of netstandard shims can be found here https://github.com/dotnet/standard/blob/master/netstandard/pkg/shims/netstandard.shimlist.txt.
The set of netfx shim

[2017-01-27 21:08] #86 closed

[2017-01-27 21:08] weshaggard commented on #174
We also need to do the same for similar APIs added with https://github.com/dotnet/standard/pull/177.

[2017-01-27 21:10] weshaggard commented on #165
Closing this issue as I believe I answered your question. If you have follow-up questions feel free to add more to this issue.

[2017-01-27 21:10] #165 closed

[2017-01-27 21:11] weshaggard commented on #137
I'm going to close this as there isn't anything really actionable for us here. @mjsabby we aren't really tracking any work for FxCop in this repo. It probably belongs in the Roslyn repo,

[2017-01-27 21:11] #137 closed

[2017-01-27 21:12] weshaggard commented on #171
I believe I've answered this question but if you have follow-ups please don't hesitate to ask.

[2017-01-27 21:12] #171 closed

[2017-01-27 21:15] weshaggard commented on #129
@ericstj do you consider this complete?

[2017-01-27 21:16] weshaggard commented on #128
I believe this is complete. @ericstj let me know if you disagree.

[2017-01-27 21:16] #128 closed

[2017-01-27 22:45] eerhardt opened #184 "Runtime conflict resolution doesn't exclude System.Linq when RuntimeIdentifiers is set"
Extract the following
[ConflictBug.zip](https://github.com/dotnet/standard/files/736417/ConflictBug.zip)

`dotnet restore App`
`dotnet run -p App\ConflictBug.csproj`

Expected result:
The app should run fine.

Actual result:

[code]

Looking at the .deps.json file, the "runtime" sections aren't getting removed for System.Linq, System.Linq.Parallel, etc even though these files are in the shared fra

[2017-01-27 23:27] ericstj commented on #128
Yeah, I assume because https://github.com/dotnet/standard/blob/master/apicompat/baselines/ApiCompatBaseline.netstandard1.6.txt is empty this is compatible.

[2017-01-27 23:30] ericstj commented on #184
Which CLI should I be using?

[2017-01-27 23:31] eerhardt commented on #184
I used a locally built one from dotnet/cli/master.  But the latest from https://github.com/dotnet/cli/tree/master#installers-and-binaries should work.

[2017-01-27 23:41] ericstj commented on #184
Bug is here: https://github.com/dotnet/core-setup/blob/master/pkg/tasks/GenerateFileVersionProps.cs#L87

The reason I did this was to address the case where we're building a shared framework app and don't have the runtime-specific packages in the view.  I thought the only case that'd happen was when RIDs aren't set since that's how nuget3 targets worked, but it looks like the CLI is using the RID-

[2017-01-27 23:45] ericstj commented on #184
To workaround this you can edit `.nuget\packages\microsoft.netcore.app\2.0.0-dev-eng-001308-00\build\netcoreapp2.0\Microsoft.NETCore.App.props`
from
[code]
to
[code]

[2017-01-27 23:46] ericstj commented on #184
Hmm, maybe not.  Hold on.

[2017-01-27 23:58] weshaggard commented on #128
Yes the contents are compatible, but this is more about the package being compatible. In other words can folks upgrade from NETStandard.Library 1.6.1 to 2.0.0 without being broken?

[2017-01-28 00:09] ericstj commented on #128
Oh, right.  Yeah, that works already because of this:
https://github.com/dotnet/standard/commit/b3f2f2ad1fbde9dbfa7491c23e29f5d18142b6b7

[2017-01-28 00:37] #184 closed

[2017-01-28 01:10] ericstj opened #185 "Missing netstandard1.6 shims from package"
There seems to be quite a few missing shims in the package.

I see https://github.com/dotnet/standard/blob/master/netstandard/pkg/shims/netstandard.shimlist.txt has 96 files but the latest package only has 53 or so files.

[2017-01-28 01:16] ericstj commented on #185
This may just be build timing.  I can see them if I build locally.  Will schedule another build and close if they are still missing,

[2017-01-29 22:49] ericstj commented on #185
Yep, build timing

[2017-01-29 22:49] #185 closed

[2017-01-29 22:59] ericstj opened #186 "Missing DSA.HashData methods from netstandard.dll"
These methods are missing from System.Security.Cryptography.DSA but present in NET4.6.2 & NETCoreApp.

[code]

Should they be added to NETStandard?

[2017-01-30 10:39] lewislabs commented on #171
What's the best way for me to try to answer this kind of question myself in the future?

[2017-01-30 17:40] weshaggard commented on #171
The resource I try to use is http://apisof.net which is our APICatalog. It will allow you to search for the specific API you are looking for and see what version of the standard it lives in. It doesn't necessary help you figure out the difference between the standards though. We do have https://github.com/dotnet/standard/tree/master/docs/versions which shows the APIs and diffs between the standard

[2017-01-30 17:41] weshaggard commented on #185
If it is build timing then we do need any issue to fix that. I wouldn't expect there to be any races in this case because the pkgproj has a reference to all the shim projects.

[2017-01-30 17:43] weshaggard commented on #186
They are overrides. Are they available in on the base type? If so that should be enough.

[2017-01-30 18:27] ericstj opened #188 "Desktop netstandard.dll should be built against the latest shipping desktop targeting pack"
I see type forwards missing for types that are already present in .NET 4.6.2.

Including but (maybe) not limited to:
AesCng
TripleDESCng

[2017-01-30 18:38] weshaggard commented on #188
I have this tracked as part of https://github.com/dotnet/standard/issues/173.

[2017-01-30 18:38] #188 closed

[2017-01-31 05:48] gulshan commented on #165
I thought (and I was wrong) that netstandard versions constitute a vertical dependency graph. Like netstandard1.4(or a concrete implementation of it) is only dependent on lower versions to be built and no external dependency. That's why I thought the simplest version, netstandard1.0, may be dependent on CLR for some very low level functionality. Now I understand that, netstandard versions are just

[2017-01-31 06:58] bryanar commented on #170
I have the work in place, but I need some help configuring appropriately, @dagood would you be so kind as to give this a once over? I am getting a 404 at the moment, build definition is here:
https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=546662&_a=summary

[2017-01-31 07:15] dagood commented on #170
Sure, a few things I see:
 1. That definition's using dotnet-bot and dotnet-helix-bot's email, but the token is for dotnet-build-bot. (404 is probably an auth error. I might have shown you an old definition with dotnet-helix-bot, sorry about that.) Those variables should be dotnet-build-bot and dotnet-build-bot's email.
 2. `VersionsRepoPath` should be `build-info/dotnet/standard`, not pointing to

[2017-01-31 22:25] bryanar commented on #170
Current values:
GitHubUser="dotnet-build-bot"
GitHubEmail="dotnet-build-bot@microsoft.com"
GitHubAuthToken="$(PB_GitHubAuthToken)"
VersionsRepoOwner="$(VersionsRepoOwner)"
ShippedNuGetPackageGlobPath="bin/packages/Debug/*.nupkg"

[2017-01-31 22:43] bryanar commented on #170
dotnet/versions#120 was a requirement.

[2017-01-31 22:46] dagood commented on #170
Just a note that we needed to seed the files because `standard`'s BuildTools version doesn't include https://github.com/dotnet/buildtools/pull/1287.

[2017-01-31 23:34] bryanar commented on #170
Awesome, and https://github.com/dotnet/versions/blob/master/build-info/dotnet/standard/master/Latest.txt should reflect a package from my test build. I am going to open up the PR now that everything appears to be wired up correctly.

[2017-01-31 23:42] bryanar commented on #170
https://github.com/dotnet/standard/pull/189

[2017-02-01 03:25] bryanar commented on #170
Things are almost lined up. There appears to be an issue where my build definition is not pulling the latest version of the repository? As a result of this it isn't finding the correct VersionsTools.targets. I logged in to one of the machines, pulled the latest and did a build so I am confident there is another configuring error somewhere. I will look this over tomorrow.

[2017-02-01 15:04] dagood commented on #170
Looking at this: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?buildId=549360&_a=summary the issue is that I mistook `-g` for `-p`. The GitHub token needs to be with the other key=value pairs in `-g` (global pipeline variables). I didn't see any issues with the commit hash it was using.

[2017-02-01 23:40] bryanar commented on #170
Thanks for the help Davis. This + another missing global property were the last pieces of configuration I needed. Things appear to be working now - https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?context=mine&path=%5C&definitionId=4752&_a=completed

[2017-02-01 23:45] bryanar commented on #170
FYI: Versions are posted here:
https://github.com/dotnet/versions/tree/master/build-info/dotnet/standard/master

[2017-02-01 23:45] #170 closed

[2017-02-02 11:26] Trolldemorted commented on #132
@weshaggard is [this](https://github.com/dotnet/standard/blob/master/docs/versions.md#net-standard-versions) table incorrect too? It says arrow shoulds indicate support for a higher .NETStandard release, and UWP has arrows for 1.5 and 1.6, so it should support 1.5 and 1.6 as well.

[2017-02-02 16:00] eerhardt opened #191 "netcoreapp1.1 Native.OpenSsl assets are not getting excluded for netcoreapp2.0"
Unzip
[DependencyTest.zip](https://github.com/dotnet/standard/files/748233/DependencyTest.zip)

`dotnet restore`
`dotnet publish`

### Expected results
The publish directory shouldn't have `runtimes\debian.8-x64\native\System.Security.Cryptography.Native.OpenSsl.so` native assembly (and same for the other RIDs).  These native assets should be loaded from the shared framework, like usual.

### Actu

[2017-02-02 16:12] ericstj commented on #191
That's expected, in 1.1 we stopped using runtime.json to bring these in and instead used direct dependencies.  This was in order to enable folks targeting 1.0 to get the updated shims.

I'd expect type:platform / msbuild core.app exclusion logic to trim these out, just like it trims out rest of the shared framework.

/cc @bartonjs

[2017-02-02 16:15] ericstj commented on #191
Oops, nevermind.  I see that this if for 2.0.  This is because we're missing them from the platform manifest.  We need to add them as additional files since we're generating the platform manifest on windows today.

[2017-02-02 16:18] eerhardt commented on #191
Sorry I didn't make that clearer in the bug...

yes, the scenario is:

My "2.0" app references a library that depends on "1.1" security assemblies.  When I publish my "2.0" app, these OpenSsl native assets also get published.

[2017-02-02 16:48] manu-silicon opened #192 ".NET Standard and .NET Framework compatibility"
Hi,

We have been facing the following issues and are not able to work around it without manually copying assemblies.

* Create a console app (with VS2015 Update 3)
* Add a Portable C# library and reference it
* Transform this portable library into a .NET Standard project (version 1.4)
* Add a call to `Console.WriteLine("");` in the class created for you in the portable library project.
* Call the

[2017-02-02 17:29] bartonjs commented on #186
They should be declared virtual on DSA, not override...

https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/dsa.cs,69

[2017-02-02 18:29] manu-silicon commented on #192
I found a better way instead of copying files around, it seems sufficient to include the NETStandard.Library nuget package (albeit version 1.6) in the console app project and the missing assemblies are copied to the output of the build.

Is this the proper way of proceeding?

[2017-02-02 19:39] weshaggard commented on #132
@Trolldemorted those arrows are indicating that the vNext version of UWP will support those netstandard versions.

[2017-02-02 20:21] ericstj commented on #192
Yep, I assume you're using packages.config in the desktop project?  In that case you must manually install nuget packages from all referenced projects in the referencing project.  This is a shortcoming of packages.config.

Using NuGet with project.json or the latest tooling (PackageReference in msbuild) will flow those references between projects.

[2017-02-02 20:49] manu-silicon commented on #192
Initially the desktop project doesn't use `packages.config` at all. It is only when I add the nuget package that the file is created for me with some content.

Good to know that latest tooling would make this easier.

Thanks!

[2017-02-02 20:52] jnm2 commented on #192
@manu-silicon NuGet v3 is very easy to start using in your current project with current tooling. See Oren's awesome guide: https://oren.codes/2016/02/08/project-json-all-the-things/

[2017-02-03 00:42] #191 closed

[2017-02-03 03:16] dsplaisted commented on #192
This looks like the same issue as https://github.com/NuGet/Home/issues/4488

[2017-02-03 06:18] ericstj commented on #191
Looks like the latest packages on myget have this fix.

[2017-02-03 21:13] weshaggard commented on #192
@manu-silicon I would suggest using project.json if you are using the older tooling using the Oren's guide that @jnm2 pointed out.

I'm going to assume there isn't anything actionable from this issue for us so I'm closing, but feel free to ask any follow-up questions.

[2017-02-03 21:13] #192 closed

[2017-02-03 21:35] manu-silicon commented on #192
@weshaggard No problem. Using the project.json works for me in VS. But doing it from msbuild only works if I do a nuget restore project.json before launching the build. In any case, I'm eagerly waiting for the VS 2017 release to smooth things out.

[2017-02-04 01:33] jnm2 commented on #192
@manu-silicon You do need a restore, but in the meantime what I do when not building from VS is either TFS build, which by default puts a restore step ahead of the msbuild step, or if I'm building on my machine without VS I use Cake and copy the same logic as TFS build. Cake also gets you set up with a restore step before msbuild.

[2017-02-04 18:59] nathanielcook opened #193 "Conceptual Question - Are Runtime Identifiers applicable to .NET Standard Libraries?"
If I want to publish a .NET Core application as self-contained, I know I must add `<RuntimeIdentifiers />`, but I can't find any documentation clarifying the intention for _libraries_ targeting .NET Standard.

Consider that I have an application targeting `netcoreapp1.1`. This app references a library that targets `netstandard1.6`. So I go to publish the app as self-contained. I start by adding RI

[2017-02-04 19:13] davidfowl commented on #193
This issue should be filed on dotnet/sdk.

You shouldn't have to add RIDs to the class library to publish self contained.

[2017-02-04 19:41] Petermarcu commented on #193
I have found that it works if I don't specify `-r` on the command line and let the one from the app flow through. This is definitely a bug though and your intuition is correct. Libraries shouldn't need to specify RID's.

[2017-02-04 20:12] dasMulli commented on #193
@nathanielcook you are indeed running into a bug with the current tooling: https://github.com/dotnet/sdk/issues/696

The issue is that the `-r` argument is passed as `RuntimeIdentifier` property to msbuild which affects all builds in the invocation. Having this property set on a build of any project that has not been restored for a runtime will cause its build to fail. This results in P2P referenc

[2017-02-04 20:21] nathanielcook commented on #193
Excellent info; thanks so much to all! I consider my conceptual question answered and will follow dotnet/sdk#696 for updates on the bug.

Closing this issue.

[2017-02-04 20:21] #193 closed

[2017-02-07 20:12] eerhardt opened #197 "NETStandard.Library depends on Microsoft.Extensions.DependencyModel but doesn't package it"
I'm getting random build errors on my "2.0" projects in VS2017 with the form:

[code]

The reason this is happening is because the NETStandard.Library package is injecting some MSBuild Tasks and Targets into the build process.  Specifically this [`RemoveDepsFileConflicts` task](https://github.com/dotnet/standard/blob/962bb674bb0ad0f99bc3941b08ee1af725ecd293/netstandard/tools/RemoveDepsFileConflict

[2017-02-08 14:21] leopignataro opened #199 "Resolution of dependencies for multi-targeted packages"
Consider the following scenario:

- Library **L** is multi-targeted for .NET Framework 4.5 and .NET Standard 1.3
- Application **A** is targeted for .NET Framework 4.6.x
- **A** references **L** by nuget package reference

If I understand correctly, since the .NET Frameworks 4.6.x all implement .NET Standard 1.3, both DLLs on library **L** would be compatible with application **A**. In this case,

[2017-02-08 16:41] dsplaisted commented on #199
It's up to the tooling to choose which version of Library **L** to use.  Currently the implementation of choosing which version to use is in NuGet (whether you're using the .NET CLI, or VS/full MSBuild).

It will try to choose the "most specific" version of the library, which in this case would be the .NET 4.5 version.

[2017-02-08 17:24] leopignataro commented on #199
Good, this behavior suits our needs.

Thank you, @dsplaisted !

[2017-02-08 17:24] #199 closed

[2017-02-09 18:26] pranavkm opened #200 "Referencing NETStandard.Library in a Library project causes build failure"
### Stack trace

[code]

Looks like the target attempts to reads a deps file which isn't generated for `<OutputType>Library</OutputType>`. We're using the `1.0.0-rc4-004777` SDK.

[2017-02-11 22:39] pranavkm opened #201 "System.Threading.Tasks.Extensions in M.NETCore.App has the wrong public key"
The one in M.NETCore.App is `System.Threading.Tasks.Extensions, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a`
The one in System.Threading.Tasks.Extensions 4.4.0-beta-24913-02 is `System.Threading.Tasks.Extensions, Version=4.1.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51`.

Causes compilation errors when you use `ValueTask<>`

[2017-02-11 22:41] pranavkm commented on #201
cc @pakrym

[2017-02-12 07:10] VeselovAndrey opened #202 "System.IO.FileNotFoundException: Could not load file or assembly System.Console"
Create .NET Standard 1.3 library with class like that
`public class Class1
{
	public int WillWork(int x1, int x2) => x1 + x2;
	public void WillFail() => Console.WriteLine("Test from .NET Std class lib");
}`

Now create .NET 4.6.1 console app and add reference to NET Standard library:

`static void Main(string[] args)
{
	var c1 = new Class1();
	Console.WriteLine(c1.WillWork(1, 2));
	c1.WillFail();

[2017-02-12 16:03] dsplaisted commented on #202
This unfortunately doesn't "just work" as easily as it should.  The .NET Framework console app needs to have a reference to the NETStandard.Library NuGet package.  If it's using the new `PackageReference` support it will get that automatically when it references the .NET Standard project.

The first time you reference a package in the .NET Framework project, it will ask if you want to use `Package

[2017-02-12 16:24] davidfowl commented on #202
@dsplaisted aren't facades auto expanded for .NET framework anymore?

[2017-02-12 17:58] dsplaisted commented on #202
@davidfowl They should still be referenced automatically, but System.Console isn't one of the ones that are referenced automatically (because those APIs weren't in the PCL API set).  I think it probably needs to be referenced and deployed with the app, and is supposed to come from the NETStandard.Library package.

[2017-02-12 18:05] davidfowl commented on #202
Ah that's right. This is going to be a big source of problems. We need to fix these edges.

[2017-02-12 18:18] dsplaisted commented on #202
@davidfowl Agreed.  I've filed https://github.com/NuGet/Home/issues/4581 which is one way we might be able to address this.

[2017-02-13 06:44] kulkarnisachin07 opened #204 "Dot Net Standard Nuget Package 1.6.1 is throwing System.IO.PathTooLongException, while restoring the package. For Same project and same location 1.6.0 get installed correctly."
GET https://www.nuget.org/api/v2/Packages(Id='NETStandard.Library',Version='1.6.1')
  OK https://www.nuget.org/api/v2/Packages(Id='NETStandard.Library',Version='1.6.1') 1316ms
Restoring packages for D:\Workspace\source\avocet\AvocetProjects\Source\Workflows\PSDCWorkflowFramework\Slb.WorkflowManager\src\Slb.WorkflowManager\Slb.WorkflowManager.csproj...
System.IO.PathTooLongException: The specified

[2017-02-13 09:51] cknaap opened #205 "Warning for package downgrade on System.Net.NameResolution within NetCore.App 1.1.0"
I have command line app project targeting NetCore.App 1.1.0 and it results in a warning:

[code]
The .csproj is very limited:

[code]

I can imagine warnings on package versions between dependencies, but not within a dependency (in this case NetCore.App).

[2017-02-13 21:49] mjsabby commented on #181
Just noting that this is a prereq for Bing.com migration.

[2017-02-13 21:53] weshaggard commented on #205
I suspect this is occurring because IdentityModel is referencing something that is pulling in a higher version of the platform packages.

If you change your TargetFramework to netcoreap1.1 this should go away.

[2017-02-13 21:55] weshaggard commented on #204
This looks like an issue for the tools as opposed to .NET Standard itself. I suggest moving the issue to http://github.com/dotnet/sdk

[2017-02-13 21:55] #204 closed

[2017-02-13 21:57] weshaggard commented on #201
This is an issue for http://github.com/dotnet/corefx repo but it was intentional that we changed the public key for that library to cc7b13ffcd2ddd51 so you likely need to update your references to be in-sync so they match.

[2017-02-13 21:59] weshaggard commented on #201
What version of M.NETCore.App are you consuming that library from?

[2017-02-14 00:05] pranavkm commented on #201
M.NETCore.App: 2.0.0-beta-001559-00.

In this case, I was trying to build a `netstandard1.3` targeting class library (https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel.Https/Microsoft.AspNetCore.Server.Kestrel.Https.csproj) that referenced NETStandard.Library `2.0.0-beta-25010-01` from a netcoreapp2.0 application that referenced the version of M.N.A that

[2017-02-14 00:32] davidfowl commented on #201
How can we make such a big breaking change without telling consumers?

[2017-02-14 13:40] VeselovAndrey commented on #202
@dsplaisted

I'm sure this VS didn't ask me to use NETStandard.Library. I repeat all steps and still no any questions. But test app works after I added NETStandard.Library manually

[2017-02-14 16:05] dsplaisted commented on #202
@VeselovAndrey What I meant was, if you were to go to the NuGet Package Manager UI and add a reference to some package (e.g. NewtonSoft.Json) to the .NET Framework project, then VS should ask ask you whether you want to use PackageReference or packages.config.  If you choose PackageReference then you would automatically get the transitive NETStandard.Library reference you need.

[2017-02-14 16:49] weshaggard commented on #201
I suspect we might have a bug in the M.NETCore.App package then I will investigate and fix it.

[2017-02-14 17:54] #200 closed

[2017-02-14 18:27] weshaggard commented on #201
Closing this issue and tracking in corefx with https://github.com/dotnet/corefx/issues/16152. I will hopefully have the fix in today.