[2017-10-06 23:45] terrajobst opened #529 "Issues with .NET Standard and Click Once"
## Summary

There is currently a bug that prevents ClickOnce setups from correctly deploying all the necessary .NET Standard support files. But you can work this around by editing your project file.

## Symptoms and root cause

Running the application from inside of Visual Studio succeeds, so does publishing and installing. But when the application is launched, it crashes with with an exception [l

[2017-10-07 17:04] danielgerlag commented on #528
Hi,

Have a look at this branch on my repo:
https://github.com/danielgerlag/NBlockchain/tree/platform-test

On particularly this line:
https://github.com/danielgerlag/NBlockchain/blob/platform-test/NBlockchain/Services/Net/PeerConnection.cs#L144

This builds fine on my Windows 10 machine with VS2017... but when I try build it on my Mac with VS for Mac, it says that there is no `Close()` method on

[2017-10-07 17:54] Petermarcu commented on #528
Do you have the latest .NET Core 2.0 SDK installed on the Mac? I don't think VS for Mac installs 2.0 for you you.

[2017-10-07 23:50] danielgerlag commented on #528
If I run `dotnet --info` I get this
[code]

[2017-10-08 10:26] dasMulli commented on #528
@danielgerlag I gave your branch a try on my macOS and a linux docker image (because my Mac is case-insensitive and linux is not) but was unable to reproduce this problem.
I've used both the 2.0.0 CLI, msbuild distributed with mono 5.2.0.224 and VS for Mac version 7.1.5 (build 2) and the solution always builds fine (except for warnings, mostly about async usage).

You could try nuking your NuGet c

[2017-10-08 21:23] danielgerlag commented on #528
It seems like dotnet nuget locals all –clear fixed the issue.

Just curious, how does that actually work?

thanks

[2017-10-09 00:46] Petermarcu commented on #528
This may be another instance of https://github.com/NuGet/Home/issues/5995 where the cache is somehow corrupted and clearing it causes it to be reconstructed. I'm going to close this now and this general problem should hopefully go away when https://github.com/NuGet/Home/issues/5995 is fixed.

[2017-10-09 00:46] #528 closed

[2017-10-09 09:25] gyeesoft opened #530 "KeyedHashAlgorithm.Create("HMACSHA1") throw "Operation is not supported on this platform " Exception"
.net standard 2.0 , The following code throw Operation is not supported on this platform exception。

using (var algorithm = KeyedHashAlgorithm.Create("HMACSHA1"))
{
//... some codes
}

[2017-10-09 09:38] gyeesoft commented on #530
protected override string ComputeSignatureCore(string key, string data)
        {
            //using (var algorithm = KeyedHashAlgorithm.Create(SignatureMethod.ToUpperInvariant()))
            //{
            //    algorithm.Key = Encoding.GetBytes(key.ToCharArray());
            //    return Convert.ToBase64String(
            //        algorithm.ComputeHash(Encoding.GetBytes(data.ToCharArray())

[2017-10-09 09:38] #530 closed

[2017-10-09 15:06] jnm2 commented on #530
Fence code like this for block formatting, and add `cs` for syntax highlighting:

[code]

[2017-10-10 00:18] danmosemsft commented on #519
The second one looks like https://github.com/dotnet/standard/issues/378 .. perhaps @ericstj can suggest a workaround.

@ericstj could you please look at the first one?

[2017-10-10 00:19] danmosemsft commented on #526
@terrajobst to answer that. I think we are avoiding using the word portable, in order to avoid confusion with the PCL mechanism. The goal is similar, the mechanism is different.

[2017-10-10 00:19] danmosemsft commented on #524
This seems resolved, closing, please reopen if not..

[2017-10-10 00:19] #524 closed

[2017-10-10 05:56] JunielKatarn commented on #462
VS 15.4 was released very recently, with Xamarin Forms 2.4, but I keep getting the same error.
I have a UWP app targetting the Fall Creators update (16299, both target and min. version), and a trivial .NET Standard 2.0 library. This is the result:
[code]

[2017-10-10 14:55] atrauzzi commented on #484
Definitely need a resolution on this quickly.

[2017-10-10 21:50] joshmouch opened #532 "After installed .Net Standard 2.0 and upgrading my projects, now getting exception in Visual Studio"
Earlier today I installed .Net Standard 2.0, and upgrade my projects to use it.  And now I randomly get a pop up in Visual Studio saying there was an exception.  Here is what was logged in the file it generated.

[code]

[2017-10-11 02:41] branko19 commented on #439
This is my first .Net core projects ???
Is this sable version ????

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package System.Threading.Overlapped 4.0.1 is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0). Package System.Threading.Overlapped 4.0.1 supports: netstandard1.3 (.NETStandard,Version=v1.3)
Error	NU1202	Package System.Resources.ResourceManager 4

[2017-10-11 02:44] branko19 commented on #439
I think I will quit .Net core i need only API and firebase look promising.
I try sorry guys.

[2017-10-11 02:57] Petermarcu commented on #439
@branko19 , its not clear what you were trying to do. Can you give more details of what you project is? It looks like you are trying to use a bunch of .NET Framework libraries on .NET Core?

[2017-10-11 03:20] branko19 commented on #439
I'm just trying to get my IDE to be stable .
 For sure that I do not want to resolve 90 packages while trying to learn .Net core 2.0 standard.
Why MS did not completely disconnect .Net Frameworks , why MS mix .Net core library's and .Net Core.
eg. I dont want to use eg. Package System.Threading.Overlapped 4.0.1 is not compatible with netcoreapp2.0 ,I want compatible package but do not know how to

[2017-10-11 03:32] branko19 commented on #439
This is my diagnostics and info I really need it a good advice to be able to continue :)
PM> dotnet --diagnostics
Telemetry is: Enabled
.NET Command Line Tools (2.0.0)
PM> dotnet --info
.NET Command Line Tools (2.0.0)
Product Information:
 Version:            2.0.0
 Commit SHA-1 hash:  cdcd1928c9
Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS Platform: Windows
 RID:

[2017-10-11 03:38] Petermarcu commented on #439
Can you share more info about your project or the project (csproj) itself? This doesn't look like an empty app so we need to know what you are trying to do so we can help you accomplish it.

[2017-10-11 03:41] branko19 commented on #439
I just reinstall VS 2017 couple of times
and combinations.Net Core SDK's and try to use Api template like in tutorial.

[2017-10-11 03:41] Petermarcu commented on #439
Can you point me to the video/tutorial you are trying to follow? Have you tried the simplest app to see if that works?

`dotnet new console`
`dotnet run`

[2017-10-11 03:42] branko19 commented on #439
Lynda - Building Web APIs with ASP NET Core_Chris_Wodruff

[2017-10-11 03:43] Petermarcu commented on #439
Also what is your Visual Studio version if you go to help->about?

[2017-10-11 03:44] Petermarcu commented on #439
I dont have access to that training. Can you paste the contents of your project file here so I can see what you are doing?

[2017-10-11 03:49] branko19 commented on #439
Also what is your Visual Studio version if you go to help->about? 15.40

[2017-10-11 03:49] branko19 commented on #439
sorry 15.4.0

[2017-10-11 03:51] Petermarcu commented on #439
Ok, that should be good with the .NET Core 2.0 SDK installed. Then if you do File->New Project and choose and ASP.NET Web API, can you build that app successfully?

[2017-10-11 03:55] branko19 commented on #439
dotnet new console
first time is it was written restore
but dotnet run have 100 pages of errors
dotnet new console
second time
Return the command and pass --force to accept and create

[2017-10-11 03:57] branko19 commented on #439
![image](https://user-images.githubusercontent.com/16560607/31421680-f3396556-ae48-11e7-8759-a18d6f149f8e.png)

[2017-10-11 03:59] branko19 commented on #439
Ok your advice is to switch to ASP.NET Web API insted of core.

[2017-10-11 04:08] Petermarcu commented on #439
I wasn't meaning to get off of .NET Core. I should have said ASP.NET Core Web API.

I'm wondering if your NuGet cache somehow got corrupted. Can you try

`dotnet nuget locals all –clear`

Definitely looks like something is going on with restore.

Something else that is weird is the errors you are getting. There are references to System.Windows.Forms which would not exist in a normal ASP.NET projec

[2017-10-11 04:14] branko19 commented on #439
from command line i try from NuGet Package Manager >> Package manager console
but it it does not work there

[2017-10-11 04:33] branko19 commented on #439
dotnet nuget locals all –clear
![image](https://user-images.githubusercontent.com/16560607/31422247-bcfd04bc-ae4c-11e7-8c10-767739924f32.png)
![image](https://user-images.githubusercontent.com/16560607/31422465-12408e7a-ae4e-11e7-844d-7aeb86f2d382.png)
First time I use dotnet cli sorry my flow

[2017-10-11 04:41] branko19 commented on #439
Even webapi template work with dotnet cli thank yooooooooooou very much  :) :) :)

[2017-10-11 05:46] Petermarcu commented on #439
FYI - I think is this bug but may not be exactly that issue. https://github.com/NuGet/Home/issues/5995

[2017-10-11 05:54] JunielKatarn commented on #463
Trying Visual Studio 15.4 and Windows Fall Creators Update, but no luck.
I get a similar message trying to use a .NET Standard 2 library from a UWP app:
[code]

[2017-10-11 06:20] branko19 commented on #439
Petermarcu I do not know how to thank you !

[2017-10-11 08:14] MihaMarkic commented on #328
Not sure whether to create a new issue, I'll post it here because it seems to fit.
The code below is run from a .net 4.6.2 console and ClassLibrary2.dll is a .net standard 2.0 library.
GetExportedTypes() method would throw

unless I add the deprecated NETStandard.Library.NETFramework to the console.

### Repro code
[code]

[2017-10-11 11:59] kwaazaar commented on #328
Where can I find NETStandard.Library.NETFramework? Nuget only finds NETStandard.Library.

[2017-10-11 13:27] MihaMarkic commented on #328
@kwaazaar
It's **NETStandard.Library.NETFramework** and make sure  you tick "Include prerelease" checkbox.

[2017-10-11 15:44] dasMulli commented on #328
It should no longer be necessary to use the `NETStandard.Library.NETFramework`, it was a temporary method. The tooling is now included in VS (with some issues - see
https://github.com/dotnet/announcements/issues/31)

If you load an app via reflection and not during the build process, you should be able to force the build process to run the necessary logic by putting this into a `PropertyGroup` in

[2017-10-11 16:36] Amenti commented on #462
@JunielKatarn I have the same problem. Did you solve it by any chance?

[2017-10-11 20:19] JunielKatarn commented on #462
@Amenti No luck yet. It just doesn't work. Hope someone from the .NET team cares to comment.

[2017-10-11 22:36] myokeeh commented on #413
I'm revisiting this issue since .NET Framework 2.0 can now be used with UWP.

The problem is still there, but perhaps I should double check whether USB4.dll is deployed with the app. Maybe I wasn't looking in the right place. How do I determine if it is deployed with the app?

Any thoughts on the main problem, @yizhang82?

[2017-10-11 23:42] terrajobst commented on #526
I don't think so. In fact, when we evangelized *Portable* Class Libraries I remember vividly that folks took offense and responded with this meme:

![giphy](https://user-images.githubusercontent.com/5169960/31472302-c2aef6b2-aea2-11e7-9e65-fdc00ba4358d.gif)

If anything, .NET Standard is a true portability story: it's not only cross-framework but also cross-platform. But I would say that the term

[2017-10-11 23:42] #526 closed

[2017-10-11 23:43] terrajobst commented on #527
Thanks!

[2017-10-11 23:58] tmenier commented on #526
LOL. Thanks for your insights, I agree that "portable" accurately describes what .NET Standard is. I was concerned that continuing to use the term in my lib's tagline may have sounded passe, but "cross-platform" sounded a little clunky in that context. I will go forth with confidence and continue to call it "portable". :)

[2017-10-12 01:59] JunielKatarn commented on #462
[UPDATE] The feature DOES work, but not incrementally. If you get the same error message I did, you should fully rebuild the solution.

[2017-10-12 05:52] Petermarcu opened #533 "Not able to create a project containing app.xaml using Dot Net Standard 2.0"
@marcusts commented on [Thu Aug 17 2017](https://github.com/dotnet/core/issues/855)

I have installed all of the components, and can indeed create new projects using Dot Ne Standard and compile them.

*However* I am not allowed to create a *solution based on Dot Net Standard 2.0.   Only single class libraries. Is this as intended?  If so, could you state it as a headline in your blogs and announce

[2017-10-12 06:03] Petermarcu opened #534 "NuGet for System.Collections.Immutable has unresolved dependency towards netstandard"
@robert-j-engdahl commented on [Mon Sep 11 2017](https://github.com/dotnet/core/issues/954)

# Issue Title

Installing the NuGet package System.Collections.Immutable v1.4.0 targeting .Net 4.6.1 does not include its dependency towards netstandard.

# General
After

    install-package System.Collections.Immutable -ProjectName SomeProject

And using ImmutableHashSet<long> in some class, Visual Studi

[2017-10-12 06:33] Amenti commented on #462
@JunielKatarn Thanks for the info. It does not help though. I even have this problem with a freshly created project with minimum and target version set to 16299. I did install the dotnet-sdk-2.0.0-win-x64.exe. Maybe something did not work out with the installation...

[2017-10-12 16:23] marcusts commented on #533
Yes, I am trying to use the new Dot Net Standard 2.0 instead of a PCL in a Xamarin.Forms app.

You can see the dilemma for yourself by creating a Xamarin.Forms app and reviewing the choices for the satellite projects.  The only current choices are Shared and PCL.  We need a third choice, Dot Net Standard 2.0.

If you hack around this and add a Dot Net Standard 2.0 project to a Xamarin.Forms app ma

[2017-10-12 17:04] zippo227 commented on #463
I had to change the target and min target version

[2017-10-12 17:25] Amenti commented on #462
I found the problem. I had installed the .Net Core SDK separately from Visual Studio. After I uninstalled it and installed the .Net Crossplatform workload in the Visual Studio Installer it started to work.

[2017-10-12 17:59] rdzidziguri commented on #497
Guys looks like this is the same issue i raised in core team so what is final decision on this? is it bug in default template or is this correct behavior?

[2017-10-12 18:16] JunielKatarn commented on #463
@zippo227 I did that too (both to the latest version), but still got erratic behavior (no incremental builds succeeded).

Found the solution here:
https://github.com/dotnet/standard/issues/462#issuecomment-336207924

[2017-10-12 18:16] JunielKatarn commented on #462
@Amenti Thanks! That worked.

[2017-10-12 19:28] virzak opened #536 "public interface IValueConverter"
Should IValueConverter be part of the .NET Standard?

It seems so since it is identical in [WPF](https://msdn.microsoft.com/en-us/library/system.windows.data.ivalueconverter(v=vs.110).aspx), [UWP](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.data.ivalueconverter) and [Xamarin Forms](https://developer.xamarin.com/api/type/Xamarin.Forms.IValueConverter/)

[2017-10-13 08:02] TechnikEmpire commented on #391
@weshaggard so I'm assuming mixing .net standard 2 with 4.6 is unsupported as well? Perhaps tooling could tell us these things so we're not spending hours digging up GitHub tickets trying to figure out why our projects are exploding with ambiguous errors.

[2017-10-13 09:22] Hlynsson commented on #514
Is there an estimated release date for 4.7.1?

[2017-10-13 09:48] dasMulli commented on #514
Reading through https://github.com/dotnet/sdk/issues/1647 it doesn’t seem that 4.7.1 fixes all issues, are the assemblies mentioned there still causing a need for binding redirects?

[2017-10-13 14:36] eriawan commented on #497
@rdzidziguri
It is not a bug nor an issue. Please follow up the discussion above, especially explanation of @ericstj and @weshaggard .

[2017-10-13 15:20] terrajobst commented on #514
@Hlynsson

Don't think we announced a date yet, but it's very soon.

[2017-10-13 16:04] ajcvickers commented on #460
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/10065

[2017-10-13 16:04] #460 closed

[2017-10-13 17:05] weshaggard commented on #391
That is correct. See https://docs.microsoft.com/en-us/dotnet/standard/net-standard for the support matrix. I would have expected the tooling to generally block you from adding references to netstandard2.0 libraries from a .NET 4.6 application but there are likely bugs in various scenarios there. If you are hitting upon one please file an issue at https://github.com/dotnet/project-system.

[2017-10-13 19:11] Petermarcu commented on #497
@eriawan were you going to make a PR for [this](https://github.com/dotnet/standard/issues/497#issuecomment-333167897)?

[2017-10-14 09:46] eriawan commented on #497
@Petermarcu yes, I'm in the middle of working on it.

I'm still struggling to update the standard/netstandard/pkg/NETStandard.Library.dependencies.props
 and test the resulting .NET Standard metapackage, sometimes it works, sometimes it doesn't.

I'll update you next week or sooner if I can repro my problems. Or have you already worked on this?

[2017-10-14 12:20] shaggygi opened #537 "[Question] Clean up milestones"
Is it possible to close out [.NET Standard 2.0 milestone](https://github.com/dotnet/standard/milestone/2) now it is released?  I'm assuming a new milestone for v2.1 will be created once roadmap is announced.  Thx

[2017-10-14 23:36] xzuttz commented on #328
Added NETStandard.Library.NETFramework to a 4.6.2 Console application, which references a .NET Standard 2.0 library. Also added

`<DependsOnNETStandard>true</DependsOnNETStandard> `

to a PropertyGroup.

Recieving the following error:

[2017-10-15 08:52] MihaMarkic commented on #328
@dasMulli Indeed it works that way. Didn't try 4.7.1.

[2017-10-15 16:49] Petermarcu opened #538 "No netstandard.dll reference when targeting netstandard2.0"
@alexeyzimarev reported this here: https://github.com/dotnet/core/issues/831#issuecomment-336706155

This is even worse. I converted RestSharp to be on netstandard2.0. It builds fine on my machine. But on my other machine and on anyone else's it is throwing errors on everything - `CultureInfo`, `List`, etc.

So I looked how it shows and compared it with a completely new .NET Standard class library

[2017-10-15 17:01] Petermarcu commented on #538
@terrajobst @ericstj

[2017-10-15 17:01] Petermarcu commented on #538
@dsplaisted

[2017-10-16 07:42] alexeyzimarev commented on #538
Thanks @Petermarcu for adding the issue for me.

[2017-10-16 13:26] YohanSciubukgian opened #539 "Missing System.String.Replace definitions in .NetStandard 2.0"
From what I have understand, .Net Core 2.0 is an implementation of .Net Standard 2.0 .
However I'm facing an issue when I'm trying to move my code from a .Net Core 2.0 project to a .Net Standard 2.0 project with the following message :

.Net Standard 2.0 references the following methods :
 - System.String.Replace(String, String);
 - System.String.Replace(char, char);
https://docs.microsoft.com/fr-

[2017-10-16 14:19] alexeyzimarev commented on #538
OK, some more details. I have two csproj files in one project folder. Files are `RestSharp.csproj` and `RestSharp.Signed.csproj`. The difference is that the Signed file has assembly signing attribute. The Signed project shows `netstandard.dll` included and it builds. The `RestSharp` project does not show `netstandard.dll` and fails building. As soon as I removed the Signed project from the solutio

[2017-10-16 14:45] jnm2 commented on #539
Yes, this means .NET Core APIs include .NET Standard 2.0 APIs, but not the other way around.

I have similar questions about many .NET Core APIs that I want to use both in .NET Standard and .NET Framework, so I will wait for the answer to your question with interest.

[2017-10-16 15:26] svick commented on #539
For the record, those overloads were added to .Net Core in https://github.com/dotnet/corefx/issues/1271.

I'm not sure how exactly is the evolution of .Net Standard after 2.0 going to look like. Some hints from [the documentation](https://github.com/dotnet/standard/blob/81a810a/docs/faq.md#who-decides-what-is-in-net-standard):

This makes it sound like just because an API was added to .Net Core (w

[2017-10-16 16:00] #538 closed

[2017-10-16 17:37] jnm2 commented on #539
This makes it sound like just because an API was added to .Net Core (where most of innovation is happening now) does not mean it will automatically be added to .Net Standard.

I hope not; but I do hope that there will be a structured way for us to request APIs. Perhaps we can open request issues in this repo and upvote them? Whatever the mechanism, it would be good if it was centralized in an open

[2017-10-16 19:06] Petermarcu commented on #497
Sounds good. No, I'm not working on it. Was just wondering what the next steps on this issue were as I'd like to see what it will take to get it addressed. Thanks for helping out!

[2017-10-16 19:07] Petermarcu commented on #537
Done. Thanks!

[2017-10-16 19:07] #537 closed

[2017-10-17 13:27] jogibear9988 opened #540 "Error when Librarys are used where some reference NetStandart2.0.1 and others in a 4.6.2 Project"
I've a WPF App wich References a Library (RoslynPad) wich uses NetStandart2.0.1

My Application also References other Librarys wich Reference to System.Runtime 4.3 Nuget Package.

Now I've the Problem. When I build, System.Runtim ein Version 4.1.2.0 is copied to my Application Directory (the one from Netstandart2.0.1 package), but in the App.config a redirect to 4.1.1 is created (wich is in the 4.

[2017-10-17 16:16] ericstj commented on #519
Both are related to #378.

First is due to the shortcomings I pointed out in my first fix.  I've implemented a better fix and will merge shortly.

Second is the original issue; @michael-lang you'll want to pull the latest package from myget.  You'll probably want to wait for my fix though.

[2017-10-17 20:46] #378 closed

[2017-10-17 22:13] jogibear9988 commented on #540
see also: https://dzone.com/articles/net-core-dll-hell-is-here-can-net-core-20-save-us

[2017-10-17 22:14] jogibear9988 commented on #540
or https://github.com/Microsoft/msbuild/issues/2527

[2017-10-17 23:17] myokeeh commented on #413
I suppose this error is a good indicator of whether it's getting deployed with the app or not. This goes away if I add USB4.dll to the UWP app as a "Copy always" "Content" file--but it still doesn't work even if the dll gets deployed with the app.

`System.DllNotFoundException occurred
  HResult=0x80131524
  Message=Unable to load DLL 'USB4.dll': The specified module could not be found. (Exception

[2017-10-18 04:46] ristogod commented on #505
I get these same set of conflicts when building packages targeting netstandard1.x and netstandard2.0. I've been able to resolve the issue in some cases where I only in reference packages for 1.x and not including any of those same references for 2.0 (because most seem to be baked into 2.0). However, when I reference 3rd party nuget packages, it seems I lose the ability to control that as it's bein

[2017-10-18 12:12] 0x084E commented on #504
@dsplaisted I ran into the same issue with a project targeting net471 and netstandard2.0 (it doesn't seem to occur with net471 only).
Setting this property for the net471 configuration fixed it for me. Thanks for the hint!

[2017-10-18 12:17] YohanSciubukgian commented on #539
I though that .NetStandard referenced everything from .NetCore.
It seems fair, between .NetFramework & .NetCore, to not include only .NetStandard references in order to let the possiblity to .NetCore to go further.
But the lack of references might impact other implementations like Mono, Xamarin or UWP.
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

In my case, I'll stay under .NetC

[2017-10-18 15:50] mattkoch614 commented on #522
#391 illustrates this problem.

[2017-10-18 18:30] ericstj commented on #519
This has been fixed and I published the updated package to nuget.org.  Please try out
1.1.0-preview1-25818-01.

[2017-10-18 18:30] #519 closed

[2017-10-18 18:33] #518 closed

[2017-10-18 18:36] ericstj commented on #534
This is by-design.  You need to ensure the NETStandard support package for .NET framework is installed to get those dlls.  @dsplaisted @terrajobst can you please share a link?

[2017-10-19 15:49] ryanelian commented on #514
When I changed `TargetFramework` to `net471` in my `net462` project, this happens:

[code]

How to fix this?

[2017-10-19 17:32] ericgrover commented on #498
So this is clearly an established bug with .net standard dependencies.  Is there a proven workaround for this problem?

[2017-10-19 17:34] cilerler commented on #498
https://github.com/dotnet/standard/issues/529

[2017-10-19 18:09] AlexGhiondea commented on #514
@dsplaisted @jcouv is this a known issue?

[2017-10-19 18:39] Petermarcu commented on #498
@terrajobst do you have the workaround documented anywhere?

[2017-10-19 18:41] jcouv commented on #514
@ryanelian could you repro the error with `msbuild /bl theProject.csproj` and share the resulting binary log?

[2017-10-19 18:42] #498 closed

[2017-10-19 19:08] ryanelian commented on #514
[msbuild.zip](https://github.com/dotnet/standard/files/1399671/msbuild.zip)

[2017-10-19 20:18] terrajobst commented on #498
Yes: https://github.com/dotnet/standard/issues/529

[2017-10-19 20:45] terrajobst commented on #514
@ryanelian

Thanks! Looks like you have a reference to the System.ValueTuple 4.3 NuGet package. Could try whether upgrading to 4.4.0 solves the issue?

[2017-10-19 21:04] Petermarcu opened #542 "You must add a reference to assembly netstandard errors"
@fahadabdulaziz opened this here: https://github.com/Microsoft/dotnet/issues/527

Hi,

After targeting .Net Framework 4.7.1, in many projects referencing net standard libraries. I get these errors:
![errs](https://user-images.githubusercontent.com/5483584/31769585-f06cdab6-b4dc-11e7-9a58-f6d3f52341da.png)

`csharp
The type 'Object' is defined in an assembly that is not referenced. You must add a r

[2017-10-19 21:04] Petermarcu commented on #542
@AlexGhiondea @terrajobst

[2017-10-19 21:17] mguinness commented on #153
For others that are interested [System.IO.Ports](https://www.nuget.org/packages/System.IO.Ports) contains a SerialPort class.

[2017-10-19 23:18] terrajobst commented on #514
@ryanelian

Could you an MSBuild binary log for a build with the 4.4.0 version as well? I'd love to see the actual conflicts reported by MSBuild.

[2017-10-20 02:24] ryanelian commented on #514
[msbuild.zip](https://github.com/dotnet/standard/files/1400613/msbuild.zip)

btw, just curious, how do you 'see' the content of the binary log?

No, adding those lines does not make the warning message disappear...

[code]

[2017-10-20 02:35] jcouv commented on #514
@ryanelian You can view the contents of binary logs with the [structured log viewer](https://github.com/KirillOsenkov/MSBuildStructuredLog). If you're used to msbuild logs in text format, you're in for a treat ;-)

[2017-10-20 02:39] jcouv opened #543 "Issue with ValueTuple on net471"
@terrajobst @ryanelian If it's ok, let's move the investigation to a dedicated issue.

Here's the latest comment from Ryan, in the thread for https://github.com/dotnet/standard/issues/514.

----
[msbuild.zip](https://github.com/dotnet/standard/files/1400613/msbuild.zip)

btw, just curious, how do you 'see' the content of the binary log?

No, adding those lines does not make the warning message dis

[2017-10-20 02:40] jcouv commented on #514
Let's move the troubleshooting with @ryanelian and @terrajobst to separate issue: https://github.com/dotnet/standard/issues/543

[2017-10-20 15:04] bryanloeper commented on #439
Regarding the guidance @terrajobst for using `NoWarn `- I'm seeing it work for top-level packages, but not their dependencies. I have a `netcoreapp2.0` ASP.NET Core Web API and am working on getting it hosted in Service Fabric. Turns out there's an open issue for this: https://github.com/NuGet/Home/issues/5740 in case anyone else runs into the same issue. The example I'm running into is below:

[c

[2017-10-20 17:40] Tornhoof commented on #543
As I'm also victim of the ValueTuple problems and the Binding Warnings, this might help as it contains a repro for the binding warnings, https://github.com/dotnet/project-system/issues/2905
it includes ValueTuple and several other System libraries.

[2017-10-20 20:51] isaac2004 opened #544 "DotNet Standard 2.0 Project downgraded to 1.6 and cannot update"
I have a CL that was Standard 2.0 and after installing the 2.1 SDK it got downgraded somehow to 1.6 (.csproj still says 2.0). The application fails on build because of namespaces not available. When I try to upgrade through VS, I get this

![capture](https://user-images.githubusercontent.com/8878502/31841261-baa2e134-b5b6-11e7-856d-2f8eeac5d88b.PNG)

I am blocked to upgrade the package. If I try t

[2017-10-21 00:34] BinaryPatrick commented on #476
Can't seem to get this to work when running an azure function against a .net standard library

[2017-10-21 00:37] terrajobst commented on #476
@BinaryPatrick

That's probably because Azure Functions [don't work with .NET Standard 2.0](https://github.com/Azure/azure-webjobs-sdk-script/issues/1996).

[2017-10-21 00:55] BinaryPatrick commented on #476
Not even precompiled?

[2017-10-21 01:26] BinaryPatrick commented on #476
This got things working for me. Seeing as there isn't a app.config this fix seems to work.

https://codopia.wordpress.com/2017/07/21/how-to-fix-the-assembly-binding-redirect-problem-in-azure-functions/

[2017-10-22 17:42] ghelyar opened #545 "net462 referencing netstandard2.0 - can the large number of dlls be avoided?"
If I have an empty net standard 2.0 library and it's referenced by a net framework 4.6.2 "hello world" console application, building the net 462 application copies almost 100 dlls to the output directory, such as System.IO.dll, System.Console.dll, etc. It also copies netstandard.dll. From a netcoreapp2.0 console application, the only outputs are the 2 dlls for the projects.

If I copy just the con

[2017-10-22 18:46] jnm2 commented on #545
I agree. I'm just not using NuGet packages on .NET Framework like System.Collections.Immutable simply because it's not worth adding 2 dozen assemblies when I could have a single exe.

The reason is that net471 is the first .NET Framework to actually contain netstandard20 APIs- the others use shims. I wish they were was just one net462–netstandard2.0 shim dll that ILMerged everything.

[2017-10-22 19:48] sandersaares commented on #481
The automatic binding redirects is a tooling feature to just generate the redirects in the config file, right? I recall it not working for me in some situations for whatever tooling reason and this caused some pain in the past.

Really, what I would desire on this point is a way to tell the runtime to use whatever name-matching assembly I have thrown into the bin directory. I do not want to the ru

[2017-10-23 01:29] Petermarcu commented on #545
@terrajobst isn't there where we thought we could be smarter and only pull in the contract compat shims if needed?

[2017-10-23 01:30] Petermarcu commented on #545
@jnm2 , I believe the problem is the assembly identity of what the various libraries in the ecosystem reference. If they were IL Merged into a single assembly, they would lose their identity and the assembly wouldn't bind. I agree though, it sure would be nice to have less files :)

[2017-10-23 16:12] terrajobst commented on #545
@Petermarcu

We could, but it's debatable whether that's better or worse. Today, we're already having the problem that dynamic systems tend to have issues with missing binding redirects. I'm not sure automatic trimming would help our case as we're now adding one more option that could make the result fragile...

@ghelyar

Yes and no. If you compile against .NET Standard 2.0, your code will only be

[2017-10-23 16:32] ghelyar commented on #545
It sounds like the long term fix is to target .net core or .net framework 4.7.1 or higher, but I know that 4.7 had problems and 4.7.1 has only just been released.

Does this mean that when targeting .net framework 4.6.2, if all dependencies are known to use netstandard2.0, the other dlls can be omitted?

[2017-10-23 20:38] KelsonBall commented on #476
I don't have an app.config file in my MS unit test projects, how do I apply the workaround?

[2017-10-23 23:48] TheCodechimp commented on #391
@weshaggard Are you thinking of .NET core? The entire point of .NET standard is to be an API between the full framework and core. In fact I'm able to use a mix of .NET standard and framework just fine. If something isn't supported it will simply fail and move on.

[2017-10-24 00:24] isaac2004 commented on #544
Just as an FYI, Uninstalling the 2.1 SDK Resolved this Issue. There should be some documentation on this as it breaks any Standard 2.0 CL after upgrading.

[2017-10-24 00:32] weshaggard commented on #391
No. You are exactly correct that .NET Standard is the API between Full and core but each version maps to a particular version of netstandard. So when I say I wouldn't expect that to work it is because .NET 4.6 maps to netstandard1.3 so I would expect the tooling to only allow you to reference up to that netstandard version.

[2017-10-24 15:11] JranZu commented on #529
Looking forward to this fix... Not so much implementing the workarounds ;)  -- Any ETA?  Soon, Summer 2018, etc?

[2017-10-24 15:21] ericstj commented on #476
Unit tests (both mstest and xunit) use the .dll.config convention.

[2017-10-24 15:52] juscelior opened #546 "Issue with ValueType on net471 when use IEnumerable"
Upgrading my asp.net mvc project to .NET 4.7.1, but now this error occurs in cshtml pages, when I use IEnumerable property in my Model:

Error	CS0012	The type 'ValueType' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

[2017-10-24 16:02] BinaryPatrick commented on #476
I'd assume you could put it in the webconfig if you weren't using core or azure functions, but if you have a webconfig, there are other, better ways listed above.

[2017-10-24 16:18] Sergio0694 opened #547 ".NET Framework 4.7.1 with .NET Standard 2.0 library - missing/invalid dll"
Hello,
I'm working on a .NET Standard 2.0 library that references a .NET Framework library, specifically the [**Accord.Math**](https://www.nuget.org/packages/Accord.Math/) library, which is a .NET Framework library that is correctly loaded into the .NET Standard 2.0 library (I guess through that new compatibility layer).

The whole thing works fine and I have no problems whatsoever as long as I re

[2017-10-24 17:32] jnm2 commented on #476
NUnit picks up .dll.config as well.

[2017-10-24 17:35] rlordcardano commented on #547
Hi there - I remember running into these errors when I moved to .NET Standard 2.0. If I remember correctly, moving to the new csproj format (for all projects) fixed most of the errors I was seeing, see e.g. http://www.natemcmaster.com/blog/2017/03/09/vs2015-to-vs2017-upgrade/.

[2017-10-24 18:37] NArnott commented on #529
This doesn't appear to work. System.Runtime is still not getting deployed even after adding the extra target to my csproj.

`System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified. ---> System.IO.FileNotFoundException: Could not load fi

[2017-10-24 18:42] jainaashish commented on #481
@terrajobst
`If you currently do have a packages.config, convert the contents to packages references in the project file.`

Please update this guidance like below to get the right behavior:
- Uninstall all the current packages from nuget manager ui or pmc console.
- Then add all packages in PackageReference format in csproj file. The syntax is like this:
  `<PackageReference Include="package-id" V

[2017-10-25 02:59] JohnMasen opened #549 "IAsyncResult does not return after AsyncWaitHandle is set (only applies to .NET Core 2.0)"
I have a library which converts javascript async call (Promise call) to dotnet Task. it works fine on .NET Core 1.0 and 1.1
After upgrading the caller project to .NET Core 2.0, the "Await" statement was never return.

Repro steps:

Expected result:

Actual result:

Analyze:
After debugging the code, I found the await of IAsyncResult was never return even the AsyncWaitHandle was set.

[2017-10-25 03:03] stephentoub commented on #549
Can you share an isolated repro?  There's a lot of code in your project.

[2017-10-25 03:19] JohnMasen commented on #549
Hi Stephentoub,

The related code is at project "ChakraCore.NET.Promise"
file : PromiseServiceInjector.cs

AsyncResult.cs

[2017-10-25 03:24] stephentoub commented on #549
I haven't looked at all of the code, but right off the bat I see that the AsyncResult implementation is buggy.  IAsyncResult.CompletedSynchronously must not change its value; once its value is observed, it must always return the same value, but this code is changing it when the operation completes.  That could certainly mess up the logic in FromAsync.

[2017-10-25 03:34] JohnMasen commented on #549
Hi Stephentoub,
Thanks for your suggestion, the code works after removing `CompletedSynchronously = true;`
seems simply set it to false may cause other problem, I'll try find a better way to solve it.

[2017-10-25 03:34] #549 closed

[2017-10-25 03:37] stephentoub commented on #549
It shouldn't, at least not functionally.  CompletedSynchronously is purely an optimization.  An implementation can set it to true to signal to the caller that the operation completed as part of the synchronous call to initiate the operation, allowing the caller to avoid costs related to utilizing the callback (for example, FromAsync uses it to avoid extra synchronization when completing the task).

[2017-10-25 03:47] JohnMasen commented on #549
Thanks for your detailed explanation, now I get it :)
Suggest add your explanation to the document. it's much clear than _"Gets a value that indicates whether the asynchronous operation completed synchronously."_

[2017-10-25 10:56] IvanAlekseev opened #550 "Where can I find release notes for NETStandard.Library 2.0.1"
Today VS showed me an update for .net standard. But I can't find any release notes for this. Also update button in VS is disabled.

I am talking about this package - https://www.nuget.org/packages/NETStandard.Library/2.0.1/

[2017-10-25 11:46] JPhilC commented on #529
This work around does not not work. It just moves the problem along so that the application will publish and install but it then will not run. You get an invisible APPCRASH with the following Application Event log.

Application: ClickOnceIssueDemo.exe Framework Version: v4.0.30319 Description:  The process was terminated due to an unhandled exception. Exception Info:  System.IO.FileNotFoundExcepti

[2017-10-25 12:27] juscelior commented on #546
I found the solution!

The big problem for lack of netstandard reference in web.config.

Error:

![error-01](https://user-images.githubusercontent.com/3481961/31998507-dd10f8bc-b96e-11e7-94f7-395c3a509332.png)

Solution:

Add reference for netstandard in web.config

`<system.web>
    <compilation debug="true" targetFramework="4.7.1" >
      <assemblies>
        <add assembly="netstandard, Version=

[2017-10-25 13:23] juscelior commented on #542
Try add netstandard reference in web.config like this:

`<system.web> <compilation debug="true" targetFramework="4.7.1" > <assemblies> <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/> </assemblies> </compilation> <httpRuntime targetFramework="4.7.1" />
`

![solution-01](https://user-images.githubusercontent.com/3481961/32000894-e6dbdb52-b976-11e7-8ff

[2017-10-25 16:12] JPhilC commented on #514
I updated a project I am working on to .NET 4.7.1 because I was having issues with clickonce deployment. I now have that working, almost. The application starts but certain features are not working that do work when running in the IDE. The fusion log viewer shows the following for System.Windows , Version 2.0.5.0.

[code]
System.Windows does not appear on the list of Application Files in the publi

[2017-10-25 19:04] malylemire1 opened #552 ".NET Framework 4.7.1 class library with .NET Standard 2.0 nuget package."
Hi,

I have a problem with a 4.7.1 Class Library (.Net Framework) referencing Microsoft.AspNetCore (Or any other .net standard nuget package.) using PackageReference.

To reproduce the problem :

- Create a new Class Library (.Net Framework) that target framework 4.7.1
- Add Microsoft.AspNetCore nuget package using PackageReference.
- Call any method from the nuget package.
- You can try using sim

[2017-10-25 19:56] Tornhoof commented on #552
See https://github.com/dotnet/corefx/issues/24716#issuecomment-339155272

[2017-10-26 00:27] fahadabdulaziz commented on #542
Thank you,
But I'm using WinForms, which mean I don't have web.config.

[2017-10-26 00:47] fahadabdulaziz commented on #542
I managed to fix this problem by adding to csproj file with the references:
[code]

I don't know if this workaround is good or has side effects, but it silenced the errors for me.

[2017-10-26 07:36] Edward-Zhou opened #554 "Microsoft.AspNetCore.Mvc.Razor.Compilation.CompilationFailedException : One or more compilation failures occurred"
For this error, I have tried multiple solutions which is provided by Github. But, none of them worked. Please help to check whether this issue reopen on new environment like below.
Environment:
VS 2017 Version 15.4.1
Dotnet Version 2.0.2

Reproduce Steps:

1. Create an Asp.Net Core Web Application->.NET Core and Asp.net Core 2.0-> Web Application(Model-View-Controller)
2. Create an xUnit Test Proj

[2017-10-26 08:00] Sergio0694 commented on #547
Hello @rlordcardano - I've removed the Accord.Math library from my project (I've just copied the couple of code files I was using from their repo, this gave me more customization and eliminated that issue with the NuGet package), but I've followed your suggestion and migrated all my .NET Framework projects to the new csproj format, they work much better now 😄

For example, the Newtonsoft.json NuGe

[2017-10-26 12:01] JPhilC opened #555 "Application deployed using ClickOnce unable to find System.Net.Http"
I have a desktop application targeting .NET 4.7.1 and using PackageReference for the NuGets it uses. It references a .NET Standard 2.0 class library.

Both the application and the class library reference the NuGet package for System.Net.Http (4.3.3) along with MvvmLightLibsStd10, Microsoft.Azure.Mobile.Client and others.

When I run the application in development mode it works fine. If I deploy us

[2017-10-26 12:29] dasMulli commented on #555
This may be caused by https://github.com/dotnet/sdk/issues/1647

[2017-10-26 12:57] JPhilC commented on #555
I've looked through all the references on [dotnet/sdk#1647](https://github.com/dotnet/sdk/issues/1647) but couldn't see any that give a work-a-round. Is there a work-a-round?

[2017-10-26 13:39] malylemire1 commented on #552
Hi,

Adding

<_HasReferenceToSystemRuntime>true</_HasReferenceToSystemRuntime>

in .csproj fix the issue.

Thanks

[2017-10-26 14:40] jgauffin opened #556 "GZipStream not working as expected on compress."
I'm using .NET standard and had ported some code from .NET 4.5.2.

## Expected outcome:

`Dispose()` **_or_** `Flush()` should be enough for the compressed contents to get copied to the inner stream.

## Actual outcome

***Both*** Flush and Dispose are required to get the correct amount of bytes back from the gzipstream:

[code]

With just flush, I get 190 instead of 200 bytes:

[code]

With only

[2017-10-26 15:01] JPhilC commented on #555
If I manually edit the ...exe.config file AFTER it has been installed and remove the following:
[code]

The application then gets beyond not being able to find System.Net.Http. I have checked the app.config and there is no binding redirect in there so where is this coming from. Why is ClickOnce adding this line?

Once I clear this problem then there seem to be more problems with NUGETs referenced

[2017-10-26 15:31] dasMulli commented on #555
Does only removing it fixes it or actually setting `newVersion="4.0.0.0"` also work?

If I understand the underlying issue correctly, the problem really only is net471 not shipping with an incremented assembly version. All the system.* NuGet packages shouldn't result in files being added as the conflict resolution should trim all their assets out of scope or they shouldn't include any for 4.7.1 as

[2017-10-26 15:40] JPhilC commented on #555
You are correct, setting newVersion="4.0.0.0" also fixes the problem with System.Net.Http.

Do you have any suggestions for work around the other missing DLLs that I am now battling with like System.ComponentModel.Annotations?

[2017-10-26 15:53] JPhilC commented on #555
I have tried the same approach for System.ComponentModel.Annotations. Added:
[code]
to the post install exe.config file and that seemed to make the problem go away.

This is very tedious though. I have to publish and deploy the app then find the location of the exe and run it in debug in VS 2017 to see the error.

[2017-10-26 16:04] dasMulli commented on #555
Looks like yet another bug in how facade assemblies in 4.7.1 are versioned..

[2017-10-26 16:07] vbcodec opened #557 "Net standard 2.0 on Win 10 Mobile ?"
I have phone with installed Fall Creators Update (10.0.15254.1) and VS can't deploy app on phone, while on desktop works fine. Do Win 10 Mobile with Fall Creators Update support apps that use net standard 2.0 ?

[2017-10-26 16:27] JPhilC commented on #555
I have just tried adding the bindingRedirects that work into the app.config file. Unfortunately the publish changes these in the deployed file. Is there a way of stopping this happening or will I have to created the manifest manually using the Mage tool?

[2017-10-26 20:49] dasMulli commented on #555
Unfortunately this can't even be done using msbuild targets since `GenerateBindingRedirects` only supports input items to specify a MaxVersion that is used for [both the version range and the newVersion property](https://github.com/Microsoft/msbuild/blob/75e5117ab8be40faad4601904600aceae6bf9ee1/src/Tasks/AssemblyDependency/GenerateBindingRedirects.cs#L118-L119)..

Removing one could be done using

[2017-10-26 22:14] JPhilC commented on #555
In case anyone else has similar problems...
I have managed to get a working deployment done for my customer by publishing to a temporary location and manually editing the ...exe.config.deploy file. Then to I used the manifest update tool mageui.exe to re-hash and re-sign the manifest and application files.
Looking forward to Framework 7.4.2 if this will fix the mess.

[2017-10-27 01:57] santhoshkumarmksss opened #558 ".Net Plaform Standard implementation on .Net 4.7 has version inconsistency for System.Net.Http"
I have been using WCF service with .Net 4.7 version and it has project reference of Standard library with version 1.6. If I am using reflection getting bellow error

System.IO.FileLoadException: 'Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match th

[2017-10-27 04:50] #554 closed

[2017-10-27 04:51] Edward-Zhou commented on #554
Did not get response, open at https://github.com/aspnet/Hosting/issues/1245

[2017-10-27 16:03] Petermarcu opened #559 ".Net Plaform Standard implementation on .Net 4.7 has version inconsistency for System.Net.Http"
@santhoshkumarmksss commented on [Thu Oct 26 2017](https://github.com/dotnet/core/issues/1050)

I have been using WCF service with .Net 4.7 version and it has project reference of Standard library with version 1.6. If I am using reflection getting bellow error

System.IO.FileLoadException: 'Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11

[2017-10-27 16:20] Petermarcu commented on #556
I am assuming you are trying to run the library on .NET Core? We need to get this bug to whichever implementation of .NET Standard you are running on.

[2017-10-27 16:28] jgauffin commented on #556
The .NET library is compiled as .NET standard. I discovered the error in a .NET ASP.NET Core MVC application and reproduced it in a .NET Core console application.

[2017-10-27 16:40] Petermarcu commented on #556
Great. Yeah, it will be compiled against .NET Standard but will run on an implementation of .NET Standard in one of the implementations. Sounds like this one is in .NET Core. I'm going to move this issue to the repo that has the Compression code for .NET Core.

[2017-10-27 16:40] #556 closed

[2017-10-27 16:40] Petermarcu commented on #556
Issue moved to [dotnet/corefx #24920](https://github.com/dotnet/corefx/issues/24920) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-27 16:41] Petermarcu commented on #559
Looks like this is a duplicate of https://github.com/dotnet/standard/issues/558

[2017-10-27 16:41] #559 closed

[2017-10-27 16:41] jgauffin commented on #556
Thank you for your help

[2017-10-27 16:42] Petermarcu commented on #557
@russellhadley can you answer this? @joshfree and @unniravindranathan as well...

[2017-10-27 16:42] Petermarcu commented on #557
@danmosemsft

[2017-10-27 16:43] Petermarcu commented on #555
@terrajobst is this related to the other ClickOnce issues you've been working through?

[2017-10-27 16:43] Petermarcu commented on #555
https://github.com/dotnet/standard/issues/529

[2017-10-27 19:45] rychlym opened #560 "msbuild error - .NET 4.7.1 console app referrencing dotnet standard 2.0 lib"
Hello,
I got in troubles on my dev environments with switching from .NET Framework 4.6.1 to  4.7.1.
Finally I tried to create simple solution with (console app 4.7.1+ lib ,targeting .netstandard2.0), which build  ended up with:
error CS0012: The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, Publi

[2017-10-28 05:49] Tornhoof commented on #560
See https://github.com/dotnet/corefx/issues/24716#issuecomment-339155272

[2017-10-28 06:47] safern commented on #560
Thanks for reporting the issue :)

This is already fixed in: https://github.com/Microsoft/msbuild/pull/2567. However hasn't been shipped yet.

Please see: https://github.com/dotnet/corefx/issues/24716#issuecomment-339155272 for more details.

[2017-10-28 06:47] #560 closed

[2017-10-28 10:12] JPhilC commented on #555
I think they are related but not the same issue. This is something to do with facade assemblies in 4.7.1 apparently.

[2017-10-30 05:11] rychlym commented on #560
@safern Thanks a lot for the answer. So we just need to wait a little...

[2017-10-30 13:16] poimis commented on #514
@terrajobst

How is this supposed to work? I have got VS 15.3.2 and wrote a simple app using net461 and it references a netstadard2.0 library that uses api that is not available in net461. This causes a missingmethodexception at runtime

Here is a repro: https://github.com/poimis/net461_ns20

[2017-10-30 15:40] Poppyto opened #564 "Can't launch UWP XBox One when a lib .net standard 2.0 is added"
Using .net standard 2.0 library on XBOXOne (Fall Creators) app fails anytime at launch :

![image](https://user-images.githubusercontent.com/12406939/32179808-a114039c-bd90-11e7-96ed-26e3ab5e3e42.png)

Step Reproduction :
- Create a new UWP app With Fall Creators support
- Create an empty lib .net standard 2.0
- Add a reference of the lib on the UWP app
- Launch on XBoxOne

If I remove the .net st

[2017-10-30 15:43] Poppyto commented on #557
Creators is 10.0.15254
Fall Creators is 10.0.16299

.net standard 2.0 works only since with Fall Creators

[2017-10-30 18:55] mbp commented on #542
Got the same problem, and the workaround fixes it. But why should this be necessary? Isn't 4.7.1 supposed to implement .NET Standard 2.0?

[2017-10-31 15:01] fahadabdulaziz commented on #542
Just a question, do you have ReSharper installed ?

[2017-10-31 15:03] mbp commented on #542
No

[2017-10-31 17:05] weltkante commented on #489
For reference, I had the same issue, even after updating `Microsoft.NETCore.UniversalWindowsPlatform` to the newest version (which is 6.0.1 at the moment)

Turns out you have to set the UWP project to target the fall creators update. Maybe that saves someone else time when they come across the same problem, because the error message is certainly very misleading.

[2017-10-31 21:36] AlexGhiondea opened #567 ".NET Standard issues on .NET Framework 4.7.1"
## Summary

Applications that target the .NET Framework 4.6.1 and use .NET Standard libraries may experience System.TypeLoadException exceptions when running on the .NET Framework 4.7.1

## Symptoms and root cause

The .NET Framework 4.7.1 adds support for .NET Standard in-box. As part of this change, a few assemblies that used to ship independently from the .NET Framework have now been added to t

[2017-11-01 10:10] drieseng opened #568 "UAP assembly takes precedence over .NET Standard 2.0"
I maintain an OSS project that currently ships a nuget containing (amongst others) an UAP10 and .NET Standard 1.3 assembly.

I'm now looking adding a .NET Standard 2.0 assembly, but while testing I noticed that in a UWP project the UAP10 assembly ends up being used instead of the .NET Standard 2.0 assembly.

Is this the normal behavior? Where can I find a page describing the target framework prece

[2017-11-01 11:39] leastprivilege commented on #567
What does that mean for library authors?

[2017-11-02 01:21] scottsauber commented on #458
Installing the .NET Core Build Tools worked for me as well.

I just burned ~4 hours on this trying to build a 4.6.1 project with a .NET Standard 2 library.  Built fine locally w/ VS 2017 15.4.1 but died on my on-prem TeamCity server.

I had the dotnet SDK installed and the Web Development Build Tools installed, but I did not have the .NET Core build tools installed.  Would've thought the SDK would

[2017-11-02 07:36] leastprivilege commented on #567
OK - since no-one cares to answer - maybe I need to elaborate.

We have reports that applications using our libraries have the problem described here. See links above.

Can we as a library author do anything to prevent these problems - or is that the problem of the application? Shall we e.g. at least for the time being add a net471 target that uses the framework references instead of nugets?

Or w

[2017-11-02 12:07] rebulanyum opened #571 "System.Runtime.Serialization.Json nuget package error"
Hello.

I've started to use .NetCore version=1.0.0-preview2-003121 with Visual Studio 2015. My project.json file is below:

[code]
My code file is below:
[code]
And this is the error I get when I try to build the solution:
[code]

Looks like `DataContractJsonSerializer` class in System.Runtime.Serialization.Json nuget package doesn't inherit `XmlObjectSerializer` class in System.Runtime.Serializat

[2017-11-02 20:00] zhenlan commented on #418
@shmao

[2017-11-03 01:07] dsyme commented on #567
My impression is that you won't hit these problems if you didn't happen to use a binding redirect to the  facades in your 4.6.1 application. (The binding redirect may have got added automatically however). The binding redirect is not needed on 4.6.1 because these dlls are, just full of type forwarders.

[2017-11-03 01:53] sharwell commented on #567
@leastprivilege I expect you will get an answer sooner rather than later. I'm trying to learn more about *exactly* what steps a user takes to enter this scenario, since it seems to affect some users with .NET 4.7.1
 but not others.

[2017-11-03 03:25] AlexGhiondea commented on #567
@leastprivilege, @sharwell I understand your concerns. Here is more information about what is happening.

The scenario that is broken is the following:
An application that targets .NET Framework 4.6.1 and references a .NET Standard 2.0 library.
In addition to that, the application needs to also directly reference System.ValueTuple library (or any of the assemblies that contain the types listed abo

[2017-11-03 08:04] leastprivilege commented on #567
Thanks for the clarification - does this look right to you:

https://www.nuget.org/packages/IdentityModel/2.15.0-preview1

[2017-11-03 08:07] Tornhoof commented on #567
May I suggest a consolidated post on all the issues currently with .NET Standard and the relevant netfx frameworks?
I see that you tag your posts as announcement, but a consolidated view would be nice and put it somewhere visible, e.g. the dotnet blog or even that shiny purple dot.net website.

[2017-11-03 09:25] Kieranties commented on #567
@AlexGhiondea I assume this issue would also be apparent for applications targeting net462 and consuming netstandard2.0 libs in a net471 environment?

[2017-11-03 11:54] sharwell commented on #567
@AlexGhiondea I have an application which, as far as I can tell, falls exactly into the set of impacted applications. For the majority of users, the scenario is not causing problems. However, in a small subset of cases the users are experiencing problems.

The case we are hitting involves `IncrementalHash`:

| System.Security.Cryptography.Algorithms | System.Core | Result |
| --- | --- | --- |
| 4

[2017-11-03 15:43] AdamDotNet commented on #504
@daveh101 - That CSProj property does not fix my project, unfortunately.
1. File new Asp.Net Application (full framework) on .Net 4.7.1. Choose MVC application.
- This is classic csproj, problem observed whether using PackageReference or packages.config.
2. Add new Project -> netstandard2.0 class library
3. Add a static method Foo returns string "Hello World" to Class1 in the netstandard2.0 librar

[2017-11-03 16:24] joperezr commented on #567
@sharwell yes, `System.Security.Cryptography.IncrementalHash` also belongs to the same bucket than `System.ValueTuple` (implementation used to live in a nuget package, but is now inbox on netfx) so most likely you are hitting the same exact issue and will be fixed with the proposed fix by @AlexGhiondea of building the netstandard facade such that it types forwards to contracts first when possible.

[2017-11-03 16:45] sharwell commented on #567
@joperezr The strange thing to me is I'm *not* hitting the described problem. The original description and follow-up describe a scenario in which this problem will occur. However, the description is current incomplete as many users who meet these conditions do not experience the described problem.

[2017-11-03 16:48] AlexGhiondea commented on #567
@sharwell I would like to know more about the environment that is happening in.

Because of the different versions of System.Core you might be in a strage case where the facade (System.Security,Cryptography) has a type-forward to the IncrementalHash type but that type is not in the System.Core.dll you have.

Do you have a repro of this case?

[2017-11-03 16:48] AlexGhiondea commented on #567
@leastprivilege the package you pointed at looks ok to me.

[2017-11-04 22:44] michaelsogos opened #572 "Cannot open class diagram .cd file"
Dear,

In a .net standard library project, on vs2017 15.4, we cannot open a class diagram file.

[2017-11-05 00:23] fuzzybair commented on #462
@Amenti Thanks I have been fighting that for hours.

[2017-11-05 11:20] rdzidziguri commented on #497
Any update on this guys? how soon we are going to see that PR?

[2017-11-05 14:07] alden-menzalgy opened #573 "There's no way to get the managed object size in memory"
Hi,

There is no way to get the actual (or even an approximate) size of the cached object in the memory.

The case is, we have +100 customized cache for different purposes to accelerate our platform, for each cache we have
- Cache MaxSize
- Cache ConsumedSize
- Cache RemainingSize

Whenever we insert some object to be cached, we should detect its size to re-calculate aforementioned cache propertie

[2017-11-05 14:51] #465 closed

[2017-11-05 14:55] jp2masa commented on #572
Related: dotnet/project-system#256 dotnet/project-system#2817

[2017-11-06 14:42] eriawan commented on #497
@rdzidziguri
Please be patient, I'm still testing it.

[2017-11-06 18:27] urashid99 commented on #506
@kiran-bobade, I see similar behavior when referring to a .Net Standard 2.0 project (with the ConfigurationManager package) from a Xamarin project (see below).

`
Could not load file or assembly 'System.Configuration.ConfigurationManager' or one of its dependencies
`

**However,** if I add the ConfigurationManager package in Xamarin project, and move the code into the Xamarin project, it works fin

[2017-11-07 03:25] JasonGLYao opened #574 "Serializing DataTable object to Json with different results between .net framework 4 and .NetCore 2.0"
We will get different result while do serializing works for system.Data.DataTable  objects .

----------dotnet core ------------------
{"DataTable.RemotingVersion":{"Major":2,"Minor":0,"Build":-1,"Revision":-1,"MajorRevision":-1,"MinorRevision":-1},"XmlSchema":"<?xml version=\"1.0\" encoding=\"utf-16\"?>\r\n<xs:schema xmlns=\"\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:msdata=\"urn:sche

[2017-11-07 06:35] #574 closed

[2017-11-07 06:36] JasonGLYao commented on #574
my be my problem,if not ,I will open it later

[2017-11-07 10:28] WalterEbbers opened #575 ".NET Standard 2.0 / .NET Framework 4.6.1 Could not load file or assembly 'System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The system cannot find the file specified."
Hi,
I have a .NET Standard 2.0 library which references a few NET 4.6.1 libraries.
The .NET Standard library will be used in a .NET Core web application.
The .NET 4.6.1 Framework uses library 'System.ServiceModel.dll' for WCF calls.

I try to do the following.
My .NET Core webapp goes to the .NET Standard library which calls something from my .NET Framework 4.6.1 project. But at that moment i get

[2017-11-07 15:15] CZEMacLeod commented on #418
Is this going to be released as a separate NuGet package / build task or is it just going to be part of the SDK? I am hitting problems with the current SGen from a 'legacy' project targeting net461 that imports netstandard2 because of dependencies and now the original SGen task fails.
It would be very nice to be able to just import a package and have sgen turn on without having to set GenerateSeri

[2017-11-07 19:32] JRBonnema commented on #550
I also couldn't find it. I wanted to find out if maybe some issue I had was explicitly addressed in version 2.0.1.

[2017-11-07 19:40] twtdev opened #576 "WPF Design-time exceptions with NET Standard 2.0 class library, citing System.ComponentModel.Annotations, Version=4.2.0.0"
I have posted [this](https://stackoverflow.com/q/46865023/1628429) StackOverflow question, but to no avail.
TL;DR I only experience problems at _design-time_, not run-time. I only started experiencing the problem after upgrading my PCL projects to NET Standard 2.0 and my NuGet format to PackageReference.
As a result, pretty much all of my dialog boxes are crippled at design-time.

Here is a simple

[2017-11-08 09:26] xiedongweo opened #578 "SqlConnection in .net standard 2.0 can't access SQL Server"
I'm using "System.Data.SqlClient" namespace relevant APIs in .net standard 2.0 to access data from my remote sql server. I'm using these APIs in UWP app.

This is my sql connection string:
`String connsql = @"Data Source=10.1xx.xxx.xxx;Initial Catalog=UWPTest;User Id=sa;Password=Password";`

I used this connection string to connect to my sql server, but I got the following exception:

`System.Data

[2017-11-08 09:55] donchak commented on #578
Hi,
UWP applications have restrictions with access to network. Try to add **Internet (Client & Server)**, **Internet (Client)** and **Private Networks (Client & Server)** capabilities in the project settings.

[2017-11-08 11:40] tstojecki commented on #567
@AlexGhiondea can you give us an idea for what else might be missing? I just tried @leastprivilege package (2.15.0) which has been compiled with that extra net461 target and the dependent packages -
 see the screenshot I posted here https://github.com/IdentityModel/IdentityModel2/issues/70

We're still ending up with MissingMethodException System.Tuple when hitting the controllers. It is a aspnet

[2017-11-08 16:33] vbcodec commented on #557
@Poppyto
https://blogs.windows.com/windowsexperience/2017/09/26/announcing-windows-10-insider-preview-build-16299-pc/

for mobile 10.0.15254 is FCU

[2017-11-08 22:23] shmao commented on #418
@CZEMacLeod we just released a nuget package, Microsoft.XmlSerializer.Generator, which is for pre-generating XmlSerializer on .Net Core and .Net Standard. Please see [the announcement](https://github.com/dotnet/announcements/issues/39) for more details.

We are actively looking to improve the tool and your input is a valuable part of the process.

[2017-11-09 01:48] xiedongweo commented on #578
@donchak It worked like a charm. Thank you so much.

[2017-11-09 07:33] adamtuliper commented on #514
@poimis 15.4 Preview 2 worked ok for me using your code. Though it is interesting the DotPeek shows the class lib as being .NET 4.6.2 (unexpected?), even though the References within it is just netstandard 2 (as expected)

[2017-11-09 08:52] poimis commented on #514
I actually tried it using 15.4.1 and it failed, too. Then I installed something, most probably .NET Framework 4.7.1 and it started working.

[2017-11-09 12:10] razvandbirle commented on #476
VS2017 15.4.0 here. not a Core2.0 project & the System.ValueTuple won't update / won't redirect.

[2017-11-09 14:49] jpenniman commented on #342
We're having a similar issue when using a NetStandard2.0 class library in a net461 project, whether its a project reference or a nuget package.

We're building a logging library (NetStandard2.0) for use in both WebApi 5.2 and ASP.net Core 2.  The library uses `Microsoft.Extensions.Logging.Abstractions 2.0`. We also have a library (net461) that references `Microsoft.Extensions.Logging.Abstractions`

[2017-11-09 16:29] cilerler commented on #529
@terrajobst it seems it did not fix the issue

I compared the output between OnceClick and Non-OnceClick and files below are missing on OnceClick one.  And because of that I'm getting the error `Could not load file or assembly 'System.Runtime, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.`

Any workaround for that?  Thanks in advance 🤗

[code]

[2017-11-10 01:47] weshaggard commented on #342
@joperezr would you mind looking into this issue?

[2017-11-10 02:10] #489 closed

[2017-11-10 03:07] weshaggard commented on #550
cc @terrajobst

Sorry we didn't put together any release notes. There are no API changes in the 2.0.1 release it is just packaging and targets file fixes. Here are the few PR's that are of interest:

https://github.com/dotnet/standard/pull/510 - Use a file list rather than globbing NETStandard assemblies
https://github.com/dotnet/standard/pull/491 - Update uap10.1 TFM to uap10.0.15138 and rev up N

[2017-11-10 03:07] #550 closed

[2017-11-10 12:27] CodyLuck opened #579 ".net standard bug VS2017"
I have .net Standard 2.0 DLL, which  I use in .net Framework 4.6.1 and .net Core 2.0 projects. Adding reference to the DLL Visual Studio picks out like error any allusion to my DLL in code, Intellisense doesn`t work too, but projects and all solution build and work well.
![standarddllerror](https://user-images.githubusercontent.com/26362826/32658554-90280d6e-c62b-11e7-9eba-850d09f5626a.png)

I che

[2017-11-10 14:07] stijnherreman commented on #342
@jpenniman I'm seeing the same issue after upgrading from net461 to net471. And I'm only doing the upgrade to fix the issues from #481, so it's annoying to be stuck again.

The strangest thing is that this problem only happens in the unit test project. The main project already included NETStandard.Library and everything worked (apart from the #481 issues), but after upgrading the projects to net47

[2017-11-10 14:47] matiasdieguez commented on #484
Like @MaximTkachenko, the only way I found to solve it in net462 + netstandard2.0 is to add the specific target in the package. It should work simply with netstandard2.0 target ...

![image](https://user-images.githubusercontent.com/7672046/32663112-922387e4-c60b-11e7-84d4-a7cdfd51bdcf.png)

[2017-11-10 14:53] JonesCola commented on #575
I am also having this problem. It seems there is a lack of information on this specific issue. I stopped referencing the .net 4.6.1 version of System.ServiceModel and instead referenced the System.ServiceModel.Primitives, System.ServiceModel.Http, System.ServiceModel.Web and System.ServiceModel.Security nuget packages that are supposed to be compatible. This did not work for me as the WsHttpBindin

[2017-11-10 15:59] LeonardoSobrado commented on #514
Maybe I should have logged my issue as a netstandard problem (I think it is a problem with netfx however)

basically: if you reference a standard 2 library and that library has an enum, you will get an error when targeting 4.7.1, but not 4.6.1. VS keeps asking for a reference to netstandard 2.

2>Program.cs(10,13,10,21): error CS0012: The type 'Enum' is defined in an assembly that is not reference

[2017-11-10 18:08] joperezr commented on #342
sure I'll take a look to the issue.

@stijnherreman I understand your frustration and I apologize for the issues you are hitting. do keep in mind that full support of netstandard when targeting 471 will come in the next update: 15.5, but I'll take a look since there might be some tweeks you can set in your project file that will make all of this work. For instance, one workaround that jumps to min

[2017-11-10 18:20] joperezr commented on #342
@jpenniman I would advise to not target 471 until 15.5 is released since as I said on my previous comment, that is really when we will support using netstandard assets on 471. Now as for your 461 problem, I believe your issue is different and have nothing to do with NETStandard.Library or NETStandard.Library.NETFramework packages. The reason is that those two will only pull the required shims so t

[2017-11-10 18:53] stijnherreman commented on #342
@joperezr thanks, I'll take a look at that on Monday. Meanwhile I had already managed to get it working with `<_HasReferenceToSystemRuntime>true</_HasReferenceToSystemRuntime>` (found that in another similar issue), is one of the methods preferred or do they both have the same effect?

[2017-11-10 19:03] joperezr commented on #342
They should have the same effect which is basically force the compatibility shims to be deployed with your app, so if that works for you then that is fine. We will continue making improvements on 15.5 so that manual work and workarounds won't be required anymore.

[2017-11-10 20:26] joperezr commented on #578
Closing since this looks to be resolved now. Thanks @donchak !

[2017-11-10 20:26] #578 closed

[2017-11-10 20:32] joperezr commented on #575
Did you add a reference to the Service Model packages in your .NET Core project? I'm not sure exactly which ServiceModel Api you rely on, but the available packages are:
[code]
They will contain the .NETCore implementation of the API plus also the shim of System.ServiceModel.dll that you will need in order to be able to correctly type forward the type.

[2017-11-10 20:37] joperezr commented on #558
mm I'm not sure why do you think this is a problem related to System.Net.Http. I believe that the problem has more to do with the fact that you are trying to use reflection to load a library that was compiled against .net standard 1.6. @weshaggard can probably provide more info here, but I believe that everytime that you try to use reflection to load an assembly, you should do it using the runtime

[2017-11-10 20:39] joperezr commented on #552
Thanks for pointing out the workaround @Tornhoof ! @malylemire1 we are working ona  fix for 15.5 VS so that hopefully you don't need manual workarounds any longer.

[2017-11-10 20:39] #552 closed

[2017-11-10 20:42] joperezr commented on #555
The issue here is that System.Net.Http and System.IO.Compression don't have the right versions on the unification table on 4.7.1. This issue is being fixed for 4.7.2, but one fix you can try is adding to your 4.7.1 project the following:
[code]
Please let us know if that fixes your issue.

[2017-11-10 20:44] joperezr commented on #547
Thanks for the help @rlordcardano ! Closing as this seems to be resolved.

[2017-11-10 20:44] #547 closed

[2017-11-10 20:48] joperezr commented on #545
Actually 4.7.1 will also need a few shims in order to be able to load .netstandard2.0 assemblies, but there are only 12 needed and with the tooling that we are about to release these are the only ones that will be copied to the bin folder. On 4.7.2, compatibility with netstandard will be inbox which means that if you retarget your app for 4.7.2 (once that is avaliable) the bin folder will only con

[2017-11-10 20:52] joperezr commented on #540
Hello @jogibear9988 sorry to hear that you are getting this issues and know that we are working to fix all of these compat problems between desktop and netstandard. Can you try the following workaround to see if it fixes your issue:

Add to your WPF app csproj the following
[code]

[2017-11-10 20:53] joperezr commented on #540
Also, which version of VS are you using? That workaround will only work if you are using a fairly new version of VS.

[2017-11-10 20:56] WalterEbbers commented on #575
I'll will check back on monday, but from what i remember, i linked the libraries to my .NET Core and .NET Standard project.

[2017-11-10 20:59] joperezr commented on #575
I know that the System.ServiceModel.dll shim was added recently, so it's possible that the version of the packages that you are referencing don't have it. Can you check if you are referencing the latest released packages for ServiceModel? cc: @shmao

[2017-11-10 21:04] JonesCola commented on #575
I am not using net.tcp or duplex so I did not add those. I am using the most recent nuget packages that are available but I could look into whether or not the include pre-release flag was checked

[2017-11-10 21:44] shmao commented on #575
@joperezr The System.ServiceModel.dll shim was added in System.ServiceModel.Primitives and shipped with UWP6.0. For .Net Standard, however, we haven't shipped any packages including the shim yet. I expect the shim to be shipped in the next .Net Standard release.

/cc: @zhenlan

[2017-11-10 21:55] joperezr commented on #575
can you confirm which version of the Primitves package contain the shim? Even if they are prerelease it's fine.

[2017-11-10 22:04] shmao commented on #575
The latest build from MyGet contains the shim. For example, https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ServiceModel.Primitives/4.5.0-preview2-25910-01

[2017-11-10 22:20] joperezr commented on #575
yeah but what about nuget.org? since this is for a customer it's better to point them to shipped packages and not daily builds.

[2017-11-10 22:25] shmao commented on #575
We haven't shipped any packages containing that shim on nuget yet. It was only shipped as part of the meta-package for UWP6.0.

[2017-11-10 22:48] zhenlan commented on #575
The System.ServiceModel.dll shim has been ported to 2.0 and will be released to nuget.org sometime soon (weeks) (dotnet/wcf#2375).

[2017-11-11 01:36] techaimail commented on #391
Adding this reference works for me direct inside csproj file with .NET 4.7.1.
`<Reference Include="netstandard" />`

And for MVC5 projects with .NET 4.7.1 the build process dont copy this file to the output I have to copy manually and that fix the problem.
Microsoft please stop your continuous deliver if that is a fuc..k problem deliver, thanks for your advance but not thanks for this fails.

[2017-11-11 02:34] David-Noble-at-work commented on #387
brianrob, you mean you don't understand the use cases for a technology that people have been using since--I believe--.net 1.0 days? WTF?

[2017-11-11 11:52] WalterEbbers commented on #575
Thank you all!
I will keep an eye out for the release with the System.ServiceModel support!

Thnx again all :)

[2017-11-11 14:28] JanEggers opened #580 "Visual Studio uses netstandard1.3 instead of net452 when consumed by a net461 project"
i am contributing to a library https://github.com/chkr1011/MQTTnet this library targets netstandard1.3 and net452.

recently we get complaints by consumers of the library that we have added so many dependencies.

if a project targeting net461 all dependencies that are required for netstandard 1.3 are forced on that project.

why is that the case?

My understanding is that visual studio should use

[2017-11-11 14:38] JanEggers commented on #573
you can use structs for your cache items and Marshal.Sizeof

[2017-11-11 17:25] Petermarcu commented on #580
@weshaggard @joperezr @AlexGhiondea

[2017-11-11 20:56] jpenniman commented on #342
@joperezr, thanks.  `System.Web.Http` was deployed to the bin folder, oddly, it ended up being an issue with `System.Net.Http`.  I explicitly added the latest nuget package to the web api project and manually add the binding redirect to the version in the nuget package.  After I did that, it worked.  My sense is it was pulling from the gac, which is a newer version (because 4.7.1 is installed) tha

[2017-11-11 21:11] joperezr commented on #580
I just tried this locally with a package that has two dlls, one in `lib/netstandard1.3/myLib.dll` and one  at `lib/net452/myLib.dll`. Then I created a Console app that targets .NET Framework 461 and I correctly got the asset from `lib/net452/` as expected. I am using the latest released VS, 15.4. Can you share the name of the package so that I can take a peek at that case in particular and see wha

[2017-11-11 21:34] joperezr commented on #342
`System.Net.Http` is a very special case that has a bug in 4.7.1. Basically it's version is incorrect inbox, version is v4.0.0.0.0 so if you have any assembly that compiled against packages (like a netstandard1.6 assembly for example) then it would be referencing a higher version of the library (either 4.1.1.2 or 4.2.0.0). So when you try to run this on 4.7.1 it will fail since it won't be able to

[2017-11-12 04:49] WilliamABradley opened #581 "Using System.IO.FileSystem.AccessControl on Android causes Missing Assembly Error"
Is System.IO.FileSystem.AccessControl Windows Only?
The list of supported platforms seems to include other Xamarin platforms, however, when trying to install the package on an Xamarin Android App, compilation is fine, but a Runtime Exception occurs.

Message:
[code]

I am trying to use this Package so I can check if a file can be Deleted, using GetAccessControl() on a FileInfo or DirectoryInfo obj

[2017-11-12 07:54] JanEggers commented on #580
the package is https://www.nuget.org/packages/MQTTnet/2.5.1

the repository with the source is already mentioned above.

if i add net461 targetframework to

MQTTnet/Tests/MQTTnet.TestApp.NetCore/MQTTnet.TestApp.NetCore.csproj

my output is the following:

net452 is ok:

![image](https://user-images.githubusercontent.com/6747376/32696993-1d6af906-c786-11e7-843e-e10403290631.png)

net461 contains sy

[2017-11-12 08:06] JanEggers commented on #580
i just verified it, the dll itself is chosen correctly

i added the following code to the package:

[code]

that prints 452 when included from 461 but the system security dlls are still copied to the ouput folder although they should not be included.

[2017-11-12 08:34] JanEggers commented on #580
also if i add net461 to that project (so there is an exact match later on) its bin folder already contains the dlls that are not present in net452 bin folder

[2017-11-12 09:44] dasMulli commented on #580
Those are likely the netstandard 2.0 shims for net461+ that are copied from `C:\Program Files\dotnet\sdk\2.0.2\Microsoft\Microsoft.NET.Build.Extensions\net461\lib` during the build that allow .net standard 1.5+ dlls to run on net461 since your dependency closure includes dlls built for .net standard (the `Microsoft.Extensions…` packages you reference)

[2017-11-12 11:05] JanEggers commented on #580
but why are these shims not required for net452?

also when i downgrade the extension packages to 1.0.2 which depends on netstandard 1.1 i still see the same behavior for net461.

[2017-11-12 11:36] dasMulli commented on #580
because the logic only kicks in for net461+ https://github.com/dotnet/sdk/blob/aeb50655bbf9ee652c21b1f1375c6107fe1f0790/src/Tasks/Microsoft.NET.Build.Extensions.Tasks/msbuildExtensions/Microsoft/Microsoft.NET.Build.Extensions/Microsoft.NET.Build.Extensions.NETFramework.targets#L17-L18

If you retarget to 4.7.1, you shouldn't get additional assemblies  - using 2.0.2 / VS 15.4.* (15.5 should add bac

[2017-11-12 11:39] dasMulli commented on #580
okay that wasn't a good explanation 😅 @joperezr can probably give a good.
From my understanding, the logic in NETStandard.Library is sufficient for older netstandard and .net framework versions but in order to get 1.5+ working on net461+ the extension logic needs to add additional assemblies and trim out conflicting assemblies coming from NuGet packages.

[2017-11-12 11:52] leastprivilege commented on #567
@AlexGhiondea could you please work with @tstojecki and us to resolve that issue. We are relying on your technology - and I'd love to see a bit more passion on your side fixing problems like this.

[2017-11-12 11:53] JanEggers commented on #580
hmm sry I just dont understands why that is brought in with a targets file. For me this is some kind of black magic. Why doesnt the nuget i reference include everything it needs for the target platform i specify. so i can clearly see what i depend on?

i created a nuget with the downgraded packages. and if i now use that nuget none of that additional dlls are copied to the consuming package, when

[2017-11-12 13:58] HenrikTP opened #582 "Generic Enum.Parse in netstandard 2.0"
Yesterday I moved some code written under NetCoreApp2.0 into a NetStandard2.0 classlib and experienced that my calls to `Enum.Parse<MyType>(myValue)` failed to build.

Is there a specific reason for the generic version of Enum.Parse not being present in netstd?

[2017-11-12 16:15] stephentoub commented on #582
The generic Enum.Parse method was added to .NET Core, which is why you could use it when targeting netcoreapp specifically.  The method is not yet available in other runtimes, like .NET Framework, and thus isn't available in .NET Standard.

[2017-11-12 16:15] #582 closed

[2017-11-13 14:12] alden-menzalgy commented on #573
It requires changing the structure that we've built the application with.
It may consider a workaround but not permanent solution

[2017-11-13 15:03] stil commented on #391
@techaimail This method worked for me!

[2017-11-13 15:40] Blackbaud-JonathanBell commented on #481
There seems to be a problem with using **Fakes** in this new world.  If you try to build Fakes for something exposing `System.Net.Http.HttpClient`, then it fails to generate.   Has anyone found a solution for this?

[code]

[2017-11-13 18:44] AlexGhiondea commented on #567
@leastprivilege sorry for the delay in replying. @terrajobst - any ideas?

@tstojecki @leastprivilege can you please share a repro so that we can investigate?

[2017-11-13 19:10] joperezr commented on #567
I'm inspecting the net461 binary from your package @leastprivilege and something did catch my eye. I saw that you have a reference to System.Net.Http with a higher version that the one for the .NET 4.6.1 Targeting pack (You are referencing version 4.1.1.2 when the one on the targeting pack is 4.0.0.0) This leads me to believe that when you are building this IdentityModel.dll you have other .NET Co

[2017-11-13 19:28] joperezr commented on #580
@dasMulli is right, those libraries you are seeing are just the shims that will enable running netstandard based dlls on desktop. I agree that is not great that all of these files are being brought in by a targets file, but here is the reasoning behind it. We started having a lot of users that wanted to consume .NET Standard components on desktop, and they were all failing when trying to run becau

[2017-11-13 19:36] JanEggers commented on #580
thx for clarifying.

[2017-11-13 19:36] #580 closed

[2017-11-13 19:59] dasMulli commented on #580
From my opinionated end-user perspective I actually prefer this to be done by the tooling. It would be hard to track which projects would need updates to a `NETStandard.Library.NETFramework` package for particular .net framework versions and if bugs are discovered (as with net471 recently), I can simply update the tooling and not go through some form of migration for every project (even if it is j

[2017-11-14 06:48] joakimskoog commented on #458
We're having trouble with this on a Teamcity server without a VS installation. We've got the .NET Core 2 SDK installed but it seems that something is missing. Could anyone point me in the right direction? :)

[2017-11-14 07:41] leastprivilege commented on #567
Sorry I don't understand what that means.

Here's the repo

https://github.com/IdentityModel/IdentityModel2

Please have a look and tell me what is wrong.

Are there any docs I am missing that could help people build libraries that actually work?

[2017-11-14 10:51] dmenoud opened #583 "Possible System.Net.Http version conflict"
In one of our MVC 5 project with Web API 2, we have to use .net standard 2.x library.

When we add a package requiring .net standard 2.0, we have an issue with

`system.web.http.controllers.httpactioncontext.get_request() method not found`

This happens when we are doing an API call.

It seems the System.Net.Http from .net standard 2.0 is conflicting with the one from framwork 4.6.1.

From the ori

[2017-11-14 18:38] joperezr commented on #567
Nothing is wrong with your library, the problem here is the tooling. Sorry for not making that clear 😄.

What I meant by that is that one of your dependencies (when building your library for 461) is either netstandard, or System.Runtime based. This causes our logic to include what we call the support package as references when building your library for 461. This support package, contains shims tha

[2017-11-14 19:05] leastprivilege commented on #567
ok thanks for the clarification.

[2017-11-14 19:41] joperezr commented on #583
HttpActionContext is not defined on System.Net.Http, but instead lives in System.Web.Http.dll. Can you check if you are referencing that one?

[2017-11-14 21:17] erikbra commented on #567
State of .NET Tooling for the time being... not excellent. At all.

[2017-11-14 22:43] Sesi0 commented on #391
@techaimail it worked for me too, thanks.

[2017-11-15 05:27] mattglet commented on #391
Does this solution work for Azure too? When trying to deploy a 4.7 app that references a ns20 package, I get the following output:

[code]

[2017-11-15 06:20] rebulanyum commented on #571
https://stackoverflow.com/a/47292566/1266820

Maybe there is a bug with VS2015 tooling; but .NetStandard2.0 with VS2017 solves the issue. When I use VS2015 it fails again.

[2017-11-15 06:20] #571 closed

[2017-11-15 09:00] valeriob opened #584 "Guide on how to build a netstandard library with native dependencies"
Hi,
is there some documentation already about it ? I looked for it without luck.
Maybe where i can understand also the packaging story and the resolution, publishing etc. to diagnose problems.

Thanks

[2017-11-15 12:51] tstojecki commented on #567
Thanks for your input @joperezr and @leastprivilege
As that was a blocking issue for us we ended up upgrading and targeting 4.7 in our projects, which resolved it. I have just tried switching the projects back to 4.6.1 but I no longer get that error. Not sure, could be that I would have to uninstall .net framework 4.7 and I am not in a great place to do that.
If I get back to where this issue occu

[2017-11-15 13:24] nandithakw commented on #542
I had the same issue with  Visual Studio 15.4.4 with net471. Project didn't give errors with net47.
Adding
` <ItemGroup>
    <Reference Include="netstandard" />
  </ItemGroup>`
as fahadabdulaziz suggested resolves the issue.

[2017-11-15 16:35] seamus-hoban commented on #391
Hi,

I've got this same/similar problem.
I'm running Studio 2017 (15.4.4 ). I created a .NET Core 2.0 command line project, adding Microsoft.AspNetCore and Microsoft.AspNetCore.Mvc, both version 2.0.1 to play around with using the Razor view engine to generate HTML strings rather than views.

It compiles just fine, but when I call IRazorViewEngine.GetView, passing it the name of a cshtml file, I g

[2017-11-15 17:11] joperezr commented on #391
@seamus-hoban Can you try creating a aspnet core app instead? The sdk project type will be different if you create a Command line project than if you create an aspnet core project.

@mattglet Which version of VS are you using? I ask because if you are running on anything higher than VS15.3 then I would expect your scenario to just work automatically, since in 15.3 we added to the toolset built in

[2017-11-15 17:44] mattglet commented on #391
@joperezr I'm using VS Community 2017 15.4.2

It seems like the error is on the Azure side of things? The output I pasted is from the my Azure Web App's Deployment Details Activity Log.

[2017-11-15 17:53] joperezr commented on #391
I see, that is interesting... so you are saying that if you just F5 in your local machine the Web App runs fine?

[2017-11-15 17:58] mattglet commented on #391
Correct, but I thought Azure supported ns20?

[2017-11-15 18:34] joperezr commented on #391
Yes it should, this might be a different problem. I suspect that perhaps we are not deploying all of the required binaries to Azure, as opposed to the local bin folder where we do deploy the shims. That would explain why running in your local computer works, but running on Azure doesn't.

[2017-11-15 18:35] mattglet commented on #391
That definitely sounds plausible. Which binaries should I look for to confirm if that's the case?

[2017-11-15 18:39] joperezr commented on #391
locally in the bin folder, you should see a netstandard.dll which is just a facade to desktop. If my theory is correct, then you won't have this binary when you are publishing to Azure.

I'm trying to locally put up a repro for this, do you mind giving more details on how are you publishing your app to Azure and also what type of web app it is?

[2017-11-15 19:03] mattglet commented on #391
Yes, I see netstandard.dll in my local bin.

I'm using Azure's built-in deployment features; I've connected the Web App to GitHub and it auto-deploys when it detects any commits to master.

It's a basic MVC ASP.NET Web Application, if that's what you mean by "type" of app.

[2017-11-15 19:10] seamus-hoban commented on #391
@joperezr Thanks for the reply. An aspnet core app works just fine.
However, my requirement is to run as a service and generate emails according to the results of polling a database. There is no requirement for pages to be served to users which is why I was hoping to get away with a simple command line program that I could configure to run as required, or a windows service targeting 4.6.2 or above

[2017-11-15 19:29] joperezr commented on #391
@seamus-hoban I created issue https://github.com/aspnet/Home/issues/2278 on the aspnet repo so that we can fork the discussion of this issue there. It is possible that what you want to do can be accomplished with a console app, so I'll ask you to please go to that issue and add more info to help the aspnet core guys determine whether your scenario should work with a console app or not.

[2017-11-15 22:03] joperezr commented on #584
Hello, there is no .NETCore or .NET Standard specific documentation about it because there is nothing special compared to Desktop. If you have a managed .NETStandard library, you should be able to just add `DllImports` and PInvoke into them as you would in traditional .NET Framework. That said, you should take into consideration that if you want your .NETStandard library to run everywhere then thi

[2017-11-16 10:57] valeriob commented on #584
Thanks @joperezr
i'll check into nuget, i'm trying to discover how native dlls get copied to output folder in the new project system. Up to now as i understand there is a convention that if in a nuget package you have a runtimes folder like runtimes\linux-arm\native\ what's inside is copied to output folder during publish. I do not know how it works running in debug.

[2017-11-16 10:57] #584 closed

[2017-11-16 16:03] edumartins7 commented on #506
Same here. In my case, I created an ASP.NET Core 2 (.NET Core2) app and added an reference to an .netstandard2.0.2 class library, which then references EF6 through nuget. Then in startup.cs I tried to instantiate an DbContext by passing an IConfiguration as argument to its constructor. When the runtime calls` base(config.GetConnectionString("connsString"))` this exception is throw.

[2017-11-16 18:07] joperezr commented on #584
Correct, if you are writing both the netstandard library, and the native code, then you would want your package to look something like:
[code]
For more info, you can check https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package

[2017-11-16 18:21] valeriob commented on #584
Awesome thanks !
I was able to make it work via nuget and the new project system, but not linking the project directly.

[2017-11-16 18:36] joperezr commented on #506
mm that is weird, ConfigurationManager in inbox on pretty much all platforms, so this doesn't make that much sense. What version of VS are you using to build? I ask because if you don't have VS15.3 or above then errors like this are expected since netstandard on netfx support was added then. If you do have a newer version of VS, can you try setting this property on your netfx .csproj:
[code]

[2017-11-16 21:21] Shashanka77 commented on #567
@joperezr and @AlexGhiondea  I have two issues I would like to discuss.
1. "What I meant by that is that one of your dependencies (when building your library for 461) is either netstandard, or System.Runtime based" -
In the above sentence, I did not understand the phrase "either  netstandard or System.Runtime based" what does this exactly mean?

2. We have a WPF application targetting .NET Framwor

[2017-11-16 22:06] joperezr commented on #567
When we say that an assembly is netstandard based is one where the System.Object type it was built against was in netstandard.dll. A System.Runtime based, it's the same but when System.Object lives in System.Runtime.dll. Usually, if your assembly targets netstandard1.* then you are probably System.Runtime based, and if you target netstandard2.0 then you are netstandard based.

For the second issue

[2017-11-16 23:03] pranavkm commented on #567
@joperezr is there a build of the 2.2. preview SDK that addresses this?

[2017-11-16 23:14] joperezr commented on #567
this specific issue is fixed on some targets files that are not really part of the sdk itself, but in a msbuild extension instead. 15.5 will contain these fixes.

[2017-11-16 23:36] Shashanka77 commented on #567
@joperezr so my understanding that .net 4.7.1 msbuild version not able to publish wpf app correctly is right?

[2017-11-17 01:18] mattglet commented on #391
@joperezr were you able to reproduce?

[2017-11-17 04:57] AlexGhiondea commented on #567
@Shashanka77 i am not sure what you are asking. What version of VS are you using?

[2017-11-17 05:53] joperezr commented on #567
He is talking about the publish to Azure issue that I talked to you about. @Shashanka77 I was able to repro and we are currently investigating more deeply what is the issue. I’ll update the thread when I know more info.

[2017-11-17 08:42] ghd258 opened #587 "System.Net.Http.dll 4.6.25514.4 在nuget没有这个版本，与项目中的4.6.25220.1不兼容"
与System.Net.Http.dll 这个版本4.6.25220.1及 以上版本不兼容，如果不引用会自动增加 System.Net.Http.dll 4.6.25514.4这个版本，但是在NuGet就没有4.6.25514.4这个版本号

[2017-11-17 13:21] afrischk commented on #481
@Blackbaud-JonathanBell Exactly the same issue for me for the `System.Net.Http.HttpClient`. But also it seems to be that `System.Composition.CompositionContext` is affected. Any thoughts on this?

[2017-11-17 13:38] Blackbaud-JonathanBell commented on #481
The issue appears to be because the generated fakes project produces code that references these assemblies w/ an extern alias --- `extern alias snh;`.   The generated project references these assemblies like System.Net.Http which are in this weird transition state and defines the alias for it, but since those assembly references actually get ignored due to this transition magic, then the alias isn

[2017-11-17 16:15] Shashanka77 commented on #567
@joperezr Let me be more clear, detailed and specific. Actually after your suggestion, I have changed target framework of my WPF app to 4.7. Note that this app is still consuming  several .netStandard 2.0 nuget packages. The application just runs fine locally (running exe from bin/debug). After I publishing the app locally, when I run the setup.exe from published location the installation fails wi

[2017-11-17 17:46] joperezr commented on #391
@mattglet not yet but we have received several similar reports, so we are looking into it now.

[2017-11-17 20:04] joperezr commented on #567
@Shashanka77 Ok I think I finally understand what is going on in your case. I believe the issue you are hitting is #529, which is a bug where ClickOnce doesn't include the right files when installing your app. Specifically, it fails to understand that some assembly versions that you reference are higher than the ones that are inbox. This is causing you to fail to publish. We have contacted the Cli

[2017-11-18 04:11] SajiAzureDeveloper commented on #514
I migrated my application to asp.net core 2.0 target framework net471. I'm able to run locally, but deployed web app in azure fails to start.
Logs show the error Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specified a

[2017-11-18 11:18] afrischk commented on #481
Maybe I am wrong, but it seems to be an compiler issue, isn't it?

From what I read you can pass a flag to the compiler telling it the alias/reference like `/reference:snh=System.Net.Http.dll`. This seems not to be the case. Is there an option to pass this flag to the compiler during Fakes generation?

Could it also be that the compiler does not know which `System.Net.Http` version to take, when i

[2017-11-19 08:29] fleed opened #588 "Issue restoring referenced packages"
I'm porting some old **.NET 2.0** projects to the new `.csproj` format and replacing project references with packages.
I have the following projects:
- Project A (ProjectA.dll): **.NET 2.0** -> **netstandard2.0** - packed in `PackageA`
- Project B (ProjectB.dll): **.NET 2.0** -> **net461** (references `System.Windows.Forms`) - packed in `PackageB`
- Project C (ProjectC.dll): **.NET 2.0** -> **net4

[2017-11-19 19:43] mattglet commented on #391
I added a manual reference to netstandard.dll and added it to the solution - it's a successful temporary workaround until the (what I presume to be an) Azure bug is fixed.

[2017-11-20 15:52] Shashanka77 commented on #529
Actually we are still running into the issue with this ClickOnce deployment even after upgrading to 4.7.1.

[2017-11-20 17:15] joperezr commented on #588
Why did you make your ConsoleApp be netcoreapp2.0? .NETStandard 2.0 supports both netcoreapp2.0 and net461, but netcoreapp2.0 is not fully compatible with net461. In fact, I expect you should be getting a wanring when building saying that you are getting net461 assets from packageC so that some things might not work as expected. We added this functionality just to try to let people consume net461

[2017-11-20 17:19] eric-swann-q2 commented on #506
I'm experiencing this exact issue with System.Configuration.  Any news for participants on how this was resolved?

[2017-11-20 17:46] joperezr commented on #529
Yes, this workaround won't work when targeting 4.7.1. We are in contact with the ClickOnce team in order to get a fix for this issue.

[2017-11-20 17:49] joperezr commented on #506
Which version of VS are you using? I would expect that if you are using a recent one (VS 15.3 or higher) this scenario should just work.

[2017-11-20 18:16] eric-swann-q2 commented on #506
@joperezr : VS 2017 (15.4.4).  It was the build coming off of our build server that was problematic, which doesn't use VS but has the latest SDK (2.0.3).  It appeared to resolve when I explicitly added a reference to the System.Configuration.ConfigurationManager package to the top level (Net462) project.  When it was indirectly referenced from the dependent NetStandard2.0 package, it was not resol

[2017-11-20 18:21] joperezr commented on #506
I see, I would have expected that you wouldn't need to add a reference to that package directly from your net462 project but I'm glad things worked out. Just as FYI, we are currently working on building a metapackage that will add a lot of compatibility between .NETStandard and .NET Framework, and this one includes assemblies like System.Configuration.ConfigurationManager.

[2017-11-20 18:24] eric-swann-q2 commented on #506
@joperezr Agreed, not sure why that's the behavior I'm observing, but I can live with the extra package reference. Thanks for the additional info.

[2017-11-20 18:52] fleed commented on #588
I wanted to use the `Microsoft.AspNetCore.All` which apparently only supports `.NETCoreApp 2.0`... I'll try to target `net461`

[2017-11-20 18:58] joperezr commented on #588
I see, if you REALLY want to target netcoreapp, I would probably just add the references manually to package B and A as well. The reason is that the package graph is built by nuget, who doesn't know that we will try to use net461 assets in case we don't find any netcoreapp2.0 compatible dlls, so that means that nuget will not bring the platform specific dependencies from PackageC since it will try

[2017-11-20 19:29] fleed commented on #588
Thank you @joperezr.
Both solutions (targeting `net461` or manually referencing **PackageA** and **PackageB**) work as expected.

[2017-11-20 19:29] #588 closed

[2017-11-20 23:25] danmosemsft commented on #581
It's not part of .NET Standard 2.0. Mono should maybe have a facade for it though. @marek-safar

[2017-11-20 23:26] #572 closed

[2017-11-20 23:26] danmosemsft commented on #572
Issue moved to [dotnet/project-system #2976](https://github.com/dotnet/project-system/issues/2976) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-20 23:28] danmosemsft commented on #557
@Poppyto is correct.

[2017-11-20 23:28] #557 closed

[2017-11-20 23:28] danmosemsft commented on #564
@weshaggard should this go to project-system repo?

[2017-11-20 23:29] danmosemsft commented on #573
Issue moved to [dotnet/corefx #25396](https://github.com/dotnet/corefx/issues/25396) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-20 23:29] #573 closed

[2017-11-20 23:44] marek-safar commented on #581
The package has netstandard2.0 lib+ref and they are correctly picked up during the build so it looks more like something down the path removes the files. Could you please fill a bug report with repro at http://bugzilla.xamarin.com ?

[2017-11-20 23:47] nikitozz commented on #391
@ManfredLange,
Just wondering, were you able to find a solution? I'm experiencing the same issue: my build works from VS but not from MSBuild.

Thank you.

[2017-11-21 01:30] zhenlan commented on #575
@WalterEbbers we just released to nuget.org an update of `System.ServiceModel.Primitives` package, which contains the `System.ServiceModel.dll` shim you would need. Can you please update your project to reference this package and see if it solves your problem?

https://www.nuget.org/packages/System.ServiceModel.Primitives/4.4.1-servicing-25917-01

[2017-11-21 08:49] WalterEbbers commented on #575
Thank you for the update!
Unfortunately, in my downsized test project, i'm now getting the following errormessage:

System.TypeLoadException: 'Could not load type 'System.ServiceModel.Channels.RemoteEndpointMessageProperty' from assembly 'System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.'

I made a small test solution, with a .net core console app, .net stand

[2017-11-21 15:02] stephanmoeller commented on #462
Thanks, OMG this was a ")#=!)/#=!)"#/ thing to waste my time with.

[2017-11-21 17:35] shmao commented on #575
@WalterEbbers thanks for trying the package. Unfortunately, type `System.ServiceModel.Channels.RemoteEndpointMessageProperty` is not available on .Net Core, see https://apisof.net/catalog/System.ServiceModel.Channels.RemoteEndpointMessageProperty. Therefore, the shim included in the new package cannot help in this case.

[2017-11-21 17:38] joperezr commented on #391
Do you have more than one msbuild installed? it might be that you are using the old one when invoking from command prompt. If so, I would try manually adding a reference to netstandard to your project so that it works with older VS and msbuild.

[2017-11-21 17:46] WalterEbbers commented on #575
Thnx for the reply.
Is there a chance it will be supported in the future?

[2017-11-22 18:51] mb236 opened #591 ".NET Standard 2 Library missing assembly error"
I'm currently working on migrating a PCL to a .NET Standard 2.0 Library. After I have readded all NuGet dependencies I get the following error:
`The type 'IReflectableType' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Reflection, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'`

The strange part about it is that i get this error

[2017-11-22 19:45] joperezr commented on #591
I believe you are not using a newer version of the SDK or VS. IReflectableType is part of netstandard2.0 so I wouldn't expect that you would need any additional package references in order for this to work. What version of VS are you using? Does your library have any dependencies? If so, Is any of those dependencies targeting .NET Framework?

[2017-11-22 20:08] mb236 commented on #591
I am using Visual Studio 2017 15.4.4. The project has the following dependencies:
`Package"Acr.UserDialogs" Version="6.5.1"
Package"Refractored.MvvmHelpers" Version="1.3.0"
Package"Splat" Version="2.0.0"
Package"System.Reflection" Version="4.3.0"
Package"Xam.Plugin.Geolocator" Version="4.1.3"
Package"Xamarin.FFImageLoading" Version="2.2.25"
Package"Xamarin.FFImageLoading.Forms" Version="2.2.25"
Pa

[2017-11-22 20:26] ManfredLange commented on #391
@nikitozz What we are doing at the moment is this: We parse solution and project file for dependencies, then create our own sequence of building each project. We use batches where multiple things can be build in parallel. We no longer rely on msbuild or dotnet to figure it out for our solution (50+ projects, mix of old/new csproj format, netstandard2.0, netcoreapp2.0, net461).

Then we build all e

[2017-11-22 22:10] joperezr commented on #591
I see, I'm not sure which one but one of your packages must be building for desktop. Can you try adding a reference to the package System.Reflection v 4.3.0? That should take care of the problem.

[2017-11-22 22:12] mb236 commented on #591
As you can see I already did add that reference (the 4th dependency in the list). Unfortunately this doesn't fix the problem

[2017-11-22 22:13] joperezr commented on #591
sorry I missed that, let me try building the branch you provided.

[2017-11-22 22:38] joperezr commented on #591
I believe there are a few issues with the project. First error I get is that you are missing the file Constants.cs, perhaps it's not checked in?
[code]

In any case, I see that you do have a project-to-project reference from HiPMobileUI to HiPMobile (which seems that it is not targeting netstandard2.0, so that is possibly what is causing the issue. Targeting netstandard2.0 is intended for library

[2017-11-22 23:25] mb236 commented on #591
First of all, are you sure that you are in the correct branch (the branch is called iss-hipm-821)? Because in this branch both HipMobile and HipMobileUI both target .NET Standard 2.0.

The thing with the Constants.cs file i forgot to mention. You also need to create a file Constants.cs in the Hip-Mobile-Internal folder (which is at the root level) with the following content:

[code]
This class con

[2017-11-23 00:21] shmao commented on #575
We currently do not have plan to add this API in any of the future release. But we would definitely consider to add the API if we see more user usage.

[2017-11-23 01:26] cartermp commented on #462
FYI - the UWP workload has been fixed to pull in the required components for .NET Standard tooling such that you won't need to install the .NET Core workload anymore.

[2017-11-23 07:25] WalterEbbers commented on #575
I see, understandable :)
The issue can be closed then :)

Thnx all for the help!

[2017-11-23 07:25] #575 closed

[2017-11-23 14:53] shaulbehr commented on #391
I was also getting this error, so I made a reference to NetStandard.Library 2.0.1 using NuGet. Deployed, and still got the same error. Then I saw that netstandard.dll isn't being deployed to the bin folder. And, in fact, NetStandard.dll doesn't show up in the project references in the Solution Explorer.
Is that a bug in the NuGet package? Is there some trick I'm missing that is meant to add the DL

[2017-11-24 18:51] talhajunaidd commented on #458
I was facing `error CS0012: The type 'ValueType' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'` and was solved by installing .Net core build tools

[2017-11-24 21:00] davidjward30 commented on #481
We have recently migrated a solution from .NET 4.5 to .NET 4.6.1. Many of the nuget packages we consume are now available as netstandard2.0 which is chosen in preference to net45/net46. This is a breaking change for us as we have a solution containing both C# and C++/CLI projects. The latter can't reference netstandard2.0 libraries. Is there any way to force the selection of net45/net46? (e.g. pro

[2017-11-25 01:01] Petermarcu commented on #481
@rrelyea @emgarten is there a way to force a certain TFM to be used for a packge in a project?

[2017-11-25 02:16] emgarten commented on #481
There isn't a way to set the TFM per package, only the project TFM is used.

[2017-11-25 03:06] Petermarcu commented on #481
@emgarten in this case they want to target 4.6.1 but want want the .net framework asset from the package as opposed to netstandard for their C++/ CLI project.

@terrajobst any reason C++/CLI can't be made to work with netstandard?

[2017-11-26 16:27] jainankit2474 opened #592 "The certificate authority is invalid or incorrect exception while using .NET standard 2.0"
My problem here is specifically in .Net standard 2.0 and .Net core 2.0, since the same code, seems to work fine with .net framework 4.6.1.

In .NET framework, we are using following code to trust all certificates:

`ServicePointManager.ServiceCertificateValidationCallback += (o, c, ch, er) => true;`

But the same code is not working with .NET core 2.0 and .NET standard 2.0.

I have also tried the

[2017-11-26 21:28] jnm2 commented on #132
Every .NET Standard chart shows that UWP 10.0.16299 can run .NET Standard 1.6 assemblies. However, as soon as I try it, I'm getting:

This is supported, right? I'm looking for ideas on how to diagnose this.

[2017-11-26 21:34] jnm2 commented on #132
The output .exe.config has 49 assemblies being redirected, but none of them are `System.Runtime`.

[2017-11-26 22:03] jnm2 commented on #132
Never mind, the problem is Xamarin.Forms.

[2017-11-27 00:32] Petermarcu commented on #592
This may be an issue with the implementation of those API's in .NET Core 2.0. I'm going to move this issue to .NET Core so that can be determined.

[2017-11-27 00:32] Petermarcu commented on #592
Issue moved to [dotnet/corefx #25513](https://github.com/dotnet/corefx/issues/25513) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-27 00:32] #592 closed

[2017-11-27 17:56] joperezr commented on #391
@shaulbehr what TFM is your project targeting?

[2017-11-27 19:20] Eilon commented on #587
Closing as dup of https://github.com/aspnet/Home/issues/2279.

[2017-11-27 19:20] #587 closed

[2017-11-27 22:58] emgarten commented on #481
This shouldn't happen.

If a project is net461 it will favor package assets in this order:
1. net461 (exact match)
1. net45 (same framework)
1. netstandard2.0 (not the same framework, but compatible)

netstandard2.0 would only be used if zero net* assets were available in the package for that asset type. Note that assets are selected individually, so if build has net461 assets but lib only has net

[2017-11-27 23:05] Petermarcu commented on #481
@davidjward30 sounds like a .NET Framework asset in a package should be preferred over a .NET Standard asset. Is that not what you are seeing?

[2017-11-28 00:37] amartens181 commented on #514
Does anyone know why .Net Framework 4.6.1 is the last supported version on Windows 10 1507/1511? Installing the feature updates is hard for people without internet. It makes it a lot harder to support everyone. Not being able to use .Net Standard 2.0 stuff is kind of a bummer (especially because this means being stuck with .Net 4.5.2)

[2017-11-28 07:08] AlexGhiondea commented on #514
@SajiAzureDeveloper that is an indication that 471 is not installed on your web site host. When you target net461 additional files are deployed in your application (including netstandard.dll) and so your application works. Your app works locally since you have net471 installed.

[2017-11-28 07:20] poimis commented on #514
@amartens181 New framework versions will become available only for supported Windows versions. 1507 and 1511 are no longer supported (see: https://support.microsoft.com/en-us/help/4035050).

[2017-11-28 07:20] shaulbehr commented on #391
@joperezr .NET Framework 4.7.1

[2017-11-28 13:36] onovotny commented on #529
This also affects the Desktop Bridge WAP projects. The right files weren't getting copied into the AppX directory. Same list above.

[2017-11-28 18:22] ikourfaln commented on #529
regarding this issue, is there any update?!

[2017-11-30 13:36] jozefizso commented on #545
Because of these lots and lots of different System.*.dll files required by all the netstandard libraries we are forced to not updated our NuGet packages anymore.

It's not feasible to target .NET Framework 4.x with our app and then install 100 different .dll files with our app just because of this netstandard mess.

[2017-11-30 13:44] jozefizso commented on #545
In reality .NET Standard completely messes up Visual Studio 2015 with latest update and we are forced to install all crazy System DLLs files with the app.

[2017-11-30 15:47] critesjm commented on #542
Ran into a similar problem in a project targeting framework 4.6.1 but using newer netstandard memory cache libraries - fixed it with `<Reference Include="netstandard" />` but confused about why we need that and/or it's not handled automatically by related tooling.

[2017-11-30 19:31] Petermarcu commented on #576
@terrajobst

[2017-12-01 08:22] davidjward30 commented on #481
@Petermarcu @emgarten I've just double checked and I think the problem lies around "portable-net45+win8+wp8+wpa81" which does not appear in your list above.

If I take a .net 4.6.1 framework project (packages.config) [and](url) install System.Collections.Immutable 1.4.0, these are the options:

netcoreapp2.0
netstandard1.0
netstandard2.0
portable-net45+win8+wp8+wpa81

.netstandard2.0 is being chos

[2017-12-01 08:26] davidjward30 commented on #481
Note that System.Collections.Immutable 1.3.1 offers just

netstandard1.0
portable-net45+win8+wp8+wpa81

In this scenario, portable-net45+win8+wp8+wpa81 is chosen. So in summary, upgrading to System.Collections.Immutable 1.4.0 is a breaking change for us.

[2017-12-01 08:43] Petermarcu commented on #481
@emgarten how do the portable TFM's map into the picture? Is this a case where they were mapped to .NET Standard so .NET Standard is winning?

[2017-12-01 08:46] Petermarcu commented on #481
Just to summarize what @davidjward30 is pointing out:

1.3 had:
netstandard1.0
portable-net45+win8+wp8+wpa81

1.4 had:
netcoreapp2.0
netstandard1.0
netstandard2.0
portable-net45+win8+wp8+wpa81

So 1.4 added:
netcoreapp2.0
netstandard2.0

and netcoreapp2.0 is winning over portable-net45+win8+wp8+wpa81

Should 1.4 have included assets for each specific TFM it used to support in order to prevent this

[2017-12-01 09:22] emgarten commented on #481
@davidjward30 the workaround for this is to modify the hint path in your csproj file to reference the portable folder instead of the netstandard2.0 folder in the package. For packages.config projects it is easy to override the tfm selection this way.

`portable-*` frameworks are the lowest priority when selecting assets, which is why `netstandard2.0` is selected from 1.4.

The reason `portable-net

[2017-12-01 13:54] twtdev commented on #576
Note the workaround on my updated StackOverflow post

[2017-12-01 14:47] davidjward30 commented on #481
We have a fairly large codebase of 150+ projects. The workaround of modifying the hint path would probably have to be scripted and I'm not sure how long we could continue like that. Is this a workaround we would have to live with indefinitely?

[2017-12-01 18:59] emgarten commented on #481
@davidjward30 you could try updating all references through an msbuild props/targets file that fixes the hint paths.

[2017-12-02 16:58] jeremyVignelles opened #595 "Add UnmanagedType.LPUTF8Str marshalling in .net standard"
Hi,
I'm currently writing a .net standard wrapper around libvlc, and I need to marshall strings from/to UTF-8.

For that, It would be really helpful to have the `UnmanagedType.LPUTF8Str` enumeration available.

From https://apisof.net/catalog/System.Runtime.InteropServices.UnmanagedType.LPUTF8Str, it looks like everything is there in .net core and .net framework.

Would it be possible to add that

[2017-12-04 07:09] mb236 commented on #591
@joperezr Is it possible that you could have another look with the new instructions I have provided?

[2017-12-04 16:54] joperezr commented on #591
Sure I'll take another look at this and let you know how it goes.

[2017-12-05 01:11] danmosemsft commented on #542
@AlexGhiondea any idea why they are having to add the netstandard reference manually on 471?

[2017-12-05 01:22] jp2masa commented on #542
It was fixed for Visual Studio 15.5: https://github.com/Microsoft/msbuild/pull/2567.

[2017-12-05 01:38] rajurh commented on #558
Any help on the above issue will be much appreciated.

[2017-12-05 18:01] joperezr commented on #542
This is because in 4.7.1 we no longer have to use the Support package to implicitly add references to facades since netstandard comes inbox starting from 4.7.1. That said, as @jp2masa we had a bug that was fixed in VS15.5 so you no longer have to add this manually.

[2017-12-08 01:36] taoyouh opened #598 "SslStream.ShutdownAsync available?"
In .NET Core, we can use SslStream.ShutdownAsync to properly shut down an SSL stream. But this API is not present in .NET Standard. Will this API be added to .NET Standard? Or how can we correctly shutdown an SSL stream?

[2017-12-08 10:38] alfeg commented on #504
@AdamDotNet, we have stumbled upon same issue on recently released `VS 15.5.0` with the same result. @dsplaisted can be easily reproduced with provided steps, here is a link to project https://github.com/alfeg/NETSTANDARD_504

[2017-12-08 11:14] alfeg commented on #504
@AdamDotNet  - there is another workaround that a bit help us - https://github.com/dotnet/standard/issues/542#issuecomment-339328208

[2017-12-08 15:22] ignatandrei opened #599 ".NET Standard compatibility with .NET Framework 4.7.1"
Hello
The page https://docs.microsoft.com/en-us/dotnet/standard/net-standard  list compatibility of .NET Standard 1.6 with .NET Framework 4.6.2 . Latest .NET Framework is 4.7.1
What is the compatibility between 4.7.1 and .NET Standard  ?

[2017-12-08 16:03] AdamDotNet commented on #504
@alfeg - I tried the web.config trick in a sample app and it indeed works! Thank you.

Unfortunately, a while ago I decided on the net462 solution for my actual application, but this is good to know if I take another stab at moving forward to net471. Maybe it'll just work in net472?

[2017-12-08 16:36] Petermarcu commented on #599
You can read each of the cells in that table as "and higher" so 4.7.1 will support the same as 4.6.2 unless its explicitly list as supporting a higher one.

[2017-12-08 19:53] jnm2 opened #601 "Understanding NETStandard.Library as a dependancy in my nuspec"
Should a NETStandard.Library dependency appear in a nuspec?

What does it do to projects that reference the nupkg versus not having it in the nuspec? If my netstandard1.6 library chooses to depend on 1.6.1, doesn't that force any dependent library to also depend on 1.6.1+? Is that a good thing and is that why you'd put it in a nuspec?

Out of 1.6.0, 1.6.1, 2.0.0, and 2.0.1, the SDK picks 1.6.1 and

[2017-12-11 09:50] ignatandrei commented on #599
And for .NET Standard 2.0 ?

[2017-12-11 17:37] Petermarcu commented on #599
4.7.1 also supports .NET Standard 2.0 because the chart says that its is supported in .NET Framework since 4.6.1.

[2017-12-11 17:51] michael-hawker commented on #481
I see this with .NET Standard 1.4 projects as well using PackageReference.  I have a JavaScript UWP app using a Windows Runtime Component which references the .NET Standard libraries and the Nuget dlls don't get copied as part of the build.

Can I update the UWP JavaScript project which default template used package.json to use PackageReference or is that only for pure .NET projects?

[2017-12-12 14:00] tomzorz commented on #481
Any ideas how to fix https://github.com/RevenantX/LiteNetLib/issues/120 above? The binding redirects didn't help (or I did something wrong).

[2017-12-12 17:42] terrajobst commented on #481
I responded to the issue. Your issue has definitively nothing to do with this issue here as you're using .NET Core and .NET Standard. Binding Redirects are a .NET Framework only thing. It looks like the package you're consuming is authored incorrectly.

[2017-12-12 17:44] terrajobst commented on #481
@michael-hawker

I haven't looked into UWP and JavaScript consuming a managed WinMD.  Are you using a project-to-project reference between the JavaScript project and the C# UWP WinMD project?

[2017-12-12 17:54] michael-hawker commented on #481
@terrajobst Yes, I have the WinMD component project referencing the .NET Standard component, and then the JavaScript UWP project referencing the WinMD component project.

[2017-12-12 17:58] tomzorz commented on #481
@terrajobst ah thanks, I wondered if it was relatable to this one! Appreciate the help!

[2017-12-12 18:42] weshaggard commented on #598
Today the API is only available for .NET Core. It will be considered for a future version of .NET Standard but we don't have a timeline for the next version at this point.

[2017-12-13 13:31] BjarkeMeier opened #602 "Azure Web app: Could not load file or assembly 'netstandard, Version=2.0.0.0"
I'm running an Azure web app. After referencing a .NET Standard 2 class library the app no longer can start. Azure web app restart reports no problems but a manual start in Azure console gives the following output:

[code]

The class library has references to NuGet packages like Microsoft.AspNetCore.Http.Abstractions version 2.0.1 and thus cannot be downgraded to a previous .NET Standard. I've tri

[2017-12-13 17:47] weshaggard commented on #602
cc @AlexGhiondea @joperezr

@BjarkeMeier Do you know what version of .NET Framework you are running on? Is it .NET 4.7.1? If so netstandard.dll should be in the framework itself.

[2017-12-13 18:30] joperezr commented on #602
We have seen this issue when users target 4.7.1 and are using an outdated version of VS. There were some changes that went in to VS15.5 that automatically detected if you needed a reference to the netstandard facade, and if so it would add it so that you don't get this error at runtime. @BjarkeMeier which version of VS did you use to compile your web app? Also, does Azure already support 4.7.1? It

[2017-12-13 21:57] desmondgc opened #604 "How to avoid incompatibilities between .NET Standard 2.0 and .NET Framework 4.6.1"
I have a .NET Standard 2.0 class library that uses System.Net.Http.HttpClientHandler. The class library is referenced in multiple projects, including a WPF application targeting .NET Framework 4.6.1. I am trying to set the HttpClientHandler.MaxConnectionsPerServer property which causes a MissingMethodException on systems without .NET Framework 4.7.1 installed.

[code]

[code]

This is expected - M

[2017-12-13 22:42] danmosemsft commented on #604
@karelz is this where the OOB is required?

[2017-12-14 00:05] karelz commented on #604
Either the OOB package (System.Net.Http - latest), or light up based on the platform you're runnig on. Some check if (RuningOnFramework471OrGreater).
I would recommend the light up.

[2017-12-14 10:50] unamed000 opened #605 "NETStandard 2.0 Project Template not working properly."
I've an issue when creating project template in VS 2017 15.5.1 version.

When i create a project template and use it to create a project. There is no file existed in there regarding my project templates have many files.

Steps to re-produce the bug:
- Create a NETStandard2 class library in VS 2017.
- Create multiple files in there.
- Export Template for that projects.
- Copy that template into: C:

[2017-12-14 14:18] TylerBrinkley opened #606 "NetStandard.Library Multi-Targeting Question"
What is the recommended guidance for the NETStandard.Library version to target for libraries that multi-target .NET Standard 1.x and 2.x?

In my Enums.NET library I've set the implicit package version to 2.0.0 using `<NetStandardImplicitPackageVersion>2.0.0</NetStandardImplicitPackageVersion>` but now users are receiving package downgrade errors when targeting 1.x and pulling in Enums.NET. See [he

[2017-12-14 14:40] jnm2 commented on #606
Related: https://github.com/dotnet/standard/issues/601

[2017-12-14 14:44] khellang commented on #606
What's the reason you've explicitly set `NetStandardImplicitPackageVersion` in the first place? Wouldn't it be better to just let the SDK pick the appropriate implicit version?

I have several packages that target both `netstandard1.x` and `netstandard2.0` and those seems to work fine without an explicit version.

See [the csproj](https://github.com/structuremap/StructureMap.Microsoft.DependencyIn

[2017-12-14 14:44] desmondgc commented on #604
The package isn't a viable option because we're distributing the WPF application via ClickOnce, which tries to be smart and [excludes System.Net.Http.dll from the output](https://connect.microsoft.com/VisualStudio/feedback/details/793243/clickonce-deployment-of-httpclient-libraries).

The only way I'm aware of to test the running platform is by querying the registry, which feels awfully heavy-hand

[2017-12-14 14:52] TylerBrinkley commented on #606
I assumed it was required as I based my migration to the new .csproj on how Json.NET did it. Even that `structuremap` library explicitly sets the `NetStandardImplicitPackageVersion` [here](https://github.com/structuremap/structuremap/blob/master/src/StructureMap/StructureMap.csproj#L20).

[2017-12-14 15:01] khellang commented on #606
Yes, but with a `Condition`. If you'd set

[code]

It shouldn't give an warnings, but then again I think you could just remove it altogether and it would resolve fine.

[2017-12-14 15:06] TylerBrinkley commented on #606
Thanks @khellang. I guess I'll remove it altogether though I'd still like to know the answers to @jnm2's questions in #601.

[2017-12-14 15:58] Petermarcu commented on #605
@Pilchie any ideas who might be the right person to help with this?

[2017-12-14 18:06] BjarkeMeier commented on #602
Thank you @weshaggard and @joperezr . You are right about Azure not supporting 4.7.1 yet. According to https://github.com/Azure/app-service-announcements-discussions/issues/17 it should be supported from December or January.

[2017-12-14 18:08] #602 closed

[2017-12-14 18:35] Pilchie commented on #605
@jmarolf @phenning ?

[2017-12-15 03:35] taoyouh commented on #598
I think this api is very important, without which I can't shutdown an ssl stream at all. I made an ssl server and the client keep reporting that the tls connection is terminated imporperly.

[2017-12-15 03:46] #606 closed

[2017-12-15 08:59] qfcolin commented on #505
Is there any update on this? I recently upgraded all of our projects to the new vs2017 project format with package references and now am getting 100s of these messages on build.

`Encountered conflict between 'Reference:C:\Users\colin\.nuget\packages\netstandard.library\2.0.0\build\netstandard2.0
  \ref\System.Collections.dll' and 'Reference:C:\Users\colin\.nuget\packages\system.collections\4.0.11

[2017-12-15 13:24] toumir commented on #591
any solution for this?

[2017-12-15 19:36] aajmot opened #607 "DataRow does not contains a defination for Fields"
I am using Dot Net Standard 2.0 and I am trying to get the code below but showing error Does not contain definition for Fields.

     foreach (DataRow dr in dt.Rows)
                {
                   int i= dr.Field<Int32>("Id");
                }

then what to use for similar kind of requirement?

[2017-12-15 22:25] weshaggard commented on #598
@davidsh any ideas on how to workaround this issue while targeting .NET Standard?

[2017-12-15 22:41] joperezr commented on #591
Hey @mb236 I re-downloaded the code and just tried building and it worked just fine for me, at least for the HiPMobile project. That said I am using the latest version of VS (15.5) so I don't know if that makes a diference.

![image](https://user-images.githubusercontent.com/13854455/34063295-1929090c-e1a6-11e7-9379-d88c2cc745f0.png)

[2017-12-15 22:49] mb236 commented on #591
@joperezr The project that fails is HiPMobileUI, please try to build that

[2017-12-15 22:52] joperezr commented on #591
yeah I just saw that, and I also see now where is the wrong System.Reflection reference comming from:

![image](https://user-images.githubusercontent.com/13854455/34063512-685b2bbc-e1a7-11e7-9d0d-18d40ff71d2e.png)

I bet that adding a binding redirect to the version that gets deployed with the app would fix it (version 4.1.2.0) but that said I'm now checking why is HipMobile getting the wrong asse

[2017-12-15 23:40] joperezr commented on #591
Ok, so after looking a bit more the issue seems to be the FodyTarget that runs when compiling HiPMobile.dll. Before running that target, the assembly that the compiler generates is correct and has the right references to netstandard.dll with the right assembly versions. After running that target, all of the assembly references get mixed up and the assembly versions will now be incorrect. This is c

[2017-12-15 23:40] joperezr commented on #591
I'm going to close this issue since it is an external package problem causing  what you are hitting, but feel free to reopen if you have any other issues related or if you think that the problem is different.

[2017-12-15 23:40] #591 closed

[2017-12-16 00:08] weshaggard commented on #607
That method is an extension method that lives in DataSetExtensions library. We have a preview of it on our myget feed at https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.DataSetExtensions.

[2017-12-16 00:08] #607 closed

[2017-12-16 00:12] weshaggard commented on #505
@qfcolin that message is expected in cases where the older System.Collections package is still pulled into the graph. The right thing is happening and shouldn't cause any issues.

[2017-12-16 00:15] weshaggard commented on #505
Until we get more of the library packages in the .NET ecosystem moved to .NET Standard 2.0 you will see a lot of these conflicts in the diag log (not these aren't build warnings or errors) it is just a verbose log explaining what is happening and they are expected..

[2017-12-16 00:15] #505 closed

[2017-12-16 00:22] weshaggard commented on #601
Hopefully https://github.com/dotnet/standard/blob/master/docs/faq.md#should-i-reference-the-meta-package-or-should-i-reference-individual-packages helps to answer your question somewhat. But in general with the move to NS2.0 we don't expect there to be package dependencies in nuspec's for libraries targeting NS.

It general we try to reference the latest for the target framework. The SDK is being

[2017-12-16 01:03] davidsh commented on #598
The `SslStream.ShutdownAsync` API was added to .NET Core 2.0.  It was also added to .NET Framework 4.7.

The purpose of the API was to fix a gap in the SslStream TLS/SSL semantics where it didn't send a TLS-level 'alert' indicating that the secure channel was being closed.  It is an 'async' API because it actually send data (TLS alert packet) on the wire.

This API was part of a larger effort to i

[2017-12-16 01:17] jnm2 commented on #601
@weshaggard Great, thanks!

This makes me want to start using `<PackageReference Update="NETStandard.Library" PrivateAssets="all" />` to suppress it from the nuspec, and to remove the `NETStandard.Library` dependency from manually crafted nuspec files, such as NUnit's. It seems to have two benefits: reduce noise which confuses people, and make clashes with consuming projects less likely. Is there

[2017-12-16 04:25] taoyouh commented on #598
@davidsh I made an FTP server. In the version without TLS support, I just use Stream.Dispose() to close the data connection, and then the client think the file is finished. But if I use SslStream.Dispose(), the client (FileZilla) throws a error message that "GnuTLS error -110: The TLS connection was non-properly terminated" and file transfer fails.
My research shows that if the TCP connection is c

[2017-12-18 18:02] weshaggard commented on #601
cc @dsplaisted @emgarten
I thought the tooling was already filtering out NETStandard.Library at least 2.0 and up, for nuget pack commands. I'm not entirely sure what `PrivateAssets="all"` implies in all cases so I'm not sure if that will have other consequences or not.

[2017-12-18 19:22] emgarten commented on #601
cc @rohit21agrawal for pack, is netstandard.library included by default in new packages?

[2017-12-18 19:26] rohit21agrawal commented on #601
i just verified by packing a new .netstandard2.0 project, and the dependency is not included by default if you pack.

[2017-12-18 19:28] jnm2 commented on #601
Alright, if one of my targets is netstandard1.x, I should continue with `<PackageReference Update="NETStandard.Library" PrivateAssets="all" />`; otherwise, nothing needs to be done?

[2017-12-18 21:19] dasMulli commented on #601
@jnm2 depends on who is using the library.
If someone with VS 2015 (without .net standard build extensions installed) pulled down that library, they would be missing the libs brought in by the `NETStandard.Library` package. In VS 2017 / build extensions, the DLLs brought in via the individual NuGet packages are trimmed out of the build and replaced with DLL files shipped as part of the tooling.

I

[2017-12-18 21:50] jnm2 commented on #601
So if I decide not to support VS2015 without build extensions, I should use `<PackageReference Update="NETStandard.Library" PrivateAssets="all" />`.

Otherwise, I should depend on the lowest possible version number to make sure the package works in VS2015 without build extensions, without the possibility of conflicts:

[code]

Since leaving out the nuspec dependency for netstandard2.0 would make i

[2017-12-18 22:09] dasMulli commented on #601
For 2.0, it shouldn't matter (as long as you are using a recent .NET SDK). It is only needed to not force 1.6.1 implementation DLLs onto platforms containing 1.6.0 versions. (which isn't that bad now since both are LTS now, bet see linked newtonsoft.json issue).

For `netstandard2.0`, you don't have to specify/pin `NetStandardImplicitPackageVersion` - the SDK will emit an implicit package referenc

[2017-12-18 22:44] jnm2 commented on #601
@dasMulli Will a netstandard2.0 nupkg without the NETStandard.Library dependency work with VS2015 without build extensions? If I don't make netstandard2.0 work for VS2015 I'll be less likely to make netstandard1.6 work for VS2015– and I'm back to preferring to suppress any nuspec dependency on NETStandard.Library.

[2017-12-18 23:06] dasMulli commented on #601
I believe the latest NuGet versions for 2015 that understand netstandard2.0 will refuse to install it without the extension installed.

[2017-12-18 23:09] jnm2 commented on #601
Cool. My questions are answered and I'm grateful for your time.

[2017-12-18 23:09] #601 closed

[2017-12-19 11:16] jarfer commented on #295
Did anyone get a solution to this?

I have the same problem, NETStandard.Library is already included int he solution so I haven't removed it - it appears this code has been updated since this issue, but it persists.

Any advice, welcome

[2017-12-19 13:05] mfkl commented on #595
Whats the status of this?

[2017-12-19 17:37] plioi commented on #542
@joperezr I have VS 15.5.2, and experience the same errors when building from the command line. Visual Studio says there are no errors, but I get these errors from `dotnet build`.

[2017-12-19 18:33] diddledan opened #608 "Proposal: add GetEnvironmentVariableAsBool to netstandard"
Currently the dotnet cli has a function which is located at: [src/Microsoft.DotNet.Cli.Utils/EnvironmentProvider.cs Line 106](https://github.com/dotnet/cli/blob/fffe3142ad8043743d83885df2166fd2f80dceca/src/Microsoft.DotNet.Cli.Utils/EnvironmentProvider.cs#L106)

I think it would be useful to consider this functionality for inclusion into the `System.Environment` namespace.

This issue is to raise

[2017-12-19 18:35] joperezr commented on #542
yeah I believe that what is happening is that VS doesn't use the CLI(SDK) for building, but instead calls into MSBuild directly, which version is tied to the VS version. That explains why you only see this when trying to build using the CLI, but I'm glad that the global.json workaround fixed the issue.

[2017-12-19 18:51] critesjm commented on #542
yeah it seems to be just when you're using the msbuild cli tool to run builds that this issue crops up. unfortunately it seems to have caused some problems on our build server when i added the concrete reference to netstandard to our project so i had to remove it and i'm back in the same boat i was before when i try to cli build from VS Code :(

[2017-12-20 00:48] breyed opened #609 "NuGet links to out-of-date release notes"
The "Release Notes" section of the [NETStandard.Library](https://www.nuget.org/packages/NETStandard.Library/) NuGet page links to [release notes for an old prerelease](https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.0-preview1.md). Since the Release Notes section is version independent, it would be better to back the link up to the `release-notes` folder.

A related issue is #171,

[2017-12-20 09:01] bjcull commented on #567
I think Azure may have deployed something last night because I'm suddenly getting this problem in production. Errors started a few minutes after 20 Dec 2017 00:00 UTC.

[2017-12-20 13:09] onovotny commented on #567
@bjcull what region? App Services has been rolling out Server 2016 with .NET 4.7.1 on it over the course of the month.

[2017-12-20 13:28] bjcull commented on #567
@onovotny Australia East. Makes sense that it would be towards the end of the month :)

[2017-12-20 20:01] desmondgc commented on #604
I'm still getting an exception even when using an explicit .NET version check.

I created the following class:

[code]

I use it like so:

[code]

Still, I'm getting MissingMethodException on machines without .NET Framework 4.7.1 installed:

[code]

It seems impossible to avoid?

[2017-12-21 07:05] viswa18 opened #611 "System.Diagnostics.Process.Start(info) show icon in Mac"
I am having a simple C++ command line app, which is starts from .NetStandard2.0 class library. Below is code snippet to start the process, but it show dock icon in mac.

[code]
Is it possible to prevent the icon in dock for mac?

[2017-12-21 15:32] 0xF6 opened #612 "Merge Library?"
Now to merge.NET Standard libraries into one library?

[2017-12-21 15:36] Petermarcu commented on #612
Can you clarify what you are looking for? Are you talking about the implementations of .NET Standard and having them share a single codebase?

[2017-12-21 16:37] 0xF6 commented on #612
I want to merge `Microsoft.*` libraries and `System.*` from NuGet to single library
They target .NET Standard
![image](https://user-images.githubusercontent.com/13326808/34265125-1656354e-e686-11e7-8c38-80197fa6963b.png)
TOO MANY MODULES :(
Tools merge libraries .NET Framework not suitable for merge libraries .NET Standard :\

[2017-12-21 20:51] aday12345 commented on #605
i am having the same issue with VS 2017 15.5.2

I create a class project targeting standard 2.0.
I added nothing to the project just left as default with Class1.cs file
Used Export Template Wizard Under Project Menu

Created new project based on Newly Created Template.
Project Created with no Class1.cs file.

I was trying to create a more complex Project Template and was having issues so I tried t

[2017-12-21 20:59] desmondgc commented on #604
I was able to resolve my issue by moving the HttpClientHandler creation logic into two separate HttpClientHandler abstract factories - one for NET 4.7.1 and one for older frameworks. The correct implementation is registered in the IoC container based on the DotNetVersion registry check. Previously, I was performing this check in the constructor of a service client class.

Above, I linked a Microso

[2017-12-21 20:59] #604 closed

[2017-12-21 21:33] jmarolf commented on #605
Looks like the new template engine does not play well with the export-template wizard. @phenning I think this should be moved to https://github.com/dotnet/templating

[2017-12-22 13:15] aday12345 commented on #605
also it would be nice if there was a "C# Project Template" that supported .netstandard under Extensibility
like the ,netX.X version as it give you options to build to a vsix package but does not allow you to select .netstandard as a framework

[2017-12-22 13:55] phenning commented on #605
Cc: @mlorbetske

[2017-12-22 16:05] mlorbetske commented on #605
If it's the same issue, the export template function is not setting CreateInPlace in the exported vstemplate file for the new style projects (initial report and workaround here http://irisclasson.com/2017/06/14/visual-studio-2017-templates-and-the-missing-content). I've filled a bug with the team that owns that gesture on TFS.

[2017-12-22 16:58] aday12345 commented on #605
Thanks I will give this a try in the New Year ☺

From: Mike Lorbetske [mailto:notifications@github.com]
Sent: Friday, December 22, 2017 11:06 AM
To: dotnet/standard <standard@noreply.github.com>
Cc: Day, Andrew <aday@ivey.ca>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/standard] NETStandard 2.0 Project Template not working properly. (#605)

If it's the same issue, the export templat

[2017-12-22 19:16] joperezr commented on #612
Unfortunately, we can't really merge them. If you were to inspect those assemblies, you'll find that the content of those is just pure type forwards. Given .NET Standard is just an API surface description, once you actually want to run your library on a framework you will need all of these libraries that will "map" all of the .NET Standard types to the appropriate assemblies depending on what are

[2017-12-23 00:49] John0King commented on #612
@joperezr  Can we make them go to  a folder ? such like `AppDependency` folder

[2017-12-24 17:25] joperezr commented on #612
We can't unless we are willing to do one of two things:
 - Add a binding redirect to every one of these assemblies on the app config and supply the new path.
 - Change the way our loader works.

Both fixes won't be trivial, and this problem is just temporary. What I mean by this is that you will only see this problem when your app targets older desktop versions like 4.6.1 or 4.7, but later version

[2017-12-25 09:41] 0xF6 commented on #612
Good
When planning?

[2017-12-26 08:57] fabich commented on #481
I still have problems with the VSTS build task:
`2017-12-26T08:41:11.8810823Z ##[error]failed with code(1) and error(Errors in d:\a\1\s\<pkg name>\<pkg name>.csproj
    Package <pkg name> is not compatible with net471 (.NETFramework,Version=v4.7.1). Package <pkg name> supports: netstandard2.0 (.NETStandard,Version=v2.0)
    One or more packages are incompatible with .NETFramework,Version=v4.7.1.

[2017-12-26 12:09] OracleBlack commented on #497
I face the same issue today.
Environments:
Windows 10 Professional 1703 15063.786
Visual Studio 2017 Enterprise with update: 15.5.2 and .NET Core workload installed, Framework 4.7.1

But something magic happened next:
I referenced a wcf service using the wcf service tool, after what, the target .NetCore.Platforms changed to 2.0 !
Do someone can explain this ?

[2017-12-26 13:50] OracleBlack commented on #497
Update :
When I tried to remove System.ServiceModel.Security (added by the wcf service tool), Visual Studio informed me that it's going to change the target NETCore.Platforms to 1.1.

[2017-12-26 13:55] joperezr commented on #612
If you change your app today to target .Net 4.7.1 then it will have only very few of these libraries in your bin folder, and with the next version of .Net (exact date is not released) the bin folder will just contain your library and pdb.

[2017-12-27 21:53] danmosemsft commented on #611
You would have to do some research into how this is done through Mac API's, then look at the implementation of Process to see whether there's a way to do ti (or if not propose we add a way)

[2017-12-27 21:53] danmosemsft commented on #608
@diddledan the right place to propose new API is the corefx repo...

[2017-12-27 21:53] danmosemsft commented on #608
Issue moved to [dotnet/corefx #26079](https://github.com/dotnet/corefx/issues/26079) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-27 21:53] #608 closed

[2017-12-27 22:51] dasMulli commented on #611
@viswa18 what kind of application is your `helloworld` executable? If you created a Cocoa App via Xcode, there is bound to be some dock icon since this is controlled from the started executable. Just tested by creating an Xcode app using the "Command Line Tool" project template (just added a `readLine()` in swift and a `process.WaitForExit()`) and it does not show any dock icon.

[2017-12-28 01:54] rexcfnghk opened #613 "Issue with referencing a .NET Standard 2.0 project with an classic ASP.NET project targeting .NET Framework 4.6.1"
I refer to my original issue submitted to Autofac [here](https://github.com/autofac/Autofac.WebApi/issues/32). I originally thought it was an Autofac issue but turns out it is not as I can reproduce it without Autofac.

# Summary
`MissingMethodException` is thrown when resolving for a component through a delegate that returns a type defined in a .NET Standard 2.0 library, under the context of an c

[2017-12-28 10:23] 0xF6 commented on #612
Good

[2017-12-28 10:23] #612 closed

[2017-12-28 10:26] Styxxy opened #614 "DocumentationFile outputs both to project root as in output folder (when only specifying filename)"
When specifying only a filename in the DocumentationFile in the csproj, the generated xml documentation file will be outputted to both the root of the project as well as in the output path.

Given following csproj:

[code]

And we have one class in our class libary:
[code]

The documentation file is generated in following directories:

- project-root
- project-root/bin/$(Configuration)/net47
- pro

[2017-12-28 10:30] Styxxy commented on #614
Silly me. Now I notice that I was comparing **vbproj** against **csproj**. In a vbproj file the documentation-file only contains the filename, while with csproj the path should be specified.

The behaviour is the same as with the _old_ csproj file.

[2017-12-28 10:30] #614 closed

[2017-12-28 10:31] Styxxy commented on #614
For future reference. I use following DocumentionFile specification to output the file "generically":

[code]

[2017-12-28 11:23] dasMulli commented on #614
You can also set
[code]

Then the file name and path will be autogenerated.

[2017-12-28 13:02] Styxxy commented on #614
@dasMulli Visual Studio (15.5.2) doesn't show this property in IntelliSense nor I find any documentation about this property?

[2017-12-28 13:31] dasMulli commented on #614
Opened https://github.com/Microsoft/msbuild/issues/2828 for it to be added to the IntelliSense xsd

[2017-12-28 13:37] dasMulli commented on #614
Also opened https://github.com/MicrosoftDocs/visualstudio-docs/issues/407 on the docs repo

On the VS project system side, https://github.com/dotnet/project-system/issues/368 tracks setting this property from the property pages instead of `DocumentationFile` if the user doesn't wish to override default paths.

[2017-12-28 13:39] Styxxy commented on #614
@dasMulli  Thanks for opening the related issues in the correct repositories.

[2017-12-29 03:32] dasMulli commented on #613
The solution is already described in https://github.com/dotnet/standard/issues/481

I created a project with the exact steps you wrote (kudos for those detailed repro steps!!) and double-clicking on the warning in the error list and confirming the dialog fixes the issue.

[2017-12-29 03:35] dasMulli commented on #613
![webapinetstd](https://user-images.githubusercontent.com/6129250/34428900-b10caae8-ec51-11e7-8af7-157621137f5d.gif)

[2017-12-29 05:56] rexcfnghk commented on #613
Thanks @dasMulli , I never thought of checking out the error list will solve my problem!

[2017-12-29 09:22] taoyouh commented on #598
I've got a workaround: I can use reflection to invoke the ShutdownAsync() method.

[2017-12-30 09:54] Sergio0694 opened #615 "Missing binary/namespace from NuGet package in .NET Standard 2.0 library"
Hello, I'm writing a .NET Standard 2.0 library and I'm having issues with a NuGet package I'd like to use (https://www.nuget.org/packages/Alea/) which I think is only supported for PCL libraries right now, and was wondering if there was a workaround available.

I can install the package just fine, but its assemblies aren't visible in the drop-down list of the dependencies, and I don't have any of

[2018-01-02 09:29] srungta opened #616 "Different implementations for different frameworks"
I have a .NetStandard2.0 class library that has the following setup.

Interface:
`IConfigProvider`

Implementations:
`NetCoreConfigProvider` -to be used in  .net core 2 apps
`NetFrameworkConfigProvider` - intends to target .net framework 4.6.1

In my `.csproj` file i have specified
`<TargetFrameworks>netstandard2.0;net461</TargetFrameworks>`

`NetCoreConfigProvider` uses packages which is not `4.6

[2018-01-02 16:59] weshaggard commented on #598
If you go that route please be sure to correctly handle cases where that method doesn't exist.

[2018-01-02 16:59] #598 closed

[2018-01-03 16:10] Levvente commented on #300
Hi!
Are there any updates regards this issue?
This was a really big hit for us, as we tried to port a huge codebase to netstandard2 and after extensive refactoring and working around not supported classes when we reached to testing all of our serialization  codes are broken.
To say the least, I'm really disappointed regards the .Net Standard (Sorry, i'm not being rude, I'm just tired and stressful

[2018-01-03 17:04] weshaggard commented on #300
Sorry to hear about your issues @Levvente. Unfortunately there isn't a lot we can do on the .NET Standard side of things to address this. It is a bug in the .NET Framework which takes a lot of time to update due to the risk of making changes to it. There isn't any great workarounds for the issue beyond not using the methods marked with the OnSerial*Attributes and instead do the serialization in ot

[2018-01-03 17:49] weshaggard commented on #616
The general strategy is how you would go about forking your projects based on target frameworks. However based on your class names (NETCoreConfigProvider and NETFrameworkConfigProvider) I would assume you would have one .NET Core library  with NETCoreConfigProvider and one .NET Framework library with NETFrameworkConfigProvider and both of them referencing a .NET Standard library with the common in

[2018-01-03 17:55] weshaggard commented on #615
I think what you are looking for is https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#packagetargetfallback (note it has been renamed to AssetTargetFallback in the 2.0 tools but the docs haven't been updated yet https://github.com/dotnet/docs/issues/2816.

[2018-01-03 17:58] weshaggard commented on #613
@rexcfnghk it sounds like @dasMulli (Thanks @dasMulli) helped solve this issue so I"m going to close.

[2018-01-03 17:58] #613 closed

[2018-01-03 18:01] weshaggard commented on #605
@aday12345 if the issue still repro's after you try please file a issue at https://github.com/dotnet/templating.

[2018-01-03 18:01] #605 closed

[2018-01-03 18:03] weshaggard commented on #609
@terrajobst @leecow @richlander what do we need to do to get the fwlink's updated?

Related to https://github.com/dotnet/corefx/issues/23570 and https://github.com/dotnet/corefx/issues/26014 and

[2018-01-03 18:04] jmarolf commented on #605
@mlorbetske what is the internal bug number tracking this?

[2018-01-03 18:05] weshaggard commented on #595
It was added to a later .NET Framework version (i.e. 4.7) so it is a candidate for a future version of .NET Standard but we don't currently have a timeline for the next standard version yet.

[2018-01-03 20:07] mlorbetske commented on #605
@weshaggard filing an issue on dotnet/templating is not the appropriate course for this issue if it’s not resolved by the internal bug, it should go to developer community.

@jmarlof I’ll find the bug number and post it shortly.

[2018-01-03 20:10] mlorbetske commented on #605
The internal bug number is 451346

[2018-01-04 12:53] viswa18 commented on #611
My applcation is Qt based command line application, qt forces the application to foregorund, so that the icon occurs in dock. I have overcome this by disable the qt foreground execution. Now it does not shows icon in the dock. Thank you.

[2018-01-04 12:53] #611 closed

[2018-01-04 20:42] nefcanto commented on #542
These suggestions didn't solve my problem. I was working with a project and everything was working fine. I'm on .NET Core 2.0.3. All of a sudden it broke and now it gives me that annoying error. Any idea what might be wrong?

[2018-01-05 03:02] jdasilva commented on #567
Is there a way to track the release of the fix to the framework mentioned [here](https://github.com/dotnet/corefx/issues/24653#issuecomment-346178694)? or is this thread the best way?

[2018-01-07 13:06] Sergio0694 commented on #615
@weshaggard Hello, thank you for your answer! I've looked at the docs you linked but I couldn't find a way to apply that to my situation, NuGet still won't restore those .dll files that should be linked to the Alea package.

I've tried with various combinations, starting with:
[code]
But I didn't have any luck, still not seeing those .dll under the Alea package, and I don't have any of the expecte

[2018-01-08 10:20] henkburgstra opened #619 "\"

[2018-01-08 10:21] #619 closed

[2018-01-08 17:21] weshaggard commented on #615
That path is the only path that the alea package has in it so it is the only library you have to work with. So it will either work or not work on the platforms you want to consume it from. So while I hate hint paths I believe for this package it should work for you, assuming the library itself works.

As for the AssetTargetFramework property for this package I think what you want is:
[code]

Be ca

[2018-01-08 17:44] SushiGuy commented on #458
Fix for us was adding this small reference line above the other references in the csproj file.
`<ItemGroup>`
`   <Reference Include="netstandard" />`

[2018-01-08 18:15] joperezr commented on #542
@nefcanto can you try with the latest released CLI? That should automatically add the reference to the netstandard facade if it needs it.

[2018-01-08 18:18] joperezr commented on #567
This is probably the best place since we will communicate through here once the fix is rolled out to the public.

[2018-01-09 01:35] Sergio0694 commented on #615
@weshaggard Hello, thanks again for your answer.
I understand the issue with the `AssetTargetFallback` property, if all the other NuGet packages I have in the library have at least a .NET Standard target does that mean that'll have precedence and then I won't have to worry about that?

I mean, this is the list of packages I'm using right now:

- [Alea](https://www.nuget.org/packages/Alea/) (and th

[2018-01-09 07:20] aventurella commented on #328
I have this issue on 4.7.1

[2018-01-09 17:04] joperezr commented on #615
Yes this is correct.

Most likely yes, if the package doesn't contain an asset that is supported in a specific framework it will fail restore unless you provide a fallback. It is possible that even though it only has an asset compiled for net45, that the same asset works on other frameworks. It is not the right package design, as we usually recommend to have an asset per framework so that consumer

[2018-01-09 18:17] Sergio0694 commented on #615
@joperezr Hello, thank you for your help.
Yes, the docs for the Alea package say:

So I guess, as you said, they have some assets marked as net45 that are actually cross platform, I'll go ahead and add the `AssetTargetFallback` setting then 👍

As for my original question, so unless the authors don't update their NuGet package with the new `PackageReference` system, there's nothing at all I can do

[2018-01-09 21:27] joperezr commented on #615
I'm not 100% sure about this since this is a question specific to the solution explorer, and this repo is only for .NET Framework issues specifically. @weshaggard do you know who would be a good contact to ask the above?

[2018-01-10 00:55] weshaggard commented on #615
I don't think there is much you can do without an updated alea package.

[2018-01-10 05:04] scottsauber commented on #567
It would appear that fix is getting rolled out in WSUS now.

https://blogs.msdn.microsoft.com/dotnet/2018/01/09/net-framework-4-7-1-is-available-on-windows-update-wsus-and-mu-catalog/ judging by the 1st mention in the BCL section

[2018-01-10 13:12] Sergio0694 commented on #615
@weshaggard @joperezr Got it, thanks so much to both of you for your help! 😄
Cheers!

[2018-01-10 13:12] #615 closed

[2018-01-10 17:22] joperezr commented on #567
Yes, as @scottsauber said most of the problems covered by this issue are now available through Windows Update. Please go ahead and update your machines and let us know if the fix is working for everybody hitting this before.

[2018-01-10 22:06] ViktorHofer commented on #300
What Wes said is true, I just want to add that we are indeed working on a fix which will hopefully be ready for the next version of .NET Framework.

[2018-01-11 11:32] mattbrooks2010 commented on #567
@joperezr Do you know of any announcements / articles that indicate when the fix will be applied to Azure App Services?

[2018-01-11 13:20] MovGP0 commented on #542
I have the following issue with an integration test:

[code]

The `.csproj` file looks as following:
[code]

[2018-01-11 16:36] ViktorHofer commented on #300
TODO in corefx: When net472 is released, add its version to our version table in PlatformDetection and conditionalize the existing test to a) only run >=net472 or b) to fail with a TypeLoadException <net472.

[2018-01-11 16:41] safern commented on #300
Also would need to remove netfx from the tests configurations tu actually build ve netstandard and run in netfx.

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/tests/Configurations.props

And remove the comment referencing the issue.

[2018-01-11 18:16] joperezr commented on #567
@mattbrooks2010 I'm not sure about Azure specifically, but in general, if the machines have 4.7.1 installed on them already, then they should have this fix as well.

[2018-01-11 20:08] mattbrooks2010 commented on #567
@joperezr Thanks for the info. I think Azure must be running 4.7.1 already, as this precise issue has impacted us in production there out of the blue quite recently. Unless I’ve misunderstood something?

[2018-01-11 21:13] joperezr commented on #567
AFAIK 4.7.1 isn't installed on Azure machines by default, I believe that today if you need to have 4.7.1 on an Azure machine you are required to install it as part of your deployment, but I might be wrong about that. Are you sure that this is the root cause of the issue that you are seeing? If so, then I would contact Azure to see if there is something you need to do in order to get this patch ins

[2018-01-11 21:28] mattbrooks2010 commented on #567
Thanks again for the info.

Yes, I believe this is the root cause of the problem I’m seeing. The affected app was functioning fine for weeks until it consistently started failing due to an unexpected runtime issue on startup. There were no code changes and as far as I know no deployments that triggered the issue. The error thrown led me here — removing the assembly binding for `ValueTuple` fixes t

[2018-01-12 10:39] mattbrooks2010 commented on #567
Re-targeting the app to `net47` has mitigated my issue.

[2018-01-12 13:55] Justodium commented on #542
Same or similar problem
What I have done:
1. having an existing net462 project
2. created a netcore WebApplication with Angular from the Templates of VS2017 15.5.2
3. changed in the webapplication.csproj the TargetFrameworks to `<TargetFrameworks>netstandard2.0;net462</TargetFrameworks> `
4. added all aspnetcore references separately since "Microsoft.AspNetCore.All" isn't supported
5. referenced t

[2018-01-13 18:31] KostaVlev commented on #474
I ran into the same issue too.
I followed the steps in the suggested workaround.

I added:
 `<PreserveCompilationContext>true</PreserveCompilationContext>`

and
[code]

and

[code]

The `xunit.runner.json` looks like

[code]

and

[code]

I am using:

VS2017 V15.5.3
Microsoft.AspNetCore.TestHost 1.1.3
netcoreapp1.1

Running test that returns View throws exception:

[code]

[2018-01-13 18:39] Latency commented on #567
I am just trying to run it as native 4.7.1 without CORE for Main UI.. I have my dependancy libs x-targeted for both Core2.0 and 4.7.1 but that shouldnt do anything. Im sure the problem is with ImageSharp pack v1.0.0-beta002 (latest)..

Because I didn't have any problems prior to installation the issue is I need to not have a binding redirect from the package from System.Runtime.    It is now integ

[2018-01-13 19:46] antonfirsov commented on #567
Guys, do you think @Latency -s [ImageSharp issue](https://github.com/SixLabors/ImageSharp/issues/433) is related to this?

We have a .NET Standard 2.0 target in [our NuGet package](https://www.nuget.org/packages/SixLabors.ImageSharp/) that is being used by a .NET Framework 4.7.1 project.

I was not able to reproduce it. In an empty project everything just works fine.

[2018-01-14 09:07] StefH commented on #455
@johnkwaters and @divega
**System.Linq.Dynamic.Core** does indeed support .NET Standard 2.0 and EF Core 2.0

[2018-01-14 22:39] MelbourneDeveloper opened #621 "UWP Debuggin Broken"
I upgraded to the latest version of UWP 16299. I then upgraded my .NET Standard projects to 2.0. Debugging is completely broken now.  I can't debug anything. I am using Visual Studio 15.5.3

[2018-01-14 22:58] MelbourneDeveloper commented on #621
I cannot recreate the problem in a new solution. I created a new Xamarin Forms solution and upgraded all the NuGet packages and UWP version. When I ran the project. This problem only exists in my current solution which unfortunately, I cannot post here. I have tried creating the .NET Standard 2.0 project from scratch and copying all the files in to it again. It compiles and runs fine, but debuggin

[2018-01-14 23:02] MelbourneDeveloper commented on #621
I thought it might be related to this bug: https://github.com/dotnet/sdk/issues/955 but the PDBs are getting generated fine and they are getting copied to the outputted UWP debug folder.

[2018-01-14 23:05] MelbourneDeveloper commented on #462
This now works, but in some cases I cannot debug .NET Standard 2.0 dlls. https://github.com/dotnet/standard/issues/621

[2018-01-14 23:18] trylek commented on #621
Hi @MelbourneDeveloper! According to my recollection there are two pieces at play w.r.t. the bug #955:

1) Parts of the VS / msbuild infrastructure don't yet properly handle the new flavors of PDB files, namely portable and embedded portable PDB files. You should be able to work around this by using legacy (Windows) PDB files. I understand it might be annoying as the portable PDB files are much mo

[2018-01-14 23:21] MelbourneDeveloper commented on #621
Hi. Thanks for this. 1) How would I use legacy Windows PDB files?

[2018-01-14 23:23] trylek commented on #621
Hi @MelbourneDeveloper! Thanks for your quick response. I actually doubt PDB file flavor can be the cause of your trouble - if you don't know how to switch the PDB format, I would be surprised if you were able to switch it to portable in the first place :-). You go to Debug | <App> properties, then there's this multi-tab dialog showing, so go to Build, the [Advanced] button, that will let you swit

[2018-01-14 23:25] trylek commented on #621
If we're able to rule out portable PDB file usage, we'll need to understand why .NET Native debugging fails for you for other reasons. As a first cut, please try to watch out for any suspect entries in the "output" window that captures debug output from both the app and the runtime, that's a likely place for a potential configuration or late build problem to pop up.

[2018-01-14 23:26] MelbourneDeveloper commented on #621
@trylek , I found your post here on how to do this:

<PropertyGroup>
    <DebugType>pdbonly</DebugType>
</PropertyGroup>

It has allowed me to work around the problem!!!!

Thankyou so much. You have saved my day. I was about to crawl in to the fetal position and start crying.

I strongly suggest that you leave this ticket open and find some way to fix this so that other developers don't hit the sa

[2018-01-14 23:35] trylek commented on #621
Thanks a lot @MelbourneDeveloper for letting me know; it's a relief to know that you're unblocked in your immediate efforts. Amusingly enough, I'm more or less a lame witness to this game just because I got looped in after having written a bit of .NET Native compiler code implementing the consumption of portable PDB files ;-). If I understand you correctly that the primary cause of your problem wa

[2018-01-14 23:40] MelbourneDeveloper commented on #621
Thanks. It's actually morning 10:30am here.

I guess I have a general comment for everyone at Microsoft working on the tooling these days. The tools are in a state of flux. When we create a project with a new format, or structure, or simply download a new update, we never know what has changed and what may be a breaking change. The pain is real. Some days, we literally get nothing done because som

[2018-01-15 00:03] MelbourneDeveloper commented on #621
Thanks again.

[2018-01-15 01:13] trylek commented on #621
FYI @tmat

[2018-01-15 10:20] Timovzl commented on #481
After moving to `PackageReference` (and toying with `AutoGenerateBindingRedirects` and `GenerateBindingRedirectsOutputType`), I am still running into a `FileNotFoundException`.

I am using the Pkcs11Interop NuGet package, which requires netstandard13 *or* net4. It is referenced from LibraryProject, which is netstandard2. That project, in turn, is referenced from WebProject, which is net471.

When

[2018-01-15 18:20] JeroMiya commented on #471
closed issue, but if you got here from a google search, netstandard 2.0 support is on the official roadmap for Unity 2018.1.

[2018-01-16 14:46] loop-evgeny commented on #534
I ran into this as well with .NET Framework 4.6.2 projects and downgrading to  System.Collections.Immutable 1.3.1 worked around the problem.

[2018-01-16 19:18] joperezr commented on #542
cc: @dsplaisted

[2018-01-16 19:32] loop-evgeny commented on #542
In my case this was caused by the System.Immutable.Collections package and the workaround was to downgrade it: https://github.com/dotnet/standard/issues/534

[2018-01-17 03:39] viperxlink opened #623 "dick and pusy"
# Dear , You sent a payment of 50.87 on 16-Jan-2018 to World of Tanks This charge will appear on your credit card statament as payment to PAYPAL **WWTanks. It may take a few moments for this transaction to appear in your account. If you did not make these changes or if you believe an unauthorised person has accessed your account you should change your password as soon as possible from your PayPal

[2018-01-17 03:41] viperxlink opened #624 "(Spam)"
*Spam*

[2018-01-17 03:42] viperxlink opened #625 "(Spam)"
*Spam*

[2018-01-17 03:44] #623 closed

[2018-01-17 03:51] #624 closed

[2018-01-17 03:51] #625 closed

[2018-01-17 12:33] MagicAndre1981 commented on #439
How can I use .net standard 2.0 in UWP that allows targeting Win10 mobile? With FCU as target and minimum I get this message:

`DEP3321: To deploy this application, your deployment target should be running Windows Universal Runtime version 10.0.16299.0 or higher. You currently are running version 10.0.15254.158. Please update your OS, or change your deployment target to a device with the appropria

[2018-01-17 12:35] GeertvanHorrik commented on #439
@MagicAndre1981 been waiting for an answer from the .NET team for about 4 months now. Crickets... so I think we need to draw our own conclusions here :-(

[2018-01-17 12:44] MagicAndre1981 commented on #439
@GeertvanHorrik  ok, so we can wait forever 🤦‍♂️

[2018-01-17 20:00] weshaggard commented on #439
@MagicAndre1981 unfortunately .NET Standard 2.0 requires a minimum of 10.0.16299 (see https://blogs.msdn.microsoft.com/dotnet/2017/10/10/announcing-uwp-support-for-net-standard-2-0/), and you need to be running that version of the OS in order to deploy and run that version of an application.

@GeertvanHorrik sorry about not getting an answer, I don't have enough context to provide a full answer fo

[2018-01-17 20:13] GeertvanHorrik commented on #439
@weshaggard Thanks for trying to answer the question.

Win10M is on a separate "feature" (what a name) branch and stuck on 10.0.15254.x. There were rumors about backporting newer API to at least make it possible to use .NET Standard 2.0 / keep targeting mobile users as well. I, as one of the users that are targeting Microsoft products because marketing told us to do so would like to know whether w

[2018-01-17 20:43] weshaggard commented on #439
Not to say there isn't but I'm not aware of any work to make .NET Standard 2.0 work there.

[2018-01-17 21:20] aspnerd commented on #506
I'm having this same issue in vs 15.5.4 .net framework using a .net standard 2.0 both trying to use system.configuration.configurationmanager.

[2018-01-18 00:30] dmarlow commented on #534
@loop-evgeny how did you know to do that? I've been pulling my hair out with this and tried everything. Yours ended up being the correct solution for me.

[2018-01-18 07:10] MagicAndre1981 commented on #439
@GeertvanHorrik the wired thing is that Microsoft does have a full 16xxx Build targeting the phone, but they simply want to f*ck up with all users and never want to release it to the public:

https://www.youtube.com/watch?v=YNxtMtlrm6U

This was captured last year, when MS accidental released Build 16212.1001 for Fast Ring mobile users. The user got it working on the HP Elite x3 and you see a UI t

[2018-01-18 08:22] loop-evgeny commented on #534
@dmarlow Lucky guess. We upgraded from 1.3.1 to 1.4.0 recently and, while tearing my own hair out, it occurred to me to undo this seemingly-unrelated change just to see what happens.

[2018-01-18 10:52] Justodium commented on #534
@loop-evgeny @dmarlow but I have referenced the Microsoft.AspnetCore.Diagnostics 2.0.1 which depends on System.Reflection.Metadata 1.5.0 which depends again on System.Collection.Immutable **>=1.4.0**!
So I tried downgrading Diagnostics but got other problems!
Am I missing something?

[2018-01-18 14:36] loop-evgeny commented on #506
Also running into this with many .NET Framework 4.6.2 assemblies referencing a .NET Standard 2.0 class library that uses System.Configuration.ConfigurationManager 4.4.1.

[2018-01-18 16:38] ericstj commented on #534
Never downgrade packages.  Missing netstandard.dll means you're missing the .NET 4.6.1 support build infrastructure for netstandard2.0.  @dsplaisted / @terrajobst can you point folks to the docs that describe what's required in order to consume netstandard2.0 libraries in net4.6.1?

[2018-01-18 17:02] dmarlow commented on #534
There are quite a handful of packages that all target NETStandard 2.0 that complain in .NET 4.6.2.

System.Collections.Immutable v1.4.0 (v1.3.1 works)
System.Reflection.Metadata v1.5.0 (v1.4.2 works)
Microsoft.Extensions.Configuration
Microsoft.Extensions.Configuration.Abstractions
Microsoft.Extensions.Primitives
System.Text.Encoding.CodePages
Microsoft.Extensions.Logging.Abstractions https://gith

[2018-01-18 23:43] ericstj opened #626 "Trimming will break when SDK stops running RunResolvePackageDependencies"
I chatted with @nguerrera and he mentioned that SDK will no longer run RunResolvePackageDependencies as part of the build for perf reasons.

We depend on the PackageDependencies item in trimming in order to construct the package graph and will no longer get them.

We should update the target sequencing so that we run RunResolvePackageDependencies ourselves in order to get these items.  We should b

[2018-01-19 16:05] MattJeanes commented on #542
For me, the error was on a VSTS build agent - the solution was to install the latest dotnet SDK `2.1.4` using the `.NET Core Tool Installer` task

[2018-01-19 16:19] MatthewSteeples commented on #542
@MattJeanes - Should be on the images as of the end of today - https://blogs.msdn.microsoft.com/devops/2018/01/19/january-2018-vsts-hosted-agent-image-updates/

[2018-01-19 16:32] MattJeanes commented on #542
@MatthewSteeples Those are the hosted agents, I was using a private one (should have clarified, my bad) - but yes that should solve the issue if anyone is getting it using the hosted agents.

[2018-01-19 17:45] touseefbsb commented on #462
I have latest vs 2017 version installed and I am still having the same problem, I cannot reference to a .net standard library project.

[2018-01-22 07:28] robertmuehsig commented on #425
Somehow I ended up with the same issue:
![image](https://user-images.githubusercontent.com/756703/35209396-08143464-ff4e-11e7-8e7c-c3d34dd88c12.png)

<details>
<summary>project.assets.json</summary>
{
  "version": 3,
  "targets": {
    ".NETStandard,Version=v2.0": {
      "Microsoft.NETCore.Platforms/1.1.0": {
        "type": "package",
        "compile": {
          "lib/netstandard1.0/_._": {}

[2018-01-22 14:14] alex-piccione commented on #552
I have a dotnet Core web api project with targetFramwork .Net 4.7. (not 4.7.1)
[code]

The solution has some library projects that use .Net Standard 2.0.
It is ok.

It was ok.
Until I tried to use XmlSeriazer from Syste.Xml.Serialization.

Now I have that error at runtime when I execute this:
[code]

The libraries do other some jobs without any error, also this one is fine:
var tempString = [somet

[2018-01-22 14:15] alex-piccione commented on #391
I have a dotnet Core web api project with targetFramwork .Net 4.7. (not 4.7.1)
[code]

The solution has some library projects that use .Net Standard 2.0.
It is ok.

It was ok.
Until I tried to use XmlSeriazer from Syste.Xml.Serialization.

Now I have that error at runtime when I execute this:
[code]

The libraries do other some jobs without any error, also this one is fine:
var tempString = [somet

[2018-01-22 15:05] TechnikEmpire commented on #391
Is anyone here using automatic binding redirects when mixing in .net standard with .net full? If you're not, you should be. And you should be deploying all .config files (where the binding redirects are written to). Once I got automatic binding redirects configured all these gross issues went away.

[2018-01-22 20:52] weshaggard commented on #425
@robertmuehsig did you add a reference to the System.Configuration.ConfigurationManager nuget package? It doesn't look like it from the screenshot you posted.

[2018-01-22 22:36] robertmuehsig commented on #425
Uh - this would make sense I guess.

[2018-01-23 23:06] joperezr commented on #391
@alex-piccione Are you using the latest version of VS? do you have binding redirects turned on as @TechnikEmpire suggests? That combination should make your problem go away.

[2018-01-24 09:26] alex-piccione commented on #391
Yes, I'm using the latest VS (15.5.4).
I tried to use:
[code]

and this:
[code]
(https://github.com/dotnet/standard/issues/552)

I also tried this:
   `     <PackageReference Include="NETStandard.Library" Version="2.0.1" />`
that is exactly the same package referenced by the Library projects (.Net Standard)

and  this:
   ` <Reference Include="netstandard" />`

I tried also to reference the
`NETSt

[2018-01-24 09:56] cincuranet opened #628 "Adding ITuple to .NET Standard"
The `ITuple` interface is available in .NET Core 2.0 and .NET Framework 4.7.1. Is there anything preventing it being added to .NET Standard as well? The `ValueTuple` itself is part of .NET Standard.

[2018-01-25 00:56] weshaggard commented on #628
It will be considered for the next version of the standard but we don't have a timeline for it yet.

[2018-01-25 11:27] archanasoni opened #629 "Question:Is there a common api to load unmanaged dll in .net standard 2.0 ?"
Hi,

We're working to have .net standard 2.0 support for IBM .Net Provider. We have dependency on unmanaged\native dll and currently we are loading it via LoadUnmanagedDllFromPath(..) from System.Runtime.Loader pkg.
We want our package to work with Full Framework as well.. Since System.Runtime.Loader pkg do not support FullFramework, we need to figure out alternate way of loading unmanaged dll.
On

[2018-01-25 12:17] JPhilC commented on #555
Been off this project for a while but I am now back and will give this a try when I do the next release.

[2018-01-25 17:37] joperezr commented on #555
Actually we did a bit more investigation in here, and the problem is not at build time, in fact, I believe that you should be able to "F5" your app (assuming you are using the latest VS) and everything should work smoothly. The problem here is with ClickOnce itself, when it creates the package for deployment, it tries to filter out some assemblies from your bin folder that it believes should alrea

[2018-01-26 09:19] JPhilC commented on #555
Thanks for the update, what is the best way for me to watch for a fix being released? You are correct by the way, it is only when the application is run after being installed using ClickOnce that the problem manifests itself.

[2018-01-26 17:17] joperezr commented on #555
I'll make sure we will update this thread once that fix goes in. Unfortunately, we haven't got an ETA yet from the ClickOnce team, but we do know that they are working on the fix now.

[2018-01-26 18:31] mquelcutti opened #632 "DataAnnotaions in .net core misbehaving"
Hi the range for dataannotaions does not seem to work or the (0) for the display attib correctly if you put in range of 1 250 it always errors after you enter any chars. Additionally if you try to use the {0} {1} {2} the param (0) never shows the display attrib. The {0] is puling in min length and {1) max length and you cant get the display name  eg

      [Required(ErrorMessage ="{0} is required"

[2018-01-28 10:11] jbe2277 commented on #555
I stumbled into the same issue with my open source application. The app uses Roslyn which needs `System.IO.Compression`. ClickOnce seems not to list this assembly and so it is missing during execution. Furthermore, a lot NuGet assemblies are wrongly listed in Application Files with **Prerequisite (Auto)**. I had manually change them to **Include**.

**Reproduce**
Source: https://github.com/jbe2277

[2018-01-29 16:20] manuelelucchi commented on #629
I'm interested too

[2018-01-29 21:13] weshaggard opened #635 "Fix all the interop APIs in netstandard ref"
See https://github.com/dotnet/standard/pull/631 which fixes some of them but we should go through the rest of the ref to ensure that all of the structs and COM interfaces are corrected.

See also https://github.com/dotnet/buildtools/issues/1880 which would help find and fix these.

[2018-01-29 21:33] weshaggard commented on #632
Issue moved to [dotnet/corefx #26654](https://github.com/dotnet/corefx/issues/26654) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-29 21:33] #632 closed

[2018-01-29 21:37] weshaggard commented on #629
There currently isn't a way to do it from .NET Standard library today. There is a proposal to add some new APIs, see https://github.com/dotnet/corefx/issues/17135, but I don't know if or when those will be usable by .NET Standard library.

I suspect the best you can do today is to cross-compile and use the APIs for the particular framework.

[2018-01-29 21:37] #629 closed

[2018-01-30 14:04] tlycken commented on #567
This needs to be listed and linked in the release notes for .NET 4.7.1. After Windows installed updates on Friday of last week, I've spent days looking for a fix or even a workaround for this before finally finding at least the latter here. (Luckily I happened to control all the libraries I had this problem with, so I could easily add a `net461` tfm to the target frameworks in all cases.)

[2018-01-30 14:40] ditux opened #637 "ProjectInSolution class is not recognised in .Net Standard 2.0"
Hello,

I am writing a c# automation application that requires "ProjectInSolution" class which i understand is only available on the .NET Framework. I am targeting the .NET Standard 2.0 and would like to know if there is an alternative?

Thanks

[2018-01-30 15:18] ditux commented on #637
Ignore. I had to install Microsoft.Build nuget package.

[2018-01-30 15:18] #637 closed

[2018-01-31 07:10] Petermarcu commented on #628
@weshaggard should we start creating issues and labeling them with something to track candidates for the next rev of .NET Standard regardless of when it may be?

[2018-01-31 09:43] ditux commented on #637
But that is restored with .NET 4.6. Is this going to work on a linux instance?

[2018-02-01 11:38] stijnvanbossuyt commented on #555
Any news on this issue? I'm running into a similar problem. ClickOnce publish does not include System.Net.Http into Application Files instead it includes System.Net.Http.Rtc resulting in an assembly not found exception..

[2018-02-01 21:31] reyou opened #639 "VS 2017 can build multi-target project but cli "dotnet build" fails."
I am following documentation at https://docs.microsoft.com/en-us/dotnet/core/tutorials/libraries#how-to-multitarget
I can build project with VS 2017,  but "dotnet build" gives following error:

Build FAILED.

**To Reproduce:**

1- Create a stand-alone .net standard 2.0 project with following .csproj

[code]

2- Add `MultitargetLib.cs` file from following link:
https://docs.microsoft.com/en-us/dotn

[2018-02-01 21:52] #639 closed

[2018-02-01 21:53] reyou commented on #639
Sorry, this was my mistake. VS was failing as well, just errors were not popping up.

[2018-02-02 17:09] colgreen opened #640 "Support for XDocument.LoadAsync()"
XDocument.LoadAsync() is available in dotnet core 2.0 but not .NET Standard 2.0. We have encountered a few scenarios recently where this would have been useful.

The the workarounds we have are:

1) Do a synchronous Load() and have a thread blocked waiting for IO.

2) An asynchronous load into memory (e.g. sourceStream.CopyToAsnc(tempMemoryStream) and then do an synchronous load from the MemoryStr

[2018-02-03 22:53] dlech commented on #595
All of the `Marshal.*UTF8*` methods should be added at the same time too.

[2018-02-05 15:09] Sergio0694 opened #641 "API to check memory usage on UWP (the Process class is not supported)"
Hello, this is related to #327 and you can see my original question on StackOverflow [here](https://stackoverflow.com/questions/48622947/how-to-get-process-memory-from-both-net-standard-2-0-and-uwp/48623215?noredirect=1#comment84245854_48623215).

Basically, the issue is that using:

   ```var memory = System.Diagnostics.Process.GetCurrentProcess().PrivateMemorySize64;```

Crashes on UWP. In DEBUG

[2018-02-05 19:30] joperezr commented on #555
Unfortunately no news yet. I'll internally ping the ClickOnce team again to see if they have an ETA.

[2018-02-05 19:56] joperezr commented on #555
Talked to the ClickOnce team offline, seems like the fix is tentatively targeting VS 15.8.

[2018-02-07 08:16] nzain commented on #498
This issue is not resolved and the workaround described in #529 **does not work for me**. Why is this ticket closed (without reason) ?

[2018-02-07 10:09] nzain commented on #567
I've tested the described workaround on a net462 WPF clickonce project published from VS2017 - did not work. The app crashes and my log says
[code]
when instantiating the first (main) viewmodel of the WPF application.

A few weeks ago we successfully published from VS2015 on net46 without any netstandard dependencies, of course. Unfortunately, we did not even see this issue during the upgrades, si

[2018-02-07 10:11] nzain commented on #529
I've tested the described workaround on a net462 WPF clickonce project published from VS2017 - did not work. The app crashes and my log says
[code]
when instantiating the first (main) viewmodel of the WPF application.

A few weeks ago we successfully published from VS2015 on net46 without any netstandard dependencies, of course. Unfortunately, we did not even see this issue during the upgrades, si

[2018-02-07 10:16] JPhilC commented on #529
At the moment I think your only option is to publish to a staging area, edit the config file to change the version range of the affected assemblies then save as and resign the manifest files using mageui. See my earlier post for more details. That is the way I am currently deploying with clickonce.

[2018-02-07 10:58] nzain commented on #529
I can confirm that simply targeting net471 _would_ resolve my issue, but that does not work on all company machines, since 471 only installs on some very specific win10 versions not available on our wsus. We give up (restored last working net46 clickonce version without netstandard dependencies) and wait.

[2018-02-07 17:50] joperezr commented on #498
I believe this issue was closed as a dupe since we in fact have #529 plus we also have #555. In short, there is no current workaround for ClickOnce applications unfortunately when they are hitting this and are running on 4.7.1 or 4.7. We have contacted the ClickOnce team and they are currently working on a solution to this problem that is targeting the VS 15.8 release timeframe. I'll keep the two

[2018-02-07 22:13] NArnott commented on #529
net471 doesn't appear to solve my issue, and I'm also concerned that net471 is limited on the windows versions. We are not very much in a stuck situation. We need to use nuget packages that have dependencies on .net standard 1.1 (such as Microsoft.Extensions.Logging), which only has a netstandard1.1 version. Once we pull those kind of nugets into a WPF app that uses clickonce, our deploys fail.

I

[2018-02-07 22:14] kevingoos commented on #529
I am looking into the same deploy issue, and like @nzain said, upgrading to 4.7.1 will limit the windows versions. Hope there will be a fix soon?

[2018-02-07 22:16] joperezr commented on #529
Yes, we are very sorry you are hitting these issues. We have identified the problem and have contacted the clickOnce team in order for them to fix this ASAP. The fix is on track to make it to VS 15.8.

[2018-02-07 23:17] #68 closed

[2018-02-08 09:51] kevingoos commented on #529
@joperezr and is there any info about when this vs version will be released?

[2018-02-08 10:01] Shashanka77 commented on #529
Has anyone tried adding these dlls to the project as content ?

[2018-02-08 10:42] kevingoos commented on #529
@Shashanka77 no not tried this yet, feel free to try!

[2018-02-08 13:03] ddobrev opened #642 "ServicePoint.ConnectionLeaseTimeout throws NotImplementedException"
It's currently added but not implemented - I use it in a Xamarin.Forms project. This property is crucial for optimal work with HttpClient: http://www.nimaara.com/2016/11/01/beware-of-the-net-httpclient/, https://byterot.blogspot.bg/2016/07/singleton-httpclient-dns.html. There also exists a related issue for .NET Core at https://github.com/dotnet/corefx/issues/11224.

[2018-02-08 17:23] joperezr commented on #529
I believe timelines for releases are not defined yet, but I'll try to find out and update this thread.

[2018-02-08 17:30] NArnott commented on #529
@Shashanka77 I just tried the dlls as content files, as it seems to work. It seems that in general Click Once blacklists any assembly that matches one that exists in the .NET Framework, such as System.Runtime or System.IO. Assembly names like System.IO.Compression doesn't exist in the framework, so makes it into clickonce deployments by default.

Adding as content files (which I have about 10 that

[2018-02-09 12:31] Looooooka opened #643 "System.IO.FileNotFoundException: 'Could not load file or assembly 'System.ServiceModel.Security, Version=4.0.3.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.'"
Ported my library to .NET Standard
Referenced it in a 4.6.2 .NET project.
If I use DnsEndpointIdentity in the library I get the exception.
Even though it is supposedly compatible?
Tried referencing the System.IdentityModel and System.ServiceModel.Security dlls but it just doesn't work.
Any idea which dll needs to be referenced in a .NET project for this to work?
Perhaps something needs to be added

[2018-02-09 23:59] weshaggard commented on #643
When you say you reference the System.ServiceModel.Security dll how did you do that? I think what you need to do is reference the System..ServiceModel.Security nuget package (https://www.nuget.org/packages/System.ServiceModel.Security/).

[2018-02-10 00:34] laksh-parab opened #646 "Referencing NET Standard 1.6 project causes web api to return json"
This is one of the weird issue i have seen and here are the steps to reproduce

1> Create new Web API project in VS 2017 with Target Framework 4.6.2
2> Add Controller that returns a Stream
[code]
3> Run the application and invoke the api in IE 11 (use correct port #)
http://localhost:40005/api/report/download

The browser should download a EXCEL file and you should be able to open EXCEL file.

5>

[2018-02-10 01:08] shanselman commented on #481
Still hitting this in 2018. What's the plan to make this suck less?

[2018-02-10 01:11] cblaze22 commented on #481
Ditto

[2018-02-10 01:47] hamarb123 opened #647 "[Feature-Request] N-bit sized int and floating point types"
I propose we should be able to have N-bit sized int and floating point types.
Here is how it could work:

Obviously we already have the following:
- int 1 / uint 1 (bool)
- uint 8 (byte)
- int 8 (sbyte)
- uint 16, 32 and 64 (ushort, uint and ulong)
- int 16, 32 and 64 (short, int and long)
- float 32 (single)
- float 64 (double)

But what about the following:
- (u)int 2 (2 bits)
- (u)int 4 (4 bits

[2018-02-10 01:49] Inrego commented on #621
<PropertyGroup>
        <DebugType>pdbonly</DebugType>
    </PropertyGroup>

Worked for me too. I had the same issue, and I was going crazy over why debugging didn't work. Thank you!

[2018-02-11 02:43] danmosemsft commented on #647
Issue moved to [dotnet/corefx #27033](https://github.com/dotnet/corefx/issues/27033) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-11 02:43] #647 closed

[2018-02-11 02:45] danmosemsft commented on #642
Could you point to where it throws? In .NET Core it just is a no op.

[2018-02-11 02:46] danmosemsft commented on #609
@leecow can you help update the fwlink?

[2018-02-11 08:10] ddobrev commented on #642
I linked that issue as an example. My own issue is about .NET Standard. Just create a Xamarin.Forms application and try using the property.

[2018-02-12 02:53] Leon99 commented on #391
ASP.NET app targeting 4.7.1, solution is a mix of .NET FX and .NET Standard projects. VS 15.5.6 with .NET Core SDK 2.1.4 installed. The only advice from this thread that helped to avoid

was adding
`    <Reference Include="netstandard">
      <Private>True</Private>
    </Reference>`
to the web app project.

[2018-02-12 19:41] terrajobst commented on #609
I think that's part of what we need to figure out :-)

I've started an email thread with you, @richlander, and @jongalloway  to talk about an idea I had earlier.

[2018-02-12 21:00] chadAtGA opened #649 ".net core console app reference .net standard class library with nuget pkg by file not project."
I created a simple .net core 2.0 console project and a simple .net standard 2.0 class library. I add a ref to the nuget package StackExchange.Redis and then use the redis in my class library. I build the release version of my standard 2.0 class library. Then I try and reference that dll by browsing not by project. I startup my console and it says that it cannot find the stackexchange redis dll. I

[2018-02-13 03:43] DaniLebredo commented on #462
Using VS2017, I had to set my Minimum version to **build 16299**. Then the IDE automatically downloaded and installed the required SDK.
After compiling the errors went away.

[2018-02-13 13:54] Ruud-cb opened #650 "Duplicate 'Compile' items were included. Resources"
I am getting the known error that is listed on this page:
https://github.com/dotnet/core/blob/master/release-notes/1.0/sdk/1.0-rc3-default-compile-items.md

While it sounds obvious to delete all the Compile items, it simply doesn't work. When you remove them the Resources.resx and the Resources.Designer.cs become separate items and after that I am unable to refer to them from all my other 10 proje

[2018-02-13 17:10] Ruud-cb commented on #650
After actually trying to use it, it didn't even compile. So I removed above code again.

Turns out I needed to delete the Designer from all the Resources.xx.resx and remove the Custom Tool section in the properties (no code generation) and leave the Designer.cs for the main one (Resources.resx).  Then I had to edit all of them to notify it had changed. After that I could build and reference to it

[2018-02-13 22:11] NiteLordz commented on #476
I am now having this issue as well. I created an Azure Function (HttpTrigger).  It runs locally and even runs while deployed to Azure. However, it fails during CI check-in using VSTS with the same error message as above. I have tried the code workaround, I have tried added System.ValueTuple thru NuGet, all have failed. Is there a solution to have this build in VSTS?

[2018-02-15 13:57] MANYAM-HARI opened #652 ".net core 2.0 dependencies issue"
![image](https://user-images.githubusercontent.com/14251849/36260023-17bf766c-1286-11e8-80af-09336a210ab3.png)
![capture](https://user-images.githubusercontent.com/14251849/36260045-280e2b9e-1286-11e8-9ef7-ec22e87a1a73.PNG)

[2018-02-17 15:16] ne1410s commented on #410
@weshaggard TYVM for the workaround. Worked a treat. Although now I have a million new compiler warnings since my Stylecop analysers in the .NET Standard project are now being included in my .NET 4.6.1 unit tests :/

[2018-02-18 00:17] JamesNK opened #654 "netstandard2.0 errors - The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'."
I have a class library that is completely successful with net45 or netstandard1.3. But adding netstandard2.0 to the TargetFrameworks generates thousands of errors:

[code]

Build the repo here to see the problem is action - https://github.com/JamesNK/Newtonsoft.Json.Schema/tree/netstandard2-broken

[2018-02-18 10:17] dasMulli commented on #654
The project file contains

[code]

which is a version that doesn't yet know about netstandard2.0.

[2018-02-18 20:55] JamesNK commented on #654
Ah, removing that fixed it. Thanks 👍

[2018-02-18 20:55] #654 closed

[2018-02-19 13:28] vrykov commented on #529
@joperezr are there any news about this issue? This is real pain for me

[2018-02-19 13:38] onovotny commented on #529
@NArnott What if you use a glob? I had to do something similar, for similar reasons, for the WAP packaging project for Desktop Bridge apps. Adding the entire output directory of the app as content, with the right Link path, did the trick:

https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/afe915819a7411113c5043f53cfb3355cd66bf24/PackageExplorer.Package/PackageExplorer.Package.wappr

[2018-02-19 15:45] NArnott commented on #529
@onovotny Thanks for the trick. I tried it, and started getting errors from clickonce that files were already installed. Looks like any assembly that is referenced both in the project as a dll, and as content (per your work-around), would end up in the click-once manifest twice, causing it to fail to download on a user machine. Any ideas how to solve that problem?

[2018-02-19 15:48] onovotny commented on #529
You'd need a dedup step, or an exclude. depending on how many files are duplicated, it could be easiest to just have `Exclude="..\foo\bar.dll;..\foo\zed.dll"`.

[2018-02-19 15:51] onovotny commented on #529
If you can get the already referenced items as a set of items, then you can also do `Exclude="@(TheItems)"`

[2018-02-20 05:35] godrose opened #655 ".NET Standard project does not bring its package-originated dependencies with it"
Let's say I have two projects: A targeting .NET Framework 4.6.1 and B targeting .NET Standard 2.0
The B project has a C dependency; this dependency is supplied by the correspondent NuGet package.
A also references B. When I hit 'Build' I see that B output is copied to the A output folder which is the expected result. I also expect the C dependency to be copied as well. However this doesn't happen.